</ul></div><p><div class='dtree' id='sidebartree'>
								<script type="text/javascript">/*<![CDATA[*/
									// TreeAndMenu1.1.1, 2009-07-29
									tree = new dTree('tamsidebartree');
									for (i in tree.icon) tree.icon[i] = '/wiki/extensions/TreeAndMenu/'+tree.icon[i];
									tree.config.useLines = false;
									tree.add(0,-1,'<a href=\"/wiki/index.php/Main_Page\" title=\"Main Page\"> OpenSees Wiki</a>');
									tamsidebartree = tree;
									tamsidebartree.add(1, 0, '<a href="http://opensees.berkeley.edu" class="external text" rel="nofollow">Main_Page</a>');
tamsidebartree.add(2, 0, '<a href="/wiki/index.php/Main_Page" title="Main Page"> OpenSees Wiki</a>');
tamsidebartree.add(3, 0, '<a href="http://opensees.berkeley.edu/community/index.php" class="external text" rel="nofollow">Message Board</a>');
tamsidebartree.add(4, 0, '<a href="/wiki/index.php/Command_Manual" title="Command Manual">Command_Manual</a>');
tamsidebartree.add(5, 4, '<a href="/wiki/index.php/Modeling_Commands" title="Modeling Commands">Modeling_Commands</a>');
tamsidebartree.add(6, 5, '<a href="/wiki/index.php/Model_command" title="Model command"> model </a>');
tamsidebartree.add(7, 5, '<a href="/wiki/index.php/UniaxialMaterial_Command" title="UniaxialMaterial Command"> uniaxialMaterial</a>');
tamsidebartree.add(8, 5, '<a href="/wiki/index.php/NDMaterial_Command" title="NDMaterial Command"> ndMaterial</a>');
tamsidebartree.add(9, 5, '<a href="/wiki/index.php/FrictionModel_Command" title="FrictionModel Command"> frictionModel</a>');
tamsidebartree.add(10, 5, '<a href="/wiki/index.php/Section_Command" title="Section Command"> section</a>');
tamsidebartree.add(11, 5, '<a href="/wiki/index.php/Geometric_Transformation_Command" title="Geometric Transformation Command"> geometricTransf</a>');
tamsidebartree.add(12, 5, '<a href="/wiki/index.php/Element_Command" title="Element Command">element</a>');
tamsidebartree.add(13, 5, '<a href="/wiki/index.php/Node_command" title="Node command"> node</a>');
tamsidebartree.add(14, 5, ' sp commands');
tamsidebartree.add(15, 14, ' <a href="/wiki/index.php/Fix_command" title="Fix command"> fix</a>');
tamsidebartree.add(16, 14, ' <a href="/wiki/index.php/FixX_command" title="FixX command"> fixX</a>');
tamsidebartree.add(17, 14, ' <a href="/wiki/index.php/FixY_command" title="FixY command"> fixY</a>');
tamsidebartree.add(18, 14, ' <a href="/wiki/index.php/FixZ_command" title="FixZ command"> fixZ</a>');
tamsidebartree.add(19, 5, ' mp commands');
tamsidebartree.add(20, 19, ' <a href="/wiki/index.php/EqualDOF_command" title="EqualDOF command"> equalDOF</a>');
tamsidebartree.add(21, 19, ' <a href="/wiki/index.php/RigidDiaphragm_command" title="RigidDiaphragm command"> rigidDiaphragm</a>');
tamsidebartree.add(22, 19, ' <a href="/wiki/index.php/RigidLink_command" title="RigidLink command"> rigidLink</a>');
tamsidebartree.add(23, 5, '<a href="/wiki/index.php/Time_Series_Command" title="Time Series Command"> timeSeries</a>');
tamsidebartree.add(24, 5, '<a href="/wiki/index.php/Pattern_Command" title="Pattern Command">pattern</a>');
tamsidebartree.add(25, 5, '<a href="/wiki/index.php/Mass_Command" title="Mass Command"> mass</a>');
tamsidebartree.add(26, 5, ' block commands');
tamsidebartree.add(27, 26, ' <a href="/wiki/index.php/Block2D_Command" title="Block2D Command"> block2D</a>');
tamsidebartree.add(28, 26, ' <a href="/wiki/index.php/Block3D_Command" title="Block3D Command"> block3D</a>');
tamsidebartree.add(29, 5, '<a href="/wiki/index.php/Region_Command" title="Region Command"> region</a>');
tamsidebartree.add(30, 5, '<a href="/wiki/index.php/Rayleigh_Damping_Command" title="Rayleigh Damping Command">rayleigh</a>');
tamsidebartree.add(31, 4, '<a href="/wiki/index.php/Analysis_Commands" title="Analysis Commands">Analysis Commands</a>');
tamsidebartree.add(32, 31, '<a href="/wiki/index.php/Constraints_Command" title="Constraints Command">constraints Command</a>');
tamsidebartree.add(33, 31, '<a href="/wiki/index.php/Numberer_Command" title="Numberer Command">numberer Command</a>');
tamsidebartree.add(34, 31, '<a href="/wiki/index.php/System_Command" title="System Command">system Command</a>');
tamsidebartree.add(35, 31, '<a href="/wiki/index.php/Test_Command" title="Test Command">test Command</a>');
tamsidebartree.add(36, 31, '<a href="/wiki/index.php/Algorithm_Command" title="Algorithm Command">algorithm Command</a>');
tamsidebartree.add(37, 31, '<a href="/wiki/index.php/Integrator_Command" title="Integrator Command">integrator Command</a>');
tamsidebartree.add(38, 31, '<a href="/wiki/index.php/Analysis_Command" title="Analysis Command">analysis Command</a>');
tamsidebartree.add(39, 31, '<a href="/wiki/index.php/Eigen_Command" title="Eigen Command">eigen Command</a>');
tamsidebartree.add(40, 31, '<a href="/wiki/index.php/Analyze_Command" title="Analyze Command">analyze Command</a>');
tamsidebartree.add(41, 4, '<a href="/wiki/index.php/Output_Commands" title="Output Commands">Output Commands</a>');
tamsidebartree.add(42, 41, '<a href="/wiki/index.php/Recorder_Command" title="Recorder Command"> recorder</a>');
tamsidebartree.add(43, 41, '<a href="/wiki/index.php/Record_Command" title="Record Command"> record</a>');
tamsidebartree.add(44, 41, '<a href="/wiki/index.php/Print_Command" title="Print Command"> print</a>');
tamsidebartree.add(45, 41, '<a href="/wiki/index.php/LogFile_Command" title="LogFile Command"> logFile</a>');
tamsidebartree.add(46, 41, '<a href="/wiki/index.php/RealTime_Output_Commands" title="RealTime Output Commands">RealTime_Output_Commands</a>');
tamsidebartree.add(47, 4, '<a href="/wiki/index.php/Misc_Commands" title="Misc Commands">Misc Commands</a>');
tamsidebartree.add(48, 47, '<a href="/wiki/index.php/EleResponse_Command" title="EleResponse Command">eleResponse Command</a>');
tamsidebartree.add(49, 47, '<a href="/wiki/index.php/GetTime_Command" title="GetTime Command">getTime Command</a>');
tamsidebartree.add(50, 47, '<a href="/wiki/index.php?title=GetEleTags_Command&amp;action=edit&amp;redlink=1" class="new" title="GetEleTags Command (page does not exist)">getEleTags Command</a>');
tamsidebartree.add(51, 47, '<a href="/wiki/index.php?title=GetNodeTags&amp;action=edit&amp;redlink=1" class="new" title="GetNodeTags (page does not exist)">getNodeTags</a>');
tamsidebartree.add(52, 47, '<a href="/wiki/index.php/LoadConst_Command" title="LoadConst Command">loadConst Command</a>');
tamsidebartree.add(53, 47, '<a href="/wiki/index.php/NodeCoord_Command" title="NodeCoord Command">nodeCoord Command</a>');
tamsidebartree.add(54, 47, '<a href="/wiki/index.php/NodeDisp_Command" title="NodeDisp Command">nodeDisp Command</a>');
tamsidebartree.add(55, 47, '<a href="/wiki/index.php/NodeVel_Command" title="NodeVel Command">nodeVel Command</a>');
tamsidebartree.add(56, 47, '<a href="/wiki/index.php/NodeAccel_Command" title="NodeAccel Command">nodeAccel Command</a>');
tamsidebartree.add(57, 47, '<a href="/wiki/index.php/NodeEigenvector_Command" title="NodeEigenvector Command">nodeEigenvector Command</a>');
tamsidebartree.add(58, 47, '<a href="/wiki/index.php/NodeBounds" title="NodeBounds">nodeBounds</a>');
tamsidebartree.add(59, 47, '<a href="/wiki/index.php/Print_Command" title="Print Command">print Command</a>');
tamsidebartree.add(60, 47, '<a href="/wiki/index.php/Remove_Command" title="Remove Command">remove Command</a>');
tamsidebartree.add(61, 47, '<a href="/wiki/index.php/Reset_Command" title="Reset Command">reset Command</a>');
tamsidebartree.add(62, 47, '<a href="/wiki/index.php/TestIter" title="TestIter">testIter</a>');
tamsidebartree.add(63, 47, '<a href="/wiki/index.php/TestNorms" title="TestNorms">testNorms</a>');
tamsidebartree.add(64, 47, '<a href="/wiki/index.php/Wipe_Command" title="Wipe Command">wipe Command</a>');
tamsidebartree.add(65, 47, '<a href="/wiki/index.php/Exit_Command" title="Exit Command">exit Command</a>');
tamsidebartree.add(66, 0, '<a href="/wiki/index.php/OpenSees_User" title="OpenSees User"> User Pages</a>');
tamsidebartree.add(67, 0, '<a href="/wiki/index.php/OpenSees_Developer" title="OpenSees Developer"> Developer Pages</a>');

									document.getElementById('sidebartree').innerHTML = tamsidebartree.toString();
									
								/*]]>*/</script>
							</div>
</p><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" dir="ltr">
<head>
<title>Corotational Truss Element - OpenSeesWiki</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="generator" content="MediaWiki 1.17alpha" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="search" type="application/opensearchdescription+xml" href="/wiki/opensearch_desc.php" title="OpenSeesWiki (en)" />
<link rel="alternate" type="application/atom+xml" title="OpenSeesWiki Atom feed" href="/wiki/index.php?title=Special:RecentChanges&amp;feed=atom" />
<link rel="stylesheet" href="/wiki/skins/common/shared.css?267" media="screen" />
<link rel="stylesheet" href="/wiki/skins/common/commonPrint.css?267" media="print" />
<link rel="stylesheet" href="/wiki/skins/monobook/main.css?267" media="screen" />
<!--[if lt IE 5.5000]><link rel="stylesheet" href="/wiki/skins/monobook/IE50Fixes.css?267" media="screen" /><![endif]-->
<!--[if IE 5.5000]><link rel="stylesheet" href="/wiki/skins/monobook/IE55Fixes.css?267" media="screen" /><![endif]-->
<!--[if IE 6]><link rel="stylesheet" href="/wiki/skins/monobook/IE60Fixes.css?267" media="screen" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" href="/wiki/skins/monobook/IE70Fixes.css?267" media="screen" /><![endif]-->
<link rel="stylesheet" href="/wiki/index.php?title=MediaWiki:Common.css&amp;usemsgcache=yes&amp;ctype=text%2Fcss&amp;smaxage=18000&amp;action=raw&amp;maxage=18000" />
<link rel="stylesheet" href="/wiki/index.php?title=MediaWiki:Print.css&amp;usemsgcache=yes&amp;ctype=text%2Fcss&amp;smaxage=18000&amp;action=raw&amp;maxage=18000" media="print" />
<link rel="stylesheet" href="/wiki/index.php?title=MediaWiki:Monobook.css&amp;usemsgcache=yes&amp;ctype=text%2Fcss&amp;smaxage=18000&amp;action=raw&amp;maxage=18000" />
<link rel="stylesheet" href="/wiki/index.php?title=-&amp;action=raw&amp;maxage=18000&amp;gen=css" />
<script>
var skin="monobook",
stylepath="/wiki/skins",
wgUrlProtocols="http\\:\\/\\/|https\\:\\/\\/|ftp\\:\\/\\/|irc\\:\\/\\/|gopher\\:\\/\\/|telnet\\:\\/\\/|nntp\\:\\/\\/|worldwind\\:\\/\\/|mailto\\:|news\\:|svn\\:\\/\\/",
wgArticlePath="/wiki/index.php/$1",
wgScriptPath="/wiki",
wgScriptExtension=".php",
wgScript="/wiki/index.php",
wgVariantArticlePath=false,
wgActionPaths={},
wgServer="http://opensees.berkeley.edu",
wgCanonicalNamespace="",
wgCanonicalSpecialPageName=false,
wgNamespaceNumber=0,
wgPageName="Corotational_Truss_Element",
wgTitle="Corotational Truss Element",
wgAction="view",
wgArticleId=593,
wgIsArticle=true,
wgUserName=null,
wgUserGroups=null,
wgUserLanguage="en",
wgContentLanguage="en",
wgBreakFrames=false,
wgCurRevisionId=8800,
wgVersion="1.17alpha",
wgEnableAPI=true,
wgEnableWriteAPI=true,
wgSeparatorTransformTable=["", ""],
wgDigitTransformTable=["", ""],
wgMainPageTitle="Main Page",
wgFormattedNamespaces={"-2": "Media", "-1": "Special", "0": "", "1": "Talk", "2": "User", "3": "User talk", "4": "OpenSeesWiki", "5": "OpenSeesWiki talk", "6": "File", "7": "File talk", "8": "MediaWiki", "9": "MediaWiki talk", "10": "Template", "11": "Template talk", "12": "Help", "13": "Help talk", "14": "Category", "15": "Category talk"},
wgNamespaceIds={"media": -2, "special": -1, "": 0, "talk": 1, "user": 2, "user_talk": 3, "openseeswiki": 4, "openseeswiki_talk": 5, "file": 6, "file_talk": 7, "mediawiki": 8, "mediawiki_talk": 9, "template": 10, "template_talk": 11, "help": 12, "help_talk": 13, "category": 14, "category_talk": 15, "image": 6, "image_talk": 7},
wgSiteName="OpenSeesWiki",
wgCategories=[],
wgRestrictionEdit=[],
wgRestrictionMove=[];
</script><script src="/wiki/skins/common/wikibits.js?267"></script>
<script type="text/javascript" src="/wiki/extensions/TreeAndMenu/dtree.js"><!-- TreeAndMenu --></script>

<script src="/wiki/skins/common/ajax.js?267"></script>
<script src="/wiki/index.php?title=-&amp;action=raw&amp;gen=js&amp;useskin=monobook&amp;267"></script>

</head>
<body class="mediawiki ltr ns-0 ns-subject page-Corotational_Truss_Element skin-monobook">
<div id="globalWrapper">
<div id="column-content"><div id="content" >
	<a id="top"></a>
	
	<h1 id="firstHeading" class="firstHeading">Corotational Truss Element</h1>
	<div id="bodyContent">
		<h3 id="siteSub">From OpenSeesWiki</h3>
		<div id="contentSub"></div>
		<div id="jump-to-nav">Jump to: <a href="#column-one">navigation</a>, <a href="#searchInput">search</a></div>
		<!-- start content -->
<p>
							<ul class='dmenu' id='509700377b87f'>
<li class="even"><a href="/wiki/index.php/Command_Manual" >Command_Manual</a>
<ul><li class="even"><a href="/wiki/index.php/Introduction_To_Tcl" > Tcl Commands</a></li>
<li class="odd"><a href="/wiki/index.php/Modeling_Commands" >Modeling_Commands</a>
<ul><li class="even"><a href="/wiki/index.php/Model_command" > model </a></li>
<li class="odd"><a href="/wiki/index.php/UniaxialMaterial_Command" > uniaxialMaterial</a></li>
<li class="even"><a href="/wiki/index.php/NDMaterial_Command" > ndMaterial</a></li>
<li class="odd"><a href="/wiki/index.php/FrictionModel_Command" > frictionModel</a></li>
<li class="even"><a href="/wiki/index.php/Section_Command" > section</a></li>
<li class="odd"><a href="/wiki/index.php/Geometric_Transformation_Command" > geometricTransf</a></li>
<li class="even"><a href="/wiki/index.php/Element_Command" >element</a></li>
<li class="odd"><a href="/wiki/index.php/Node_command" > node</a></li>
<li class="even"> sp commands
<ul><li class="even"> <a href="/wiki/index.php/Fix_command" > fix</a></li>
<li class="odd"> <a href="/wiki/index.php/FixX_command" > fixX</a></li>
<li class="even"> <a href="/wiki/index.php/FixY_command" > fixY</a></li>
<li class="odd"> <a href="/wiki/index.php/FixZ_command" > fixZ</a></li>
</ul></li><li class="odd"> mp commands
<ul><li class="even"> <a href="/wiki/index.php/EqualDOF_command" > equalDOF</a></li>
<li class="odd"> <a href="/wiki/index.php/RigidDiaphragm_command" > rigidDiaphragm</a></li>
<li class="even"> <a href="/wiki/index.php/RigidLink_command" > rigidLink</a></li>
</ul></li><li class="even"><a href="/wiki/index.php/Time_Series_Command" > timeSeries</a></li>
<li class="odd"><a href="/wiki/index.php/Pattern_Command" >pattern</a></li>
<li class="even"><a href="/wiki/index.php/Mass_Command" > mass</a></li>
<li class="odd"> block commands
<ul><li class="odd"> <a href="/wiki/index.php/Block2D_Command" > block2D</a></li>
<li class="even"> <a href="/wiki/index.php/Block3D_Command" > block3D</a></li>
</ul></li><li class="even"><a href="/wiki/index.php/Region_Command" > region</a></li>
<li class="odd"><a href="/wiki/index.php/Rayleigh_Damping_Command" >rayleigh</a></li>
</ul></li><li class="even"><a href="/wiki/index.php/Analysis_Commands" >Analysis Commands</a>
<ul><li class="even"><a href="/wiki/index.php/Constraints_Command" >constraints Command</a></li>
<li class="odd"><a href="/wiki/index.php/Numberer_Command" >numberer Command</a></li>
<li class="even"><a href="/wiki/index.php/System_Command" >system Command</a></li>
<li class="odd"><a href="/wiki/index.php/Test_Command" >test Command</a></li>
<li class="even"><a href="/wiki/index.php/Algorithm_Command" >algorithm Command</a></li>
<li class="odd"><a href="/wiki/index.php/Integrator_Command" >integrator Command</a></li>
<li class="even"><a href="/wiki/index.php/Analysis_Command" >analysis Command</a></li>
<li class="odd"><a href="/wiki/index.php/Eigen_Command" >eigen Command</a></li>
<li class="even"><a href="/wiki/index.php/Analyze_Command" >analyze Command</a></li>
</ul></li><li class="odd"><a href="/wiki/index.php/Output_Commands" >Output Commands</a>
<ul><li class="odd"><a href="/wiki/index.php/Recorder_Command" > recorder</a></li>
<li class="even"><a href="/wiki/index.php/Record_Command" > record</a></li>
<li class="odd"><a href="/wiki/index.php/Print_Command" > print</a></li>
<li class="even"><a href="/wiki/index.php/LogFile_Command" > logFile</a></li>
<li class="odd"><a href="/wiki/index.php/RealTime_Output_Commands" >RealTime_Output_Commands</a></li>
</ul></li><li class="even"><a href="/wiki/index.php/Misc_Commands" >Misc Commands</a>
<ul><li class="even"><a href="/wiki/index.php/EleResponse_Command" >eleResponse Command</a></li>
<li class="odd"><a href="/wiki/index.php/GetTime_Command" >getTime Command</a></li>
<li class="even"><a href="/wiki/index.php?title=GetEleTags_Command&amp;action=edit&amp;redlink=1" class="new" >getEleTags Command</a></li>
<li class="odd"><a href="/wiki/index.php?title=GetNodeTags&amp;action=edit&amp;redlink=1" class="new" >getNodeTags</a></li>
<li class="even"><a href="/wiki/index.php/LoadConst_Command" >loadConst Command</a></li>
<li class="odd"><a href="/wiki/index.php/NodeCoord_Command" >nodeCoord Command</a></li>
<li class="even"><a href="/wiki/index.php/NodeDisp_Command" >nodeDisp Command</a></li>
<li class="odd"><a href="/wiki/index.php/NodeVel_Command" >nodeVel Command</a></li>
<li class="even"><a href="/wiki/index.php/NodeAccel_Command" >nodeAccel Command</a></li>
<li class="odd"><a href="/wiki/index.php/NodeEigenvector_Command" >nodeEigenvector Command</a></li>
<li class="even"><a href="/wiki/index.php/NodeBounds" >nodeBounds</a></li>
<li class="odd"><a href="/wiki/index.php/Print_Command" >print Command</a></li>
<li class="even"><a href="/wiki/index.php/Remove_Command" >remove Command</a></li>
<li class="odd"><a href="/wiki/index.php/Reset_Command" >reset Command</a></li>
<li class="even"><a href="/wiki/index.php/TestIter" >testIter</a></li>
<li class="odd"><a href="/wiki/index.php/TestNorms" >testNorms</a></li>
<li class="even"><a href="/wiki/index.php/Wipe_Command" >wipe Command</a></li>
<li class="odd"><a href="/wiki/index.php/Exit_Command" >exit Command</a></li>
</ul></li><li class="odd"><a href="/wiki/index.php/DataBase_Commands" >DataBase Commands</a>
<ul><li class="even"><a href="/wiki/index.php?title=Template:DataBaseCommandsMenu&amp;action=edit&amp;redlink=1" class="new" >Template:DataBaseCommandsMenu</a></li>
</ul></li></ul></li></ul>
							<script type="text/javascript">/*<![CDATA[*/
								if (window.attachEvent) {
									var sfEls = document.getElementById('509700377b87f').getElementsByTagName('li');
									for (var i=0; i<sfEls.length; i++) {
										sfEls[i].onmouseover=function() { this.className+=' sfhover'; }
										sfEls[i].onmouseout=function()  { this.className=this.className.replace(new RegExp(' sfhover *'),''); }
									}
								}
							/*]]>*/</script>
							
<br />
</p>
<hr />
<p><br />
</p><p>This command is used to construct a corotational truss element object. There are two ways to construct a corotational truss element object:
</p><p>One way is to specify an area and a UniaxialMaterial identifier:
</p>
<table>
<tr>
<td style="background:yellow; color:black; width:800px"> <b>element corotTruss $eleTag $iNode $jNode $A $matTag &lt;-rho $rho&gt;</b>
</td></tr></table>
<p><br />
the other is to specify a Section identifier:
</p>
<table>
<tr>
<td style="background:yellow; color:black; width:800px"> <b>element corotTrussSection $eleTag $iNode $jNode $secTag &lt;-rho $rho&gt;</b>
</td></tr></table>
<p><br />
</p>
<hr />
<p><br />
</p>
<table>
<tr>
<td style="width:150px"> <b>$eleTag</b> </td><td>unique element object tag
</td></tr>
<tr>
<td> <b>$iNode $jNode</b> </td><td> end nodes
</td></tr>
<tr>
<td> <b>$A</b> </td><td> cross-sectional area of element
</td></tr>
<tr>
<td> <b>$matTag</b> </td><td> tag associated with previously-defined UniaxialMaterial
</td></tr>
<tr>
<td> <b>$secTag</b> </td><td> tag associated with previously-defined Section
</td></tr>
<tr>
<td> <b>$rho</b> </td><td> optional, mass per unit length, default = 0.0
</td></tr></table>
<p><br />
</p><p>NOTE:
</p>
<ul><li>When constructed with a UniaxialMaterial object, the corotational truss element considers strain-rate effects, and is thus suitable for use as a damping element.
</li></ul>
<ul><li>The valid queries to a truss element when creating an ElementRecorder object are 'axialForce,' 'stiff,' deformations,' 'material matArg1 matArg2...,' 'section sectArg1 sectArg2...' There will be more queries after the interface for the methods involved have been developed further.
</li></ul>
<ul><li>For backward compatability the command '<i>element corotTruss $eleTag $iNode $jNode $secTag</i> will still work and produce a CorotTrussSection element.
</li></ul>
<ul><li> CorotTruss DOES include Rayleigh damping by default.  Truss DOES NOT.
</li></ul>
<p>EXAMPLE:
</p><p>element truss 1 2 4 5.5 9; # truss element with tag 1 added between nodes 2 and 4 with area 5.5 that uses material 9
</p>
<hr />
<p>Code Developed by: <span style="color:blue"> fmk </span>
</p>
<!-- 
NewPP limit report
Preprocessor node count: 14/1000000
Post-expand include size: 12245/2097152 bytes
Template argument size: 0/2097152 bytes
Expensive parser function count: 0/100
-->

<!-- Saved in parser cache with key mediawiki-mediawiki:pcache:idhash:593-0!1!0!!en!2!edit=0 and timestamp 20121104235431 -->
<div class="printfooter">
Retrieved from "<a href="http://opensees.berkeley.edu/wiki/index.php/Corotational_Truss_Element">http://opensees.berkeley.edu/wiki/index.php/Corotational_Truss_Element</a>"</div>
		<div id='catlinks' class='catlinks catlinks-allhidden'></div>		<!-- end content -->
				<div class="visualClear"></div>
	</div>
</div></div>
<div id="column-one">
	<div id="p-cactions" class="portlet">
		<h5>Views</h5>
		<div class="pBody">
			<ul>
				 <li id="ca-nstab-main" class="selected"><a href="/wiki/index.php/Corotational_Truss_Element" title="View the content page [c]" accesskey="c">Page</a></li>
				 <li id="ca-talk"><a href="/wiki/index.php/Talk:Corotational_Truss_Element" title="Discussion about the content page [t]" accesskey="t">Discussion</a></li>
				 <li id="ca-viewsource"><a href="/wiki/index.php?title=Corotational_Truss_Element&amp;action=edit" title="This page is protected.&#10;You can view its source [e]" accesskey="e">View source</a></li>
				 <li id="ca-history"><a href="/wiki/index.php?title=Corotational_Truss_Element&amp;action=history" title="Past revisions of this page [h]" accesskey="h">History</a></li>
			</ul>
		</div>
	</div>
	<div class="portlet" id="p-personal">
		<h5>Personal tools</h5>
		<div class="pBody">
			<ul>
				<li id="pt-login"><a href="/wiki/index.php?title=Special:UserLogin&amp;returnto=Corotational_Truss_Element" title="You are encouraged to log in; however, it is not mandatory [o]" accesskey="o">Log in / create account</a></li>
			</ul>
		</div>
	</div>
	<div class="portlet" id="p-logo">
		<a style="background-image: url(/wiki/skins/common/images/logo.png);" href="/wiki/index.php/Main_Page" title="Visit the main page"></a>
	</div>
	<script type="text/javascript"> if (window.isMSIE55) fixalpha(); </script>
	<div class='generated-sidebar portlet' id='p-navigation'>
		<h5>Navigation</h5>
		<div class='pBody'>
			<ul>
				<li id="n-OpenSees-Home"><a href="http://opensees.berkeley.edu">OpenSees Home</a></li>
				<li id="n-Message-Board"><a href="http://opensees.berkeley.edu/index.php">Message Board</a></li>
				<li id="n-OpenSees-Wiki"><a href="http://opensees.berkeley.edu/wiki/index.php">OpenSees Wiki</a></li>
				<li id="n-User-Documetation"><a href="http://opensees.berkeley.edu/wiki/index.php/OpenSees_User">User Documetation</a></li>
				<li id="n-Download-Page"><a href="http://opensees.berkeley.edu/OpenSees/user/download.php">Download Page</a></li>
				<li id="n-Source-Code"><a href="http://opensees.berkeley.edu/WebSVN/listing.php?repname=OpenSees&amp;path=%2Ftrunk%2FSRC">Source Code</a></li>
			</ul>
		</div>
	</div>
	<div id="p-search" class="portlet">
		<h5><label for="searchInput">Search</label></h5>
		<div id="searchBody" class="pBody">
			<form action="/wiki/index.php" id="searchform">
				<input type='hidden' name="title" value="Special:Search"/>
				<input id="searchInput" title="Search OpenSeesWiki" accesskey="f" type="search" name="search" />
				<input type='submit' name="go" class="searchButton" id="searchGoButton"	value="Go" title="Go to a page with this exact name if exists" />&nbsp;
				<input type='submit' name="fulltext" class="searchButton" id="mw-searchButton" value="Search" title="Search the pages for this text" />
			</form>
		</div>
	</div>
	<div class="portlet" id="p-tb">
		<h5>Toolbox</h5>
		<div class="pBody">
			<ul>
				<li id="t-whatlinkshere"><a href="/wiki/index.php/Special:WhatLinksHere/Corotational_Truss_Element" title="List of all wiki pages that link here [j]" accesskey="j">What links here</a></li>
				<li id="t-recentchangeslinked"><a href="/wiki/index.php/Special:RecentChangesLinked/Corotational_Truss_Element" title="Recent changes in pages linked from this page [k]" accesskey="k">Related changes</a></li>
<li id="t-specialpages"><a href="/wiki/index.php/Special:SpecialPages" title="List of all special pages [q]" accesskey="q">Special pages</a></li>
				<li id="t-print"><a href="/wiki/index.php?title=Corotational_Truss_Element&amp;printable=yes" rel="alternate" title="Printable version of this page [p]" accesskey="p">Printable version</a></li>				<li id="t-permalink"><a href="/wiki/index.php?title=Corotational_Truss_Element&amp;oldid=8800" title="Permanent link to this revision of the page">Permanent link</a></li>			</ul>
		</div>
	</div>
</div><!-- end of the left (by default at least) column -->
<div class="visualClear"></div>
<div id="footer">
	<div id="f-poweredbyico"><a href="http://www.mediawiki.org/"><img src="/wiki/skins/common/images/poweredby_mediawiki_88x31.png" height="31" width="88" alt="Powered by MediaWiki" /></a></div>
	<ul id="f-list">
		<li id="lastmod"> This page was last modified on 5 July 2011, at 22:18.</li>
		<li id="viewcount">This page has been accessed 1,714 times.</li>
		<li id="privacy"><a href="/wiki/index.php/OpenSeesWiki:Privacy_policy" title="OpenSeesWiki:Privacy policy">Privacy policy</a></li>
		<li id="about"><a href="/wiki/index.php/OpenSeesWiki:About" title="OpenSeesWiki:About">About OpenSeesWiki</a></li>
		<li id="disclaimer"><a href="/wiki/index.php/OpenSeesWiki:General_disclaimer" title="OpenSeesWiki:General disclaimer">Disclaimers</a></li>
	</ul>
</div>
</div>

<script>if (window.runOnloadHook) runOnloadHook();</script>
<!-- Served in 0.157 secs. --><script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
		  var pageTracker = _gat._getTracker("UA-2431545-1");
		  pageTracker._trackPageview();
		} catch(err) {}</script>

</body></html>
