</ul></div><p><div class='dtree' id='sidebartree'>
								<script type="text/javascript">/*<![CDATA[*/
									// TreeAndMenu1.1.1, 2009-07-29
									tree = new dTree('tamsidebartree');
									for (i in tree.icon) tree.icon[i] = '/wiki/extensions/TreeAndMenu/'+tree.icon[i];
									tree.config.useLines = false;
									tree.add(0,-1,'<a href=\"/wiki/index.php/Main_Page\" title=\"Main Page\"> OpenSees Wiki</a>');
									tamsidebartree = tree;
									tamsidebartree.add(1, 0, '<a href="http://opensees.berkeley.edu" class="external text" rel="nofollow">Main_Page</a>');
tamsidebartree.add(2, 0, '<a href="/wiki/index.php/Main_Page" title="Main Page"> OpenSees Wiki</a>');
tamsidebartree.add(3, 0, '<a href="http://opensees.berkeley.edu/community/index.php" class="external text" rel="nofollow">Message Board</a>');
tamsidebartree.add(4, 0, '<a href="/wiki/index.php/Command_Manual" title="Command Manual">Command_Manual</a>');
tamsidebartree.add(5, 4, '<a href="/wiki/index.php/Modeling_Commands" title="Modeling Commands">Modeling_Commands</a>');
tamsidebartree.add(6, 5, '<a href="/wiki/index.php/Model_command" title="Model command"> model </a>');
tamsidebartree.add(7, 5, '<a href="/wiki/index.php/UniaxialMaterial_Command" title="UniaxialMaterial Command"> uniaxialMaterial</a>');
tamsidebartree.add(8, 5, '<a href="/wiki/index.php/NDMaterial_Command" title="NDMaterial Command"> ndMaterial</a>');
tamsidebartree.add(9, 5, '<a href="/wiki/index.php/FrictionModel_Command" title="FrictionModel Command"> frictionModel</a>');
tamsidebartree.add(10, 5, '<a href="/wiki/index.php/Section_Command" title="Section Command"> section</a>');
tamsidebartree.add(11, 5, '<a href="/wiki/index.php/Geometric_Transformation_Command" title="Geometric Transformation Command"> geometricTransf</a>');
tamsidebartree.add(12, 5, '<a href="/wiki/index.php/Element_Command" title="Element Command">element</a>');
tamsidebartree.add(13, 5, '<a href="/wiki/index.php/Node_command" title="Node command"> node</a>');
tamsidebartree.add(14, 5, ' sp commands');
tamsidebartree.add(15, 14, ' <a href="/wiki/index.php/Fix_command" title="Fix command"> fix</a>');
tamsidebartree.add(16, 14, ' <a href="/wiki/index.php/FixX_command" title="FixX command"> fixX</a>');
tamsidebartree.add(17, 14, ' <a href="/wiki/index.php/FixY_command" title="FixY command"> fixY</a>');
tamsidebartree.add(18, 14, ' <a href="/wiki/index.php/FixZ_command" title="FixZ command"> fixZ</a>');
tamsidebartree.add(19, 5, ' mp commands');
tamsidebartree.add(20, 19, ' <a href="/wiki/index.php/EqualDOF_command" title="EqualDOF command"> equalDOF</a>');
tamsidebartree.add(21, 19, ' <a href="/wiki/index.php/RigidDiaphragm_command" title="RigidDiaphragm command"> rigidDiaphragm</a>');
tamsidebartree.add(22, 19, ' <a href="/wiki/index.php/RigidLink_command" title="RigidLink command"> rigidLink</a>');
tamsidebartree.add(23, 5, '<a href="/wiki/index.php/Time_Series_Command" title="Time Series Command"> timeSeries</a>');
tamsidebartree.add(24, 5, '<a href="/wiki/index.php/Pattern_Command" title="Pattern Command">pattern</a>');
tamsidebartree.add(25, 5, '<a href="/wiki/index.php/Mass_Command" title="Mass Command"> mass</a>');
tamsidebartree.add(26, 5, ' block commands');
tamsidebartree.add(27, 26, ' <a href="/wiki/index.php/Block2D_Command" title="Block2D Command"> block2D</a>');
tamsidebartree.add(28, 26, ' <a href="/wiki/index.php/Block3D_Command" title="Block3D Command"> block3D</a>');
tamsidebartree.add(29, 5, '<a href="/wiki/index.php/Region_Command" title="Region Command"> region</a>');
tamsidebartree.add(30, 5, '<a href="/wiki/index.php/Rayleigh_Damping_Command" title="Rayleigh Damping Command">rayleigh</a>');
tamsidebartree.add(31, 4, '<a href="/wiki/index.php/Analysis_Commands" title="Analysis Commands">Analysis Commands</a>');
tamsidebartree.add(32, 31, '<a href="/wiki/index.php/Constraints_Command" title="Constraints Command">constraints Command</a>');
tamsidebartree.add(33, 31, '<a href="/wiki/index.php/Numberer_Command" title="Numberer Command">numberer Command</a>');
tamsidebartree.add(34, 31, '<a href="/wiki/index.php/System_Command" title="System Command">system Command</a>');
tamsidebartree.add(35, 31, '<a href="/wiki/index.php/Test_Command" title="Test Command">test Command</a>');
tamsidebartree.add(36, 31, '<a href="/wiki/index.php/Algorithm_Command" title="Algorithm Command">algorithm Command</a>');
tamsidebartree.add(37, 31, '<a href="/wiki/index.php/Integrator_Command" title="Integrator Command">integrator Command</a>');
tamsidebartree.add(38, 31, '<a href="/wiki/index.php/Analysis_Command" title="Analysis Command">analysis Command</a>');
tamsidebartree.add(39, 31, '<a href="/wiki/index.php/Eigen_Command" title="Eigen Command">eigen Command</a>');
tamsidebartree.add(40, 31, '<a href="/wiki/index.php/Analyze_Command" title="Analyze Command">analyze Command</a>');
tamsidebartree.add(41, 4, '<a href="/wiki/index.php/Output_Commands" title="Output Commands">Output Commands</a>');
tamsidebartree.add(42, 41, '<a href="/wiki/index.php/Recorder_Command" title="Recorder Command"> recorder</a>');
tamsidebartree.add(43, 41, '<a href="/wiki/index.php/Record_Command" title="Record Command"> record</a>');
tamsidebartree.add(44, 41, '<a href="/wiki/index.php/Print_Command" title="Print Command"> print</a>');
tamsidebartree.add(45, 41, '<a href="/wiki/index.php/LogFile_Command" title="LogFile Command"> logFile</a>');
tamsidebartree.add(46, 41, '<a href="/wiki/index.php/RealTime_Output_Commands" title="RealTime Output Commands">RealTime_Output_Commands</a>');
tamsidebartree.add(47, 4, '<a href="/wiki/index.php/Misc_Commands" title="Misc Commands">Misc Commands</a>');
tamsidebartree.add(48, 47, '<a href="/wiki/index.php/EleResponse_Command" title="EleResponse Command">eleResponse Command</a>');
tamsidebartree.add(49, 47, '<a href="/wiki/index.php/GetTime_Command" title="GetTime Command">getTime Command</a>');
tamsidebartree.add(50, 47, '<a href="/wiki/index.php?title=GetEleTags_Command&amp;action=edit&amp;redlink=1" class="new" title="GetEleTags Command (page does not exist)">getEleTags Command</a>');
tamsidebartree.add(51, 47, '<a href="/wiki/index.php?title=GetNodeTags&amp;action=edit&amp;redlink=1" class="new" title="GetNodeTags (page does not exist)">getNodeTags</a>');
tamsidebartree.add(52, 47, '<a href="/wiki/index.php/LoadConst_Command" title="LoadConst Command">loadConst Command</a>');
tamsidebartree.add(53, 47, '<a href="/wiki/index.php/NodeCoord_Command" title="NodeCoord Command">nodeCoord Command</a>');
tamsidebartree.add(54, 47, '<a href="/wiki/index.php/NodeDisp_Command" title="NodeDisp Command">nodeDisp Command</a>');
tamsidebartree.add(55, 47, '<a href="/wiki/index.php/NodeVel_Command" title="NodeVel Command">nodeVel Command</a>');
tamsidebartree.add(56, 47, '<a href="/wiki/index.php/NodeAccel_Command" title="NodeAccel Command">nodeAccel Command</a>');
tamsidebartree.add(57, 47, '<a href="/wiki/index.php/NodeEigenvector_Command" title="NodeEigenvector Command">nodeEigenvector Command</a>');
tamsidebartree.add(58, 47, '<a href="/wiki/index.php/NodeBounds" title="NodeBounds">nodeBounds</a>');
tamsidebartree.add(59, 47, '<a href="/wiki/index.php/Print_Command" title="Print Command">print Command</a>');
tamsidebartree.add(60, 47, '<a href="/wiki/index.php/Remove_Command" title="Remove Command">remove Command</a>');
tamsidebartree.add(61, 47, '<a href="/wiki/index.php/Reset_Command" title="Reset Command">reset Command</a>');
tamsidebartree.add(62, 47, '<a href="/wiki/index.php/TestIter" title="TestIter">testIter</a>');
tamsidebartree.add(63, 47, '<a href="/wiki/index.php/TestNorms" title="TestNorms">testNorms</a>');
tamsidebartree.add(64, 47, '<a href="/wiki/index.php/Wipe_Command" title="Wipe Command">wipe Command</a>');
tamsidebartree.add(65, 47, '<a href="/wiki/index.php/Exit_Command" title="Exit Command">exit Command</a>');
tamsidebartree.add(66, 0, '<a href="/wiki/index.php/OpenSees_User" title="OpenSees User"> User Pages</a>');
tamsidebartree.add(67, 0, '<a href="/wiki/index.php/OpenSees_Developer" title="OpenSees Developer"> Developer Pages</a>');

									document.getElementById('sidebartree').innerHTML = tamsidebartree.toString();
									
								/*]]>*/</script>
							</div>
</p><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" dir="ltr">
<head>
<title>Flexure-Shear Interaction Displacement-Based Beam-Column Element - OpenSeesWiki</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="generator" content="MediaWiki 1.17alpha" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="search" type="application/opensearchdescription+xml" href="/wiki/opensearch_desc.php" title="OpenSeesWiki (en)" />
<link rel="alternate" type="application/atom+xml" title="OpenSeesWiki Atom feed" href="/wiki/index.php?title=Special:RecentChanges&amp;feed=atom" />
<link rel="stylesheet" href="/wiki/skins/common/shared.css?267" media="screen" />
<link rel="stylesheet" href="/wiki/skins/common/commonPrint.css?267" media="print" />
<link rel="stylesheet" href="/wiki/skins/monobook/main.css?267" media="screen" />
<!--[if lt IE 5.5000]><link rel="stylesheet" href="/wiki/skins/monobook/IE50Fixes.css?267" media="screen" /><![endif]-->
<!--[if IE 5.5000]><link rel="stylesheet" href="/wiki/skins/monobook/IE55Fixes.css?267" media="screen" /><![endif]-->
<!--[if IE 6]><link rel="stylesheet" href="/wiki/skins/monobook/IE60Fixes.css?267" media="screen" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" href="/wiki/skins/monobook/IE70Fixes.css?267" media="screen" /><![endif]-->
<link rel="stylesheet" href="/wiki/index.php?title=MediaWiki:Common.css&amp;usemsgcache=yes&amp;ctype=text%2Fcss&amp;smaxage=18000&amp;action=raw&amp;maxage=18000" />
<link rel="stylesheet" href="/wiki/index.php?title=MediaWiki:Print.css&amp;usemsgcache=yes&amp;ctype=text%2Fcss&amp;smaxage=18000&amp;action=raw&amp;maxage=18000" media="print" />
<link rel="stylesheet" href="/wiki/index.php?title=MediaWiki:Monobook.css&amp;usemsgcache=yes&amp;ctype=text%2Fcss&amp;smaxage=18000&amp;action=raw&amp;maxage=18000" />
<link rel="stylesheet" href="/wiki/index.php?title=-&amp;action=raw&amp;maxage=18000&amp;gen=css" />
<script>
var skin="monobook",
stylepath="/wiki/skins",
wgUrlProtocols="http\\:\\/\\/|https\\:\\/\\/|ftp\\:\\/\\/|irc\\:\\/\\/|gopher\\:\\/\\/|telnet\\:\\/\\/|nntp\\:\\/\\/|worldwind\\:\\/\\/|mailto\\:|news\\:|svn\\:\\/\\/",
wgArticlePath="/wiki/index.php/$1",
wgScriptPath="/wiki",
wgScriptExtension=".php",
wgScript="/wiki/index.php",
wgVariantArticlePath=false,
wgActionPaths={},
wgServer="http://opensees.berkeley.edu",
wgCanonicalNamespace="",
wgCanonicalSpecialPageName=false,
wgNamespaceNumber=0,
wgPageName="Flexure-Shear_Interaction_Displacement-Based_Beam-Column_Element",
wgTitle="Flexure-Shear Interaction Displacement-Based Beam-Column Element",
wgAction="view",
wgArticleId=743,
wgIsArticle=true,
wgUserName=null,
wgUserGroups=null,
wgUserLanguage="en",
wgContentLanguage="en",
wgBreakFrames=false,
wgCurRevisionId=3202,
wgVersion="1.17alpha",
wgEnableAPI=true,
wgEnableWriteAPI=true,
wgSeparatorTransformTable=["", ""],
wgDigitTransformTable=["", ""],
wgMainPageTitle="Main Page",
wgFormattedNamespaces={"-2": "Media", "-1": "Special", "0": "", "1": "Talk", "2": "User", "3": "User talk", "4": "OpenSeesWiki", "5": "OpenSeesWiki talk", "6": "File", "7": "File talk", "8": "MediaWiki", "9": "MediaWiki talk", "10": "Template", "11": "Template talk", "12": "Help", "13": "Help talk", "14": "Category", "15": "Category talk"},
wgNamespaceIds={"media": -2, "special": -1, "": 0, "talk": 1, "user": 2, "user_talk": 3, "openseeswiki": 4, "openseeswiki_talk": 5, "file": 6, "file_talk": 7, "mediawiki": 8, "mediawiki_talk": 9, "template": 10, "template_talk": 11, "help": 12, "help_talk": 13, "category": 14, "category_talk": 15, "image": 6, "image_talk": 7},
wgSiteName="OpenSeesWiki",
wgCategories=[],
wgRestrictionEdit=[],
wgRestrictionMove=[];
</script><script src="/wiki/skins/common/wikibits.js?267"></script>
<script type="text/javascript" src="/wiki/extensions/TreeAndMenu/dtree.js"><!-- TreeAndMenu --></script>

<script src="/wiki/skins/common/ajax.js?267"></script>
<script src="/wiki/index.php?title=-&amp;action=raw&amp;gen=js&amp;useskin=monobook&amp;267"></script>

</head>
<body class="mediawiki ltr ns-0 ns-subject page-Flexure-Shear_Interaction_Displacement-Based_Beam-Column_Element skin-monobook">
<div id="globalWrapper">
<div id="column-content"><div id="content" >
	<a id="top"></a>
	
	<h1 id="firstHeading" class="firstHeading">Flexure-Shear Interaction Displacement-Based Beam-Column Element</h1>
	<div id="bodyContent">
		<h3 id="siteSub">From OpenSeesWiki</h3>
		<div id="contentSub"></div>
		<div id="jump-to-nav">Jump to: <a href="#column-one">navigation</a>, <a href="#searchInput">search</a></div>
		<!-- start content -->
<p>
							<ul class='dmenu' id='50967c618104e'>
<li class="even"><a href="/wiki/index.php/Command_Manual" >Command_Manual</a>
<ul><li class="even"><a href="/wiki/index.php/Introduction_To_Tcl" > Tcl Commands</a></li>
<li class="odd"><a href="/wiki/index.php/Modeling_Commands" >Modeling_Commands</a>
<ul><li class="even"><a href="/wiki/index.php/Model_command" > model </a></li>
<li class="odd"><a href="/wiki/index.php/UniaxialMaterial_Command" > uniaxialMaterial</a></li>
<li class="even"><a href="/wiki/index.php/NDMaterial_Command" > ndMaterial</a></li>
<li class="odd"><a href="/wiki/index.php/FrictionModel_Command" > frictionModel</a></li>
<li class="even"><a href="/wiki/index.php/Section_Command" > section</a></li>
<li class="odd"><a href="/wiki/index.php/Geometric_Transformation_Command" > geometricTransf</a></li>
<li class="even"><a href="/wiki/index.php/Element_Command" >element</a></li>
<li class="odd"><a href="/wiki/index.php/Node_command" > node</a></li>
<li class="even"> sp commands
<ul><li class="even"> <a href="/wiki/index.php/Fix_command" > fix</a></li>
<li class="odd"> <a href="/wiki/index.php/FixX_command" > fixX</a></li>
<li class="even"> <a href="/wiki/index.php/FixY_command" > fixY</a></li>
<li class="odd"> <a href="/wiki/index.php/FixZ_command" > fixZ</a></li>
</ul></li><li class="odd"> mp commands
<ul><li class="even"> <a href="/wiki/index.php/EqualDOF_command" > equalDOF</a></li>
<li class="odd"> <a href="/wiki/index.php/RigidDiaphragm_command" > rigidDiaphragm</a></li>
<li class="even"> <a href="/wiki/index.php/RigidLink_command" > rigidLink</a></li>
</ul></li><li class="even"><a href="/wiki/index.php/Time_Series_Command" > timeSeries</a></li>
<li class="odd"><a href="/wiki/index.php/Pattern_Command" >pattern</a></li>
<li class="even"><a href="/wiki/index.php/Mass_Command" > mass</a></li>
<li class="odd"> block commands
<ul><li class="odd"> <a href="/wiki/index.php/Block2D_Command" > block2D</a></li>
<li class="even"> <a href="/wiki/index.php/Block3D_Command" > block3D</a></li>
</ul></li><li class="even"><a href="/wiki/index.php/Region_Command" > region</a></li>
<li class="odd"><a href="/wiki/index.php/Rayleigh_Damping_Command" >rayleigh</a></li>
</ul></li><li class="even"><a href="/wiki/index.php/Analysis_Commands" >Analysis Commands</a>
<ul><li class="even"><a href="/wiki/index.php/Constraints_Command" >constraints Command</a></li>
<li class="odd"><a href="/wiki/index.php/Numberer_Command" >numberer Command</a></li>
<li class="even"><a href="/wiki/index.php/System_Command" >system Command</a></li>
<li class="odd"><a href="/wiki/index.php/Test_Command" >test Command</a></li>
<li class="even"><a href="/wiki/index.php/Algorithm_Command" >algorithm Command</a></li>
<li class="odd"><a href="/wiki/index.php/Integrator_Command" >integrator Command</a></li>
<li class="even"><a href="/wiki/index.php/Analysis_Command" >analysis Command</a></li>
<li class="odd"><a href="/wiki/index.php/Eigen_Command" >eigen Command</a></li>
<li class="even"><a href="/wiki/index.php/Analyze_Command" >analyze Command</a></li>
</ul></li><li class="odd"><a href="/wiki/index.php/Output_Commands" >Output Commands</a>
<ul><li class="odd"><a href="/wiki/index.php/Recorder_Command" > recorder</a></li>
<li class="even"><a href="/wiki/index.php/Record_Command" > record</a></li>
<li class="odd"><a href="/wiki/index.php/Print_Command" > print</a></li>
<li class="even"><a href="/wiki/index.php/LogFile_Command" > logFile</a></li>
<li class="odd"><a href="/wiki/index.php/RealTime_Output_Commands" >RealTime_Output_Commands</a></li>
</ul></li><li class="even"><a href="/wiki/index.php/Misc_Commands" >Misc Commands</a>
<ul><li class="even"><a href="/wiki/index.php/EleResponse_Command" >eleResponse Command</a></li>
<li class="odd"><a href="/wiki/index.php/GetTime_Command" >getTime Command</a></li>
<li class="even"><a href="/wiki/index.php?title=GetEleTags_Command&amp;action=edit&amp;redlink=1" class="new" >getEleTags Command</a></li>
<li class="odd"><a href="/wiki/index.php?title=GetNodeTags&amp;action=edit&amp;redlink=1" class="new" >getNodeTags</a></li>
<li class="even"><a href="/wiki/index.php/LoadConst_Command" >loadConst Command</a></li>
<li class="odd"><a href="/wiki/index.php/NodeCoord_Command" >nodeCoord Command</a></li>
<li class="even"><a href="/wiki/index.php/NodeDisp_Command" >nodeDisp Command</a></li>
<li class="odd"><a href="/wiki/index.php/NodeVel_Command" >nodeVel Command</a></li>
<li class="even"><a href="/wiki/index.php/NodeAccel_Command" >nodeAccel Command</a></li>
<li class="odd"><a href="/wiki/index.php/NodeEigenvector_Command" >nodeEigenvector Command</a></li>
<li class="even"><a href="/wiki/index.php/NodeBounds" >nodeBounds</a></li>
<li class="odd"><a href="/wiki/index.php/Print_Command" >print Command</a></li>
<li class="even"><a href="/wiki/index.php/Remove_Command" >remove Command</a></li>
<li class="odd"><a href="/wiki/index.php/Reset_Command" >reset Command</a></li>
<li class="even"><a href="/wiki/index.php/TestIter" >testIter</a></li>
<li class="odd"><a href="/wiki/index.php/TestNorms" >testNorms</a></li>
<li class="even"><a href="/wiki/index.php/Wipe_Command" >wipe Command</a></li>
<li class="odd"><a href="/wiki/index.php/Exit_Command" >exit Command</a></li>
</ul></li><li class="odd"><a href="/wiki/index.php/DataBase_Commands" >DataBase Commands</a>
<ul><li class="even"><a href="/wiki/index.php?title=Template:DataBaseCommandsMenu&amp;action=edit&amp;redlink=1" class="new" >Template:DataBaseCommandsMenu</a></li>
</ul></li></ul></li></ul>
							<script type="text/javascript">/*<![CDATA[*/
								if (window.attachEvent) {
									var sfEls = document.getElementById('50967c618104e').getElementsByTagName('li');
									for (var i=0; i<sfEls.length; i++) {
										sfEls[i].onmouseover=function() { this.className+=' sfhover'; }
										sfEls[i].onmouseout=function()  { this.className=this.className.replace(new RegExp(' sfhover *'),''); }
									}
								}
							/*]]>*/</script>
							
<br />
</p>
<hr />
<p><br />
</p><p>This command is used to construct a dispBeamColumnInt element object, which is a distributed-plasticity, displacement-based beam-column element which includes interaction between flexural and shear components.
</p><p><br />
</p>
<table>
<tr>
<td style="background:yellow; color:black; width:800px"> <b>element dispBeamColumnInt $eleTag $iNode $jNode $numIntgrPts $secTag $transfTag $cRot &lt;-mass $massDens&gt;</b>
</td></tr></table>
<p><br />
</p>
<hr />
<p><br />
</p>
<table>
<tr>
<td style="width:150px"> <b>$eleTag</b> </td><td> unique element object tag
</td></tr>
<tr>
<td><b>$iNode $jNode</b> </td><td> end nodes
</td></tr>
<tr>
<td> <b>$numIntgrPts</b> </td><td> number of integration points along the element.
</td></tr>
<tr>
<td> <b>$secTag</b> </td><td> identifier for previously-defined section object
</td></tr>
<tr>
<td> <b>$transfTag</b> </td><td> identifier for previously-defined coordinate-transformation (CrdTransf) object
</td></tr>
<tr>
<td> <b>$cRot</b> </td><td> identifier for element center of rotation. Fraction of the height distance from bottom to the center of rotation (0 to 1)
</td></tr>
<tr>
<td> <b>$massDens</b> </td><td> element mass density (per unit length), from which a lumped-mass matrix is formed (optional, default=0.0)
</td></tr></table>
<p><br />
NOTE:
</p>
<ol><li>The valid queries to a nonlinear beam-column element when creating an ElementRecorder object are 'force,' and 'section $secNum secArg1 secArg2...' Where $secNum refers to the integration point whose data is to be output.
</li><li>The element requires a special section and special care when numbering the materials. see Discussion below for section command and material numbering.
</li></ol>
<p>EXAMPLE:
</p><p>geomTransf LinearInt 1 
</p><p>element dispBeamColumnInt 1 1 3 2 2 1 0.4 
</p>
<hr />
<p><br />
DISCUSSION:
</p><p>In the original fiber element (Displacement-Based Beam-Column Element) implemented in OpenSees, based on linear interpolation of the curvature and constant axial strain, a third strain component was included to account for shear flexibility. The fiber discretization leads no longer to just uniaxial behavior, but rather a biaxial response by incorporating a membrane material model based on simple uniaxial stress-strain curves for concrete and steel. Although the material models can be cyclic, the element model formulation has been implemented and verified initially for monotonic static analysis. Details of the formulation can be found elsewhere (Massone et al., 2006; Massone 2006). The compatibility equations to relate nodal displacements (6 DOF) and internal strains (axial strain, curvature and shear strain) are defined only in a 2D plane, so that no 3D analysis is possible with this element. It also requires a specific geometric transformation called "LinearInt", which is based on the traditional geometric linear transformation, and therefore no other geometric transformation can be used.
</p><p>The input parameters are the same as the original fiber element, however a new term, the location of the center of rotation (c), is required to distribute transversal displacement between flexural (curvature) and shear (shear strain) components. This parameter is defined as the fraction of the element height (measured from top) that corresponds to the center of curvature.
</p><p>The section formulation required for each element is based also on a similar formulation implemented in OpenSees. However, not all capabilities are included as in the original formulation. The section is defined as a fiber section, but based only in fiber components and not in patch or layer components for simplicity. It has been formulated in this way to make sure that the strip modeling is understood since differently to the standard fiber section analysis the strips in the model with interaction between shear and flexure requires that all the strips are formed with smeared (average) concrete and reinforcement areas.
</p><p>SECTIONAL ANALYSIS
</p><p>The definition of the fiber section is initiated by establishing in the heading of the command the thickness of the section (three in this case to represent boundary elements). The thickness of the element is required to verify equilibrium in the horizontal direction (assuming that same area ratio holds between concrete materials inside a strip in horizontal and vertical directions). For generality, the section is allowed to have three different thicknesses to be able to model barbell or T-shaped walls (Fig. 1). Each thickness may be associated to several strips.
</p><p>Strips are created from concrete and steel materials. Since the strip unit corresponds to the membrane (panel) element, the location of each of them is defined by the fiber coordinate ($yLoc), and therefore, tributary concrete and steel areas inside each strip are located at one same point (Fig. 1). This may difficult the analysis, but the model is based on uniform (smeared) steel and concrete distribution. Even though a center of area (concrete and steel) defined by using a transformed area for steel may be acceptable, in tensile governed elements a better approximation may be using the steel location. For simplicity, the center of area of concrete may be selected for calculations, regarding a reasonable small strip size selection. In the fiber section definition, each strip is defined by fibers with same coordinate, and strips are organized from negative to positive location. Therefore all steel and concrete components of one strip have to be together (one after the other). The change in fiber location tells the program that a different strip is initiated. To complete the strip definition, the horizontal steel reinforcement has to be included. The steel is assumed uniformly distributed in the section, so that it may be located as only one fiber (recommended). In the case of horizontal steel, the component is called as "Hfiber" and the area defined in such fiber corresponds to the total horizontal steel area in one single element (for the entire element). This steel is assumed to be the same for all strips inside the section.
</p><p>For consistency when defining the fiber section, the command requires to define the number of strips within each sub-section with the same thickness, which has to add up the same number of different fiber locations defined in the section (total number of strips). 
</p><p><a href="/wiki/index.php/File:BeamShearFlexure.png" class="image"><img alt="BeamShearFlexure.png" src="/wiki/images/6/66/BeamShearFlexure.png" width="376" height="175" /></a>
</p><p>The original uniaxial definition of the fiber components inside the fiber section recorded only uniaxial stresses and strains for the fiber, and resultant axial force, moment, axial strain and curvature for the section. In the membrane (panel) formulation for the strips, other quantities may be useful to record. At the strip level new recorders have been included: eX (horizontal strain), eY (axial strain), e1 (principal strain in direction 1), e2 (principal strain in direction 2), alpha (angle for principal axis, measured counterclockwise from eY to e1), sX (average horizontal steel stress), sY (average vertical steel stress), s1 (average principal concrete stress in direction 1) and s2 (average principal concrete stress in direction 2). The mentioned recorders are called by sections, so that the output gives the results organized in columns for each strip inside the section, using the same order defined in the fiber section. At the section level, axial strain, curvature, shear strain, resultant axial force, moment and shear force are obtained with the standard recorder forceAndDeformation.
</p><p>Example:
</p><p>recorder Element -file Sect_eX.out -ele 1 section 1 eX
</p><p>recorder Element -file Sect_s2.out -ele 1 section 1 s2
</p><p><br />
This commnand allows the user to construct a FiberSection object. Each FiberSection object is composed of Fibers, with each fiber containing a UniaxialMaterial, an area and a location (y,z). The command to generate FiberSection object contains in <b>{ }</b> the commands to generate all the fibers in the object. To construct a FiberSection and populate it, the following command is used:
</p>
<table style="background:yellow; color:black; width:800px">
<tr>
<td> <b> section FiberInt $secTag -NStrip $nStrip1 $thick1 $nStrip2 $thick2 $nStrip3 $thick3 {</b>
</td></tr>
<tr>
<td> <b><a href="/wiki/index.php/Fiber_Command" title="Fiber Command"> fiber</a>...</b>
</td></tr>
<tr>
<td> <b>Hfiber ...</b>
</td></tr>
<tr>
<td> <b> ... </b>
</td></tr>
<tr>
<td> <b>}</b>
</td></tr></table>
<hr />
<p><br />
</p>
<table>
<tr>
<td style="width:150px"> <b>$sectTag </b> </td><td> unique tag among FiberSections
</td></tr>
<tr>
<td> <b>$thick1</b> </td><td> section thickness 1.
</td></tr>
<tr>
<td> <i>$nStrip1'</i> </td><td> number of strips with thickness $thick1. Considers first $nStrip1 strips in the fiber section with thickness $thick1.
</td></tr>
<tr>
<td> <b>$thick2</b> </td><td> section thickness 2.
</td></tr>
<tr>
<td> <i>$nStrip2'</i> </td><td> number of strips with thickness $thick2. Considers next $nStrip2 strips in the fiber section with thickness $thick2.
</td></tr>
<tr>
<td> <b>$thick3</b> </td><td> section thickness 3.
</td></tr>
<tr>
<td> <i>$nStrip3'</i> </td><td> umber of strips with thickness $thick3. Considers last $nStrip3 strips in the fiber section with thickness $thick3. Total number of strips has to match the fiber section defined.
</td></tr>
<tr>
<td> <b><a href="/wiki/index.php/Fiber_Command" title="Fiber Command"> fiber</a>...</b> </td><td> command to generate cncrete and vertical steel fibers.
</td></tr>
<tr>
<td> <b>Hfiber...</b> </td><td> command to generate horizontal steel fibers
</td></tr>
<tr>
<td> '...<b> </td><td></b>
</td></tr></table>
<p>EXAMPLE:
</p><p>Example:
</p><p>section FiberInt 2 –NStrip 1 6.5 1 2.0 1 6.5 {
</p><p>fiber -25.55 0 15.6 2
</p><p>fiber -25.55 0 1.24 1003
</p><p>fiber 0 0 35.6 2
</p><p>fiber 0 0 0.84 1003
</p><p>fiber +25.55 0 15.6 2
</p><p>fiber +25.55 0 1.24 1003
</p><p>Hfiber 0 0 0.0718 1005
</p><p>} 
</p><p><br />
FIBER MODELLING:
</p><p>As described previously, the section is created based on strips, and each strip consists of vertical fibers (fiber) that represent steel and concrete materials and horizontal fibers (Hfiber) that represent the horizontal steel. Since uniform distribution of reinforcement steel is assumed at strip level, all horizontal steel reinforcement can be included as only one horizontal fiber. The location of such fiber is included in the command just for completeness, but it is not necessary for any calculation. The area required in the Hfiber corresponds to the total steel tributary area present in the element that holds the defined section. The internal numerical scheme defined to achieve equilibrium handles two different types of materials: steel and concrete. Since different steel and concrete stress-strain laws can be implemented and used with this model, the program needs to distinguish between concrete and steel. For simplicity, it has been selected the material tag ($matTag) to define whether a material is concrete or steel. Concrete materials are defined as materials with tag number under (or equal to) 1000 and steel materials use tag numbers over 1000 (see example).
</p><p>HFiber Command
</p>
<table>
<tr>
<td style="background:yellow; color:black; width:800px"> <b>Hfiber $yLoc $zLoc $A $matTag</b>
</td></tr></table>
<p><br />
</p>
<hr />
<p><br />
</p>
<table>
<tr>
<td style="width:150px"> <b>$yLoc</b> </td><td> y coordinate of the fiber in the section (just for completeness, not required in calculations)
</td></tr>
<tr>
<td><b>$zLoc</b> </td><td> z coordinate of the fiber in the section (just for completeness, not required in calculations)
</td></tr>
<tr>
<td> <b>$A</b> </td><td> total steel area located inside the section
</td></tr>
<tr>
<td> <b>$matTag</b> </td><td> identifier for previously-defined material object
</td></tr></table>
<p><br />
Example:
</p><p>uniaxialMaterial Concrete01 2 -3 -0.002 0 -0.01
</p><p>uniaxialMaterial Steel02 1003 60 29000 0.02 20 0.9 0.2 0 0.1 0 0.1
</p><p>uniaxialMaterial Steel02 1005 60 29000 0.02 20 0.9 0.2 0 0.1 0 0.1
</p><p>.
</p><p>.
</p><p>.
</p><p>fiber -25.55 0 15.6 2 # vert. concrete
</p><p>fiber -25.55 0 1.24 1003 # vert. steel
</p><p>Hfiber 0 0 0.0718 1005 # horz. steel
</p><p>NOTE
Note: concrete materials are defined as materials with tag number under (or equal) 1000 and steel materials use tag numbers over 1000 (see example).
</p><p><br />
</p>
<hr />
<p><a href="/wiki/index.php/File:Wall01.tcl" title="File:Wall01.tcl">File:Wall01.tcl</a>
</p>
<pre class="tcl" style="font-family:monospace;">wipe<span style="color: #66cc66;">;</span> model basic -ndm <span style="color: #ff4500;">2</span> -ndf <span style="color: #ff4500;">3</span>
&nbsp;
<span style="color: #ff7700;font-weight:bold;">set</span> tolAx 1.0e-3<span style="color: #66cc66;">;</span> <span style="color: #ff7700;font-weight:bold;">set</span> iterAx <span style="color: #ff4500;">100</span><span style="color: #66cc66;">;</span>
&nbsp;
<span style="color: #ff7700;font-weight:bold;">set</span> tolLatNew 1.0e-6<span style="color: #66cc66;">;</span> <span style="color: #ff7700;font-weight:bold;">set</span> iterLatNew <span style="color: #ff4500;">100</span><span style="color: #66cc66;">;</span>
&nbsp;
<span style="color: #ff7700;font-weight:bold;">set</span> tolLatIni 1.0e-5<span style="color: #66cc66;">;</span> <span style="color: #ff7700;font-weight:bold;">set</span> iterLatIni <span style="color: #ff4500;">1000</span><span style="color: #66cc66;">;</span>
&nbsp;
<span style="color: #ff7700;font-weight:bold;">set</span> dUi <span style="color: #ff4500;">0.02</span><span style="color: #66cc66;">;</span> <span style="color: #808080; font-style: italic;"># Displacement increment</span>
&nbsp;
<span style="color: #ff7700;font-weight:bold;">set</span> maxU <span style="color: #ff4500;">1.6</span><span style="color: #66cc66;">;</span> <span style="color: #808080; font-style: italic;"># Max. Displacement</span>
&nbsp;
<span style="color: #808080; font-style: italic;">#concrete parameters</span>
&nbsp;
<span style="color: #ff7700;font-weight:bold;">set</span> fc -<span style="color: #ff4500;">6.21</span><span style="color: #66cc66;">;</span> <span style="color: #ff7700;font-weight:bold;">set</span> eo -<span style="color: #ff4500;">0.0021</span><span style="color: #66cc66;">;</span> <span style="color: #ff7700;font-weight:bold;">set</span> r <span style="color: #ff4500;">2.91</span><span style="color: #66cc66;">;</span>
&nbsp;
<span style="color: #ff7700;font-weight:bold;">set</span> k <span style="color: #ff4500;">1.36</span><span style="color: #66cc66;">;</span> <span style="color: #ff7700;font-weight:bold;">set</span> alphaC <span style="color: #ff4500;">0.32</span><span style="color: #66cc66;">;</span> <span style="color: #ff7700;font-weight:bold;">set</span> fcr <span style="color: #ff4500;">0.294</span><span style="color: #66cc66;">;</span>
&nbsp;
<span style="color: #ff7700;font-weight:bold;">set</span> ecr <span style="color: #ff4500;">0.00008</span><span style="color: #66cc66;">;</span> <span style="color: #ff7700;font-weight:bold;">set</span> b <span style="color: #ff4500;">0.4</span><span style="color: #66cc66;">;</span> <span style="color: #ff7700;font-weight:bold;">set</span> alphaT <span style="color: #ff4500;">0.08</span><span style="color: #66cc66;">;</span>
&nbsp;
<span style="color: #ff7700;font-weight:bold;">set</span> fcc -<span style="color: #ff4500;">6.91</span><span style="color: #66cc66;">;</span> <span style="color: #ff7700;font-weight:bold;">set</span> ecc -<span style="color: #ff4500;">0.0038</span><span style="color: #66cc66;">;</span> <span style="color: #ff7700;font-weight:bold;">set</span> rcc <span style="color: #ff4500;">1.88</span><span style="color: #66cc66;">;</span>
&nbsp;
<span style="color: #808080; font-style: italic;">#steel parameters</span>
&nbsp;
<span style="color: #ff7700;font-weight:bold;">set</span> fyRed <span style="color: #ff4500;">59.15</span><span style="color: #66cc66;">;</span> <span style="color: #ff7700;font-weight:bold;">set</span> by <span style="color: #ff4500;">0.02</span><span style="color: #66cc66;">;</span> <span style="color: #ff7700;font-weight:bold;">set</span> Ry <span style="color: #ff4500;">1.564</span><span style="color: #66cc66;">;</span>
&nbsp;
<span style="color: #ff7700;font-weight:bold;">set</span> roy <span style="color: #ff4500;">0.00327</span><span style="color: #66cc66;">;</span> <span style="color: #ff7700;font-weight:bold;">set</span> fyBRed <span style="color: #ff4500;">57.33</span><span style="color: #66cc66;">;</span> <span style="color: #ff7700;font-weight:bold;">set</span> byB <span style="color: #ff4500;">0.02</span><span style="color: #66cc66;">;</span>
&nbsp;
<span style="color: #ff7700;font-weight:bold;">set</span> RyB <span style="color: #ff4500;">25.0</span><span style="color: #66cc66;">;</span> <span style="color: #ff7700;font-weight:bold;">set</span> royB <span style="color: #ff4500;">0.0293</span><span style="color: #66cc66;">;</span> <span style="color: #ff7700;font-weight:bold;">set</span> fxRed <span style="color: #ff4500;">59.15</span><span style="color: #66cc66;">;</span>
&nbsp;
<span style="color: #ff7700;font-weight:bold;">set</span> bx <span style="color: #ff4500;">0.02</span><span style="color: #66cc66;">;</span> <span style="color: #ff7700;font-weight:bold;">set</span> Rx <span style="color: #ff4500;">1.564</span><span style="color: #66cc66;">;</span> <span style="color: #ff7700;font-weight:bold;">set</span> rox <span style="color: #ff4500;">0.00327</span><span style="color: #66cc66;">;</span>
&nbsp;
<span style="color: #808080; font-style: italic;">#concrete (confined and unconfined)</span>
&nbsp;
uniaxialMaterial Concrete06 <span style="color: #ff4500;">1</span> <span style="color: #ff3333;">$fcc</span> <span style="color: #ff3333;">$ecc</span> <span style="color: #ff3333;">$rcc</span> <span style="color: #ff4500;">1</span> <span style="color: #ff3333;">$alphaC</span> <span style="color: #ff3333;">$fcr</span> <span style="color: #ff3333;">$ecr</span> <span style="color: #ff3333;">$b</span> <span style="color: #ff3333;">$alphaT</span><span style="color: #66cc66;">;</span>
&nbsp;
uniaxialMaterial Concrete06 <span style="color: #ff4500;">2</span> <span style="color: #ff3333;">$fc</span> <span style="color: #ff3333;">$eo</span> <span style="color: #ff3333;">$r</span> <span style="color: #ff3333;">$k</span> <span style="color: #ff3333;">$alphaC</span> <span style="color: #ff3333;">$fcr</span> <span style="color: #ff3333;">$ecr</span> <span style="color: #ff3333;">$b</span> <span style="color: #ff3333;">$alphaT</span><span style="color: #66cc66;">;</span>
&nbsp;
<span style="color: #808080; font-style: italic;"># steel (bound., web and horiz. reinforcement)</span>
&nbsp;
<span style="color: #ff7700;font-weight:bold;">set</span> E <span style="color: #ff4500;">29000.0</span><span style="color: #66cc66;">;</span>
&nbsp;
uniaxialMaterial Steel02 <span style="color: #ff4500;">1003</span> <span style="color: #ff3333;">$fyBRed</span> <span style="color: #ff3333;">$E</span> <span style="color: #ff3333;">$byB</span> <span style="color: #ff3333;">$RyB</span> <span style="color: #ff4500;">0.9</span> <span style="color: #ff4500;">0.1</span> <span style="color: #ff4500;">0</span> <span style="color: #ff4500;">0.1</span> <span style="color: #ff4500;">0</span> <span style="color: #ff4500;">0.1</span> <span style="color: #66cc66;">;</span>
&nbsp;
uniaxialMaterial Steel02 <span style="color: #ff4500;">1004</span> <span style="color: #ff3333;">$fyRed</span> <span style="color: #ff3333;">$E</span> <span style="color: #ff3333;">$by</span> <span style="color: #ff3333;">$Ry</span> <span style="color: #ff4500;">0.9</span> <span style="color: #ff4500;">0.1</span> <span style="color: #ff4500;">0</span> <span style="color: #ff4500;">0.1</span> <span style="color: #ff4500;">0</span> <span style="color: #ff4500;">0.1</span> <span style="color: #66cc66;">;</span>
&nbsp;
uniaxialMaterial Steel02 <span style="color: #ff4500;">1005</span> <span style="color: #ff3333;">$fxRed</span> <span style="color: #ff3333;">$E</span> <span style="color: #ff3333;">$bx</span> <span style="color: #ff3333;">$Rx</span> <span style="color: #ff4500;">0.9</span> <span style="color: #ff4500;">0.1</span> <span style="color: #ff4500;">0</span> <span style="color: #ff4500;">0.1</span> <span style="color: #ff4500;">0</span> <span style="color: #ff4500;">0.1</span> <span style="color: #66cc66;">;</span>
&nbsp;
<span style="color: #808080; font-style: italic;"># Define cross-section</span>
&nbsp;
<span style="color: #ff7700;font-weight:bold;">set</span> t1 <span style="color: #ff4500;">6.0</span><span style="color: #66cc66;">;</span> <span style="color: #ff7700;font-weight:bold;">set</span> NStrip1 <span style="color: #ff4500;">2</span><span style="color: #66cc66;">;</span> <span style="color: #808080; font-style: italic;"># thickness 1</span>
&nbsp;
<span style="color: #ff7700;font-weight:bold;">set</span> t2 <span style="color: #ff4500;">4.0</span><span style="color: #66cc66;">;</span> <span style="color: #ff7700;font-weight:bold;">set</span> NStrip2 <span style="color: #ff4500;">4</span><span style="color: #66cc66;">;</span> <span style="color: #808080; font-style: italic;"># thickness 2</span>
&nbsp;
<span style="color: #ff7700;font-weight:bold;">set</span> t3 <span style="color: #ff4500;">6.0</span><span style="color: #66cc66;">;</span> <span style="color: #ff7700;font-weight:bold;">set</span> NStrip3 <span style="color: #ff4500;">2</span><span style="color: #66cc66;">;</span> <span style="color: #808080; font-style: italic;"># thickness 3</span>
&nbsp;
geomTransf LinearInt <span style="color: #ff4500;">1</span>
&nbsp;
<span style="color: #ff7700;font-weight:bold;">set</span> np <span style="color: #ff4500;">1</span><span style="color: #66cc66;">;</span> <span style="color: #808080; font-style: italic;"># int. points</span>
&nbsp;
<span style="color: #ff7700;font-weight:bold;">set</span> C <span style="color: #ff4500;">0.4</span><span style="color: #66cc66;">;</span> <span style="color: #808080; font-style: italic;"># center of rotation</span>
&nbsp;
<span style="color: #808080; font-style: italic;">#section definition</span>
&nbsp;
section FiberInt <span style="color: #ff4500;">2</span> -NStrip <span style="color: #ff3333;">$NStrip1</span> <span style="color: #ff3333;">$t1</span> <span style="color: #ff3333;">$NStrip2</span> <span style="color: #ff3333;">$t2</span> <span style="color: #ff3333;">$NStrip3</span> <span style="color: #ff3333;">$t3</span> <span style="color: black;">&#123;</span>
&nbsp;
<span style="color: #808080; font-style: italic;">#vertical fibers</span>
&nbsp;
    fiber -<span style="color: #ff4500;">23</span> <span style="color: #ff4500;">1</span> <span style="color: #ff4500;">10</span> <span style="color: #ff4500;">1</span><span style="color: #66cc66;">;</span> fiber -<span style="color: #ff4500;">23</span> <span style="color: #ff4500;">1</span> <span style="color: #ff4500;">5</span> <span style="color: #ff4500;">2</span><span style="color: #66cc66;">;</span> fiber -<span style="color: #ff4500;">23</span> <span style="color: #ff4500;">1</span> <span style="color: #ff4500;">0.3</span> <span style="color: #ff4500;">1003</span><span style="color: #66cc66;">;</span>
&nbsp;
    fiber -<span style="color: #ff4500;">19</span> <span style="color: #ff4500;">1</span> <span style="color: #ff4500;">10</span> <span style="color: #ff4500;">1</span><span style="color: #66cc66;">;</span> fiber -<span style="color: #ff4500;">19</span> <span style="color: #ff4500;">1</span> <span style="color: #ff4500;">5</span> <span style="color: #ff4500;">2</span><span style="color: #66cc66;">;</span> fiber -<span style="color: #ff4500;">19</span> <span style="color: #ff4500;">1</span> <span style="color: #ff4500;">0.3</span> <span style="color: #ff4500;">1003</span><span style="color: #66cc66;">;</span>
&nbsp;
    fiber -<span style="color: #ff4500;">14</span> <span style="color: #ff4500;">1</span> <span style="color: #ff4500;">33</span> <span style="color: #ff4500;">2</span><span style="color: #66cc66;">;</span> fiber -<span style="color: #ff4500;">14</span> <span style="color: #ff4500;">1</span> <span style="color: #ff4500;">0.1</span> <span style="color: #ff4500;">1004</span><span style="color: #66cc66;">;</span>
&nbsp;
    fiber -<span style="color: #ff4500;">6</span> <span style="color: #ff4500;">1</span> <span style="color: #ff4500;">33</span> <span style="color: #ff4500;">2</span><span style="color: #66cc66;">;</span> fiber -<span style="color: #ff4500;">6</span> <span style="color: #ff4500;">1</span> <span style="color: #ff4500;">0.1</span> <span style="color: #ff4500;">1004</span><span style="color: #66cc66;">;</span>
&nbsp;
    fiber <span style="color: #ff4500;">6</span> <span style="color: #ff4500;">1</span> <span style="color: #ff4500;">33</span> <span style="color: #ff4500;">2</span><span style="color: #66cc66;">;</span> fiber <span style="color: #ff4500;">6</span> <span style="color: #ff4500;">1</span> <span style="color: #ff4500;">0.1</span> <span style="color: #ff4500;">1004</span><span style="color: #66cc66;">;</span>
&nbsp;
    fiber <span style="color: #ff4500;">14</span> <span style="color: #ff4500;">1</span> <span style="color: #ff4500;">33</span> <span style="color: #ff4500;">2</span><span style="color: #66cc66;">;</span> fiber <span style="color: #ff4500;">14</span> <span style="color: #ff4500;">1</span> <span style="color: #ff4500;">0.1</span> <span style="color: #ff4500;">1004</span><span style="color: #66cc66;">;</span>
&nbsp;
    fiber <span style="color: #ff4500;">19</span> <span style="color: #ff4500;">1</span> <span style="color: #ff4500;">10</span> <span style="color: #ff4500;">1</span><span style="color: #66cc66;">;</span> fiber <span style="color: #ff4500;">19</span> <span style="color: #ff4500;">1</span> <span style="color: #ff4500;">5</span> <span style="color: #ff4500;">2</span><span style="color: #66cc66;">;</span> fiber <span style="color: #ff4500;">19</span> <span style="color: #ff4500;">1</span> <span style="color: #ff4500;">0.3</span> <span style="color: #ff4500;">1003</span><span style="color: #66cc66;">;</span>
&nbsp;
    fiber <span style="color: #ff4500;">23</span> <span style="color: #ff4500;">1</span> <span style="color: #ff4500;">10</span> <span style="color: #ff4500;">1</span><span style="color: #66cc66;">;</span> fiber <span style="color: #ff4500;">23</span> <span style="color: #ff4500;">1</span> <span style="color: #ff4500;">5</span> <span style="color: #ff4500;">2</span><span style="color: #66cc66;">;</span> fiber <span style="color: #ff4500;">23</span> <span style="color: #ff4500;">1</span> <span style="color: #ff4500;">0.3</span> <span style="color: #ff4500;">1003</span><span style="color: #66cc66;">;</span>
&nbsp;
<span style="color: #808080; font-style: italic;">#horiz. reinf.</span>
&nbsp;
    Hfiber <span style="color: #ff4500;">0</span> <span style="color: #ff4500;">0</span> <span style="color: #ff4500;">0.2</span> <span style="color: #ff4500;">1005</span><span style="color: #66cc66;">;</span>
&nbsp;
<span style="color: black;">&#125;</span>
&nbsp;
<span style="color: #808080; font-style: italic;">#nodes</span>
&nbsp;
<span style="color: #ff7700;font-weight:bold;">set</span> n <span style="color: #ff4500;">8</span>
&nbsp;
node <span style="color: #ff4500;">1</span> <span style="color: #ff4500;">0</span> <span style="color: #ff4500;">0.0</span><span style="color: #66cc66;">;</span> node <span style="color: #ff4500;">2</span> <span style="color: #ff4500;">0</span> <span style="color: #ff4500;">160</span><span style="color: #66cc66;">;</span> node <span style="color: #ff4500;">3</span> <span style="color: #ff4500;">0</span> <span style="color: #ff4500;">20</span><span style="color: #66cc66;">;</span> node <span style="color: #ff4500;">4</span> <span style="color: #ff4500;">0</span> <span style="color: #ff4500;">40</span><span style="color: #66cc66;">;</span>
&nbsp;
node <span style="color: #ff4500;">5</span> <span style="color: #ff4500;">0</span> <span style="color: #ff4500;">60</span><span style="color: #66cc66;">;</span> node <span style="color: #ff4500;">6</span> <span style="color: #ff4500;">0</span> <span style="color: #ff4500;">80</span><span style="color: #66cc66;">;</span> node <span style="color: #ff4500;">7</span> <span style="color: #ff4500;">0</span> <span style="color: #ff4500;">100</span><span style="color: #66cc66;">;</span> node <span style="color: #ff4500;">8</span> <span style="color: #ff4500;">0</span> <span style="color: #ff4500;">120</span><span style="color: #66cc66;">;</span> node <span style="color: #ff4500;">9</span> <span style="color: #ff4500;">0</span> <span style="color: #ff4500;">140</span><span style="color: #66cc66;">;</span>
&nbsp;
<span style="color: #808080; font-style: italic;">#element definition</span>
&nbsp;
element dispBeamColumnInt <span style="color: #ff4500;">1</span> <span style="color: #ff4500;">1</span> <span style="color: #ff4500;">3</span> <span style="color: #ff3333;">$np</span> <span style="color: #ff4500;">2</span> <span style="color: #ff4500;">1</span> <span style="color: #ff3333;">$C</span>
&nbsp;
element dispBeamColumnInt <span style="color: #ff4500;">2</span> <span style="color: #ff4500;">3</span> <span style="color: #ff4500;">4</span> <span style="color: #ff3333;">$np</span> <span style="color: #ff4500;">2</span> <span style="color: #ff4500;">1</span> <span style="color: #ff3333;">$C</span>
&nbsp;
element dispBeamColumnInt <span style="color: #ff4500;">3</span> <span style="color: #ff4500;">4</span> <span style="color: #ff4500;">5</span> <span style="color: #ff3333;">$np</span> <span style="color: #ff4500;">2</span> <span style="color: #ff4500;">1</span> <span style="color: #ff3333;">$C</span>
&nbsp;
element dispBeamColumnInt <span style="color: #ff4500;">4</span> <span style="color: #ff4500;">5</span> <span style="color: #ff4500;">6</span> <span style="color: #ff3333;">$np</span> <span style="color: #ff4500;">2</span> <span style="color: #ff4500;">1</span> <span style="color: #ff3333;">$C</span>
&nbsp;
element dispBeamColumnInt <span style="color: #ff4500;">5</span> <span style="color: #ff4500;">6</span> <span style="color: #ff4500;">7</span> <span style="color: #ff3333;">$np</span> <span style="color: #ff4500;">2</span> <span style="color: #ff4500;">1</span> <span style="color: #ff3333;">$C</span>
&nbsp;
element dispBeamColumnInt <span style="color: #ff4500;">6</span> <span style="color: #ff4500;">7</span> <span style="color: #ff4500;">8</span> <span style="color: #ff3333;">$np</span> <span style="color: #ff4500;">2</span> <span style="color: #ff4500;">1</span> <span style="color: #ff3333;">$C</span>
&nbsp;
element dispBeamColumnInt <span style="color: #ff4500;">7</span> <span style="color: #ff4500;">8</span> <span style="color: #ff4500;">9</span> <span style="color: #ff3333;">$np</span> <span style="color: #ff4500;">2</span> <span style="color: #ff4500;">1</span> <span style="color: #ff3333;">$C</span>
&nbsp;
element dispBeamColumnInt <span style="color: #ff4500;">8</span> <span style="color: #ff4500;">9</span> <span style="color: #ff4500;">2</span> <span style="color: #ff3333;">$np</span> <span style="color: #ff4500;">2</span> <span style="color: #ff4500;">1</span> <span style="color: #ff3333;">$C</span>
&nbsp;
fix <span style="color: #ff4500;">1</span> <span style="color: #ff4500;">1</span> <span style="color: #ff4500;">1</span> <span style="color: #ff4500;">1</span>
&nbsp;
<span style="color: #808080; font-style: italic;"># Set axial load</span>
&nbsp;
pattern Plain <span style="color: #ff4500;">1</span> Constant <span style="color: black;">&#123;</span>
&nbsp;
<span style="color: #008000;">load</span> <span style="color: #ff4500;">2</span> <span style="color: #ff4500;">0.0</span> -<span style="color: #ff4500;">85</span> <span style="color: #ff4500;">0.0</span>
&nbsp;
<span style="color: black;">&#125;</span>
&nbsp;
initialize<span style="color: #66cc66;">;</span> integrator LoadControl <span style="color: #ff4500;">0</span> <span style="color: #ff4500;">1</span> <span style="color: #ff4500;">0</span> <span style="color: #ff4500;">0</span><span style="color: #66cc66;">;</span>
&nbsp;
system SparseGeneral -piv<span style="color: #66cc66;">;</span> test NormUnbalance <span style="color: #ff3333;">$tolAx</span> <span style="color: #ff3333;">$iterAx</span> <span style="color: #ff4500;">0</span><span style="color: #66cc66;">;</span>
&nbsp;
numberer Plain<span style="color: #66cc66;">;</span> constraints Plain<span style="color: #66cc66;">;</span>
&nbsp;
algorithm ModifiedNewton -initial<span style="color: #66cc66;">;</span> analysis Static<span style="color: #66cc66;">;</span>
&nbsp;
<span style="color: #808080; font-style: italic;"># perform the gravity load analysis,</span>
&nbsp;
analyze <span style="color: black;">&#91;</span><span style="color: #ff7700;font-weight:bold;">expr</span> <span style="color: #ff4500;">1</span><span style="color: black;">&#93;</span>
&nbsp;
<span style="color: #808080; font-style: italic;"># Set the gravity loads to be constant &amp; reset the time in the domain</span>
&nbsp;
loadConst -<span style="color: #008000;">time</span> <span style="color: #ff4500;">0.0</span>
&nbsp;
remove recorders
&nbsp;
<span style="color: #808080; font-style: italic;"># set lateral load</span>
&nbsp;
pattern Plain <span style="color: #ff4500;">2</span> Linear <span style="color: black;">&#123;</span>
&nbsp;
    <span style="color: #008000;">load</span> <span style="color: #ff4500;">2</span> <span style="color: #ff4500;">1.0</span> <span style="color: #ff4500;">0.0</span> <span style="color: #ff4500;">0</span><span style="color: #66cc66;">;</span>
&nbsp;
<span style="color: black;">&#125;</span>
&nbsp;
system BandGeneral<span style="color: #66cc66;">;</span> constraints Transformation<span style="color: #66cc66;">;</span> numberer Plain<span style="color: #66cc66;">;</span>
&nbsp;
<span style="color: #808080; font-style: italic;"># Create a recorder to monitor nodal displacement and element forces</span>
&nbsp;
recorder Node -<span style="color: #008000;">file</span> nodeTop.out -node <span style="color: #ff4500;">2</span> -dof <span style="color: #ff4500;">1</span> disp
&nbsp;
recorder Element -<span style="color: #008000;">file</span> elesX.out -<span style="color: #008000;">time</span> -ele <span style="color: #ff4500;">1</span> globalForce
&nbsp;
<span style="color: #808080; font-style: italic;"># recorder for element1 section1 steel stress/strain and section force-def.</span>
&nbsp;
recorder Element -<span style="color: #008000;">file</span> Sect_FandD.out -ele <span style="color: #ff4500;">1</span> section <span style="color: #ff4500;">1</span> forceAndDeformation
&nbsp;
recorder Element -<span style="color: #008000;">file</span> Sect_eX.out -ele <span style="color: #ff4500;">1</span> section <span style="color: #ff4500;">1</span> eX
&nbsp;
recorder Element -<span style="color: #008000;">file</span> Sect_eY.out -ele <span style="color: #ff4500;">1</span> section <span style="color: #ff4500;">1</span> eY
&nbsp;
recorder Element -<span style="color: #008000;">file</span> Sect_sX.out -ele <span style="color: #ff4500;">1</span> section <span style="color: #ff4500;">1</span> sX
&nbsp;
recorder Element -<span style="color: #008000;">file</span> Sect_sY.out -ele <span style="color: #ff4500;">1</span> section <span style="color: #ff4500;">1</span> sY
&nbsp;
test NormDispIncr <span style="color: #ff3333;">$tolLatNew</span> <span style="color: #ff3333;">$iterLatNew</span><span style="color: #66cc66;">;</span>
&nbsp;
algorithm ModifiedNewton -initial
&nbsp;
analysis Static
&nbsp;
<span style="color: #ff7700;font-weight:bold;">set</span> dU <span style="color: #ff3333;">$dUi</span><span style="color: #66cc66;">;</span>
&nbsp;
<span style="color: #ff7700;font-weight:bold;">set</span> numSteps <span style="color: black;">&#91;</span><span style="color: #ff7700;font-weight:bold;">expr</span> int<span style="color: black;">&#40;</span><span style="color: #ff3333;">$maxU</span>/<span style="color: #ff3333;">$dU</span><span style="color: black;">&#41;</span><span style="color: black;">&#93;</span><span style="color: #66cc66;">;</span>
&nbsp;
integrator DisplacementControl <span style="color: #ff4500;">2</span> <span style="color: #ff4500;">1</span> <span style="color: #ff3333;">$dU</span> <span style="color: #ff4500;">1</span> <span style="color: #ff3333;">$dU</span> <span style="color: #ff3333;">$dU</span>
&nbsp;
<span style="color: #808080; font-style: italic;">#source cycle2.tcl</span>
&nbsp;
<span style="color: #808080; font-style: italic;">#### end</span>
&nbsp;
<span style="color: #ff7700;font-weight:bold;">set</span> ok <span style="color: black;">&#91;</span>analyze <span style="color: #ff3333;">$numSteps</span><span style="color: black;">&#93;</span><span style="color: #66cc66;">;</span> <span style="color: #ff7700;font-weight:bold;">set</span> jump <span style="color: #ff4500;">1</span><span style="color: #66cc66;">;</span>
&nbsp;
<span style="color: #ff7700;font-weight:bold;">if</span> <span style="color: #483d8b;">{$ok&nbsp;!= 0}</span> <span style="color: black;">&#123;</span>
&nbsp;
    <span style="color: #ff7700;font-weight:bold;">set</span> currentDisp <span style="color: black;">&#91;</span>nodeDisp <span style="color: #ff4500;">2</span> <span style="color: #ff4500;">1</span><span style="color: black;">&#93;</span>
&nbsp;
<span style="color: #ff7700;font-weight:bold;">set</span> ok <span style="color: #ff4500;">0</span>
&nbsp;
    <span style="color: #ff7700;font-weight:bold;">while</span> <span style="color: #483d8b;">{abs($currentDisp) &lt; abs($maxU)}</span> <span style="color: black;">&#123;</span>
&nbsp;
	<span style="color: #ff7700;font-weight:bold;">set</span> ok <span style="color: black;">&#91;</span>analyze <span style="color: #ff4500;">1</span><span style="color: black;">&#93;</span>
&nbsp;
<span style="color: #008000;">puts</span> <span style="color: #483d8b;">&quot;<span style="color: #000099; font-weight: bold;">\n</span> Trying.. $currentDisp<span style="color: #000099; font-weight: bold;">\n</span>&quot;</span>
&nbsp;
<span style="color: #808080; font-style: italic;"># if the analysis fails try initial tangent iteration</span>
&nbsp;
	<span style="color: #ff7700;font-weight:bold;">if</span> <span style="color: #483d8b;">{$ok&nbsp;!= 0}</span> <span style="color: black;">&#123;</span>
&nbsp;
<span style="color: #008000;">puts</span> <span style="color: #483d8b;">&quot;<span style="color: #000099; font-weight: bold;">\n</span> regular newton failed .. try an initial stiffness&quot;</span>
&nbsp;
test NormDispIncr <span style="color: #ff3333;">$tolLatIni</span> <span style="color: #ff3333;">$iterLatIni</span> <span style="color: #ff4500;">0</span><span style="color: #66cc66;">;</span>
&nbsp;
algorithm ModifiedNewton -initial <span style="color: #66cc66;">;</span>
&nbsp;
<span style="color: #ff7700;font-weight:bold;">set</span> ok <span style="color: black;">&#91;</span>analyze <span style="color: #ff4500;">1</span><span style="color: black;">&#93;</span>
&nbsp;
<span style="color: #008000;">puts</span> <span style="color: #483d8b;">&quot;<span style="color: #000099; font-weight: bold;">\n</span> Trying.. $currentDisp<span style="color: #000099; font-weight: bold;">\n</span>&quot;</span>
&nbsp;
<span style="color: #ff7700;font-weight:bold;">if</span> <span style="color: #483d8b;">{$ok == 0}</span> <span style="color: black;">&#123;</span>
&nbsp;
<span style="color: #008000;">puts</span> <span style="color: #483d8b;">&quot; that worked .. back to regular newton <span style="color: #000099; font-weight: bold;">\n</span>&quot;</span>
&nbsp;
<span style="color: #ff7700;font-weight:bold;">set</span> jump <span style="color: #ff4500;">1</span>
&nbsp;
integrator DisplacementControl <span style="color: #ff4500;">2</span> <span style="color: #ff4500;">1</span> <span style="color: #ff3333;">$dU</span> <span style="color: #ff4500;">1</span>
&nbsp;
<span style="color: black;">&#125;</span> <span style="color: #ff7700;font-weight:bold;">else</span> <span style="color: black;">&#123;</span>
&nbsp;
<span style="color: #008000;">puts</span> <span style="color: #483d8b;">&quot;<span style="color: #000099; font-weight: bold;">\n</span> that didn't worked .. Try next point<span style="color: #000099; font-weight: bold;">\n</span>&quot;</span>
&nbsp;
<span style="color: #ff7700;font-weight:bold;">set</span> jump <span style="color: black;">&#91;</span><span style="color: #ff7700;font-weight:bold;">expr</span> <span style="color: #ff3333;">$jump</span>+<span style="color: #ff4500;">1</span><span style="color: black;">&#93;</span><span style="color: #66cc66;">;</span>
&nbsp;
integrator DisplacementControl <span style="color: #ff4500;">2</span> <span style="color: #ff4500;">1</span> <span style="color: black;">&#91;</span><span style="color: #ff7700;font-weight:bold;">expr</span> <span style="color: #ff3333;">$dU</span><span style="color: #66cc66;">*</span><span style="color: #ff3333;">$jump</span><span style="color: black;">&#93;</span> <span style="color: #ff4500;">1</span>
&nbsp;
<span style="color: black;">&#125;</span>
&nbsp;
test NormDispIncr <span style="color: #ff3333;">$tolLatNew</span> <span style="color: #ff3333;">$iterLatNew</span>
&nbsp;
algorithm Newton
&nbsp;
<span style="color: black;">&#125;</span> <span style="color: #ff7700;font-weight:bold;">else</span> <span style="color: black;">&#123;</span><span style="color: #ff7700;font-weight:bold;">set</span> jump <span style="color: #ff4500;">1</span>
&nbsp;
integrator DisplacementControl <span style="color: #ff4500;">2</span> <span style="color: #ff4500;">1</span> <span style="color: #ff3333;">$dU</span> <span style="color: #ff4500;">1</span>
&nbsp;
<span style="color: black;">&#125;</span>
&nbsp;
<span style="color: #ff7700;font-weight:bold;">set</span> currentDisp <span style="color: black;">&#91;</span><span style="color: #ff7700;font-weight:bold;">expr</span> <span style="color: #ff3333;">$currentDisp</span>+<span style="color: #ff3333;">$dU</span><span style="color: black;">&#93;</span>
&nbsp;
<span style="color: black;">&#125;</span>
&nbsp;
<span style="color: black;">&#125;</span>
&nbsp;</pre>
<p><br />
</p>
<hr />
<p><br />
REFERENCES:
</p><p>1. Massone, L. M., 2006; "RC Wall Shear – Flexure Interaction: Analytical and Experimental Responses", Ph.D. Dissertation, University of California, Los Angeles, June 2006, 398 pp.
</p><p>2. Massone, L. M.; Orakcal, K.; and Wallace, J. W. , 2006; "Shear - Flexure Interaction for Structural Walls"; SP-236, ACI Special Publication – Deformation Capacity and Shear Strength of Reinforced Concrete Members Under Cyclic Loading, editors: Adolfo Matamoros &amp; Kenneth Elwood, p. 127-150.
</p><p><br />
</p>
<hr />
<p><br /> 
Code Developed by: <span style="color:blue"> Leo Massone, University of Chile </span> and <span style="color:blue"> Kutay Orakcal</span> and <span style="color:blue"> John Wallace, UCLA </span>
</p>
<!-- 
NewPP limit report
Preprocessor node count: 19/1000000
Post-expand include size: 12245/2097152 bytes
Template argument size: 0/2097152 bytes
Expensive parser function count: 0/100
-->

<!-- Saved in parser cache with key mediawiki-mediawiki:pcache:idhash:743-0!1!0!!en!2!edit=0 and timestamp 20121104143201 -->
<div class="printfooter">
Retrieved from "<a href="http://opensees.berkeley.edu/wiki/index.php/Flexure-Shear_Interaction_Displacement-Based_Beam-Column_Element">http://opensees.berkeley.edu/wiki/index.php/Flexure-Shear_Interaction_Displacement-Based_Beam-Column_Element</a>"</div>
		<div id='catlinks' class='catlinks catlinks-allhidden'></div>		<!-- end content -->
				<div class="visualClear"></div>
	</div>
</div></div>
<div id="column-one">
	<div id="p-cactions" class="portlet">
		<h5>Views</h5>
		<div class="pBody">
			<ul>
				 <li id="ca-nstab-main" class="selected"><a href="/wiki/index.php/Flexure-Shear_Interaction_Displacement-Based_Beam-Column_Element" title="View the content page [c]" accesskey="c">Page</a></li>
				 <li id="ca-talk" class="new"><a href="/wiki/index.php?title=Talk:Flexure-Shear_Interaction_Displacement-Based_Beam-Column_Element&amp;action=edit&amp;redlink=1" title="Discussion about the content page [t]" accesskey="t">Discussion</a></li>
				 <li id="ca-viewsource"><a href="/wiki/index.php?title=Flexure-Shear_Interaction_Displacement-Based_Beam-Column_Element&amp;action=edit" title="This page is protected.&#10;You can view its source [e]" accesskey="e">View source</a></li>
				 <li id="ca-history"><a href="/wiki/index.php?title=Flexure-Shear_Interaction_Displacement-Based_Beam-Column_Element&amp;action=history" title="Past revisions of this page [h]" accesskey="h">History</a></li>
			</ul>
		</div>
	</div>
	<div class="portlet" id="p-personal">
		<h5>Personal tools</h5>
		<div class="pBody">
			<ul>
				<li id="pt-login"><a href="/wiki/index.php?title=Special:UserLogin&amp;returnto=Flexure-Shear_Interaction_Displacement-Based_Beam-Column_Element" title="You are encouraged to log in; however, it is not mandatory [o]" accesskey="o">Log in / create account</a></li>
			</ul>
		</div>
	</div>
	<div class="portlet" id="p-logo">
		<a style="background-image: url(/wiki/skins/common/images/logo.png);" href="/wiki/index.php/Main_Page" title="Visit the main page"></a>
	</div>
	<script type="text/javascript"> if (window.isMSIE55) fixalpha(); </script>
	<div class='generated-sidebar portlet' id='p-navigation'>
		<h5>Navigation</h5>
		<div class='pBody'>
			<ul>
				<li id="n-OpenSees-Home"><a href="http://opensees.berkeley.edu">OpenSees Home</a></li>
				<li id="n-Message-Board"><a href="http://opensees.berkeley.edu/index.php">Message Board</a></li>
				<li id="n-OpenSees-Wiki"><a href="http://opensees.berkeley.edu/wiki/index.php">OpenSees Wiki</a></li>
				<li id="n-User-Documetation"><a href="http://opensees.berkeley.edu/wiki/index.php/OpenSees_User">User Documetation</a></li>
				<li id="n-Download-Page"><a href="http://opensees.berkeley.edu/OpenSees/user/download.php">Download Page</a></li>
				<li id="n-Source-Code"><a href="http://opensees.berkeley.edu/WebSVN/listing.php?repname=OpenSees&amp;path=%2Ftrunk%2FSRC">Source Code</a></li>
			</ul>
		</div>
	</div>
	<div id="p-search" class="portlet">
		<h5><label for="searchInput">Search</label></h5>
		<div id="searchBody" class="pBody">
			<form action="/wiki/index.php" id="searchform">
				<input type='hidden' name="title" value="Special:Search"/>
				<input id="searchInput" title="Search OpenSeesWiki" accesskey="f" type="search" name="search" />
				<input type='submit' name="go" class="searchButton" id="searchGoButton"	value="Go" title="Go to a page with this exact name if exists" />&nbsp;
				<input type='submit' name="fulltext" class="searchButton" id="mw-searchButton" value="Search" title="Search the pages for this text" />
			</form>
		</div>
	</div>
	<div class="portlet" id="p-tb">
		<h5>Toolbox</h5>
		<div class="pBody">
			<ul>
				<li id="t-whatlinkshere"><a href="/wiki/index.php/Special:WhatLinksHere/Flexure-Shear_Interaction_Displacement-Based_Beam-Column_Element" title="List of all wiki pages that link here [j]" accesskey="j">What links here</a></li>
				<li id="t-recentchangeslinked"><a href="/wiki/index.php/Special:RecentChangesLinked/Flexure-Shear_Interaction_Displacement-Based_Beam-Column_Element" title="Recent changes in pages linked from this page [k]" accesskey="k">Related changes</a></li>
<li id="t-specialpages"><a href="/wiki/index.php/Special:SpecialPages" title="List of all special pages [q]" accesskey="q">Special pages</a></li>
				<li id="t-print"><a href="/wiki/index.php?title=Flexure-Shear_Interaction_Displacement-Based_Beam-Column_Element&amp;printable=yes" rel="alternate" title="Printable version of this page [p]" accesskey="p">Printable version</a></li>				<li id="t-permalink"><a href="/wiki/index.php?title=Flexure-Shear_Interaction_Displacement-Based_Beam-Column_Element&amp;oldid=3202" title="Permanent link to this revision of the page">Permanent link</a></li>			</ul>
		</div>
	</div>
</div><!-- end of the left (by default at least) column -->
<div class="visualClear"></div>
<div id="footer">
	<div id="f-poweredbyico"><a href="http://www.mediawiki.org/"><img src="/wiki/skins/common/images/poweredby_mediawiki_88x31.png" height="31" width="88" alt="Powered by MediaWiki" /></a></div>
	<ul id="f-list">
		<li id="lastmod"> This page was last modified on 2 April 2010, at 22:00.</li>
		<li id="viewcount">This page has been accessed 4,133 times.</li>
		<li id="privacy"><a href="/wiki/index.php/OpenSeesWiki:Privacy_policy" title="OpenSeesWiki:Privacy policy">Privacy policy</a></li>
		<li id="about"><a href="/wiki/index.php/OpenSeesWiki:About" title="OpenSeesWiki:About">About OpenSeesWiki</a></li>
		<li id="disclaimer"><a href="/wiki/index.php/OpenSeesWiki:General_disclaimer" title="OpenSeesWiki:General disclaimer">Disclaimers</a></li>
	</ul>
</div>
</div>

<script>if (window.runOnloadHook) runOnloadHook();</script>
<!-- Served in 0.162 secs. --><script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
		  var pageTracker = _gat._getTracker("UA-2431545-1");
		  pageTracker._trackPageview();
		} catch(err) {}</script>

</body></html>
