</ul></div><p><div class='dtree' id='sidebartree'>
								<script type="text/javascript">/*<![CDATA[*/
									// TreeAndMenu1.1.1, 2009-07-29
									tree = new dTree('tamsidebartree');
									for (i in tree.icon) tree.icon[i] = '/wiki/extensions/TreeAndMenu/'+tree.icon[i];
									tree.config.useLines = false;
									tree.add(0,-1,'<a href=\"/wiki/index.php/Main_Page\" title=\"Main Page\"> OpenSees Wiki</a>');
									tamsidebartree = tree;
									tamsidebartree.add(1, 0, '<a href="http://opensees.berkeley.edu" class="external text" rel="nofollow">Main_Page</a>');
tamsidebartree.add(2, 0, '<a href="/wiki/index.php/Main_Page" title="Main Page"> OpenSees Wiki</a>');
tamsidebartree.add(3, 0, '<a href="http://opensees.berkeley.edu/community/index.php" class="external text" rel="nofollow">Message Board</a>');
tamsidebartree.add(4, 0, '<a href="/wiki/index.php/Command_Manual" title="Command Manual">Command_Manual</a>');
tamsidebartree.add(5, 4, '<a href="/wiki/index.php/Modeling_Commands" title="Modeling Commands">Modeling_Commands</a>');
tamsidebartree.add(6, 5, '<a href="/wiki/index.php/Model_command" title="Model command"> model </a>');
tamsidebartree.add(7, 5, '<a href="/wiki/index.php/UniaxialMaterial_Command" title="UniaxialMaterial Command"> uniaxialMaterial</a>');
tamsidebartree.add(8, 5, '<a href="/wiki/index.php/NDMaterial_Command" title="NDMaterial Command"> ndMaterial</a>');
tamsidebartree.add(9, 5, '<a href="/wiki/index.php/FrictionModel_Command" title="FrictionModel Command"> frictionModel</a>');
tamsidebartree.add(10, 5, '<a href="/wiki/index.php/Section_Command" title="Section Command"> section</a>');
tamsidebartree.add(11, 5, '<a href="/wiki/index.php/Geometric_Transformation_Command" title="Geometric Transformation Command"> geometricTransf</a>');
tamsidebartree.add(12, 5, '<a href="/wiki/index.php/Element_Command" title="Element Command">element</a>');
tamsidebartree.add(13, 5, '<a href="/wiki/index.php/Node_command" title="Node command"> node</a>');
tamsidebartree.add(14, 5, ' sp commands');
tamsidebartree.add(15, 14, ' <a href="/wiki/index.php/Fix_command" title="Fix command"> fix</a>');
tamsidebartree.add(16, 14, ' <a href="/wiki/index.php/FixX_command" title="FixX command"> fixX</a>');
tamsidebartree.add(17, 14, ' <a href="/wiki/index.php/FixY_command" title="FixY command"> fixY</a>');
tamsidebartree.add(18, 14, ' <a href="/wiki/index.php/FixZ_command" title="FixZ command"> fixZ</a>');
tamsidebartree.add(19, 5, ' mp commands');
tamsidebartree.add(20, 19, ' <a href="/wiki/index.php/EqualDOF_command" title="EqualDOF command"> equalDOF</a>');
tamsidebartree.add(21, 19, ' <a href="/wiki/index.php/RigidDiaphragm_command" title="RigidDiaphragm command"> rigidDiaphragm</a>');
tamsidebartree.add(22, 19, ' <a href="/wiki/index.php/RigidLink_command" title="RigidLink command"> rigidLink</a>');
tamsidebartree.add(23, 5, '<a href="/wiki/index.php/Time_Series_Command" title="Time Series Command"> timeSeries</a>');
tamsidebartree.add(24, 5, '<a href="/wiki/index.php/Pattern_Command" title="Pattern Command">pattern</a>');
tamsidebartree.add(25, 5, '<a href="/wiki/index.php/Mass_Command" title="Mass Command"> mass</a>');
tamsidebartree.add(26, 5, ' block commands');
tamsidebartree.add(27, 26, ' <a href="/wiki/index.php/Block2D_Command" title="Block2D Command"> block2D</a>');
tamsidebartree.add(28, 26, ' <a href="/wiki/index.php/Block3D_Command" title="Block3D Command"> block3D</a>');
tamsidebartree.add(29, 5, '<a href="/wiki/index.php/Region_Command" title="Region Command"> region</a>');
tamsidebartree.add(30, 5, '<a href="/wiki/index.php/Rayleigh_Damping_Command" title="Rayleigh Damping Command">rayleigh</a>');
tamsidebartree.add(31, 4, '<a href="/wiki/index.php/Analysis_Commands" title="Analysis Commands">Analysis Commands</a>');
tamsidebartree.add(32, 31, '<a href="/wiki/index.php/Constraints_Command" title="Constraints Command">constraints Command</a>');
tamsidebartree.add(33, 31, '<a href="/wiki/index.php/Numberer_Command" title="Numberer Command">numberer Command</a>');
tamsidebartree.add(34, 31, '<a href="/wiki/index.php/System_Command" title="System Command">system Command</a>');
tamsidebartree.add(35, 31, '<a href="/wiki/index.php/Test_Command" title="Test Command">test Command</a>');
tamsidebartree.add(36, 31, '<a href="/wiki/index.php/Algorithm_Command" title="Algorithm Command">algorithm Command</a>');
tamsidebartree.add(37, 31, '<a href="/wiki/index.php/Integrator_Command" title="Integrator Command">integrator Command</a>');
tamsidebartree.add(38, 31, '<a href="/wiki/index.php/Analysis_Command" title="Analysis Command">analysis Command</a>');
tamsidebartree.add(39, 31, '<a href="/wiki/index.php/Eigen_Command" title="Eigen Command">eigen Command</a>');
tamsidebartree.add(40, 31, '<a href="/wiki/index.php/Analyze_Command" title="Analyze Command">analyze Command</a>');
tamsidebartree.add(41, 4, '<a href="/wiki/index.php/Output_Commands" title="Output Commands">Output Commands</a>');
tamsidebartree.add(42, 41, '<a href="/wiki/index.php/Recorder_Command" title="Recorder Command"> recorder</a>');
tamsidebartree.add(43, 41, '<a href="/wiki/index.php/Record_Command" title="Record Command"> record</a>');
tamsidebartree.add(44, 41, '<a href="/wiki/index.php/Print_Command" title="Print Command"> print</a>');
tamsidebartree.add(45, 41, '<a href="/wiki/index.php/LogFile_Command" title="LogFile Command"> logFile</a>');
tamsidebartree.add(46, 41, '<a href="/wiki/index.php/RealTime_Output_Commands" title="RealTime Output Commands">RealTime_Output_Commands</a>');
tamsidebartree.add(47, 4, '<a href="/wiki/index.php/Misc_Commands" title="Misc Commands">Misc Commands</a>');
tamsidebartree.add(48, 47, '<a href="/wiki/index.php/EleResponse_Command" title="EleResponse Command">eleResponse Command</a>');
tamsidebartree.add(49, 47, '<a href="/wiki/index.php/GetTime_Command" title="GetTime Command">getTime Command</a>');
tamsidebartree.add(50, 47, '<a href="/wiki/index.php?title=GetEleTags_Command&amp;action=edit&amp;redlink=1" class="new" title="GetEleTags Command (page does not exist)">getEleTags Command</a>');
tamsidebartree.add(51, 47, '<a href="/wiki/index.php?title=GetNodeTags&amp;action=edit&amp;redlink=1" class="new" title="GetNodeTags (page does not exist)">getNodeTags</a>');
tamsidebartree.add(52, 47, '<a href="/wiki/index.php/LoadConst_Command" title="LoadConst Command">loadConst Command</a>');
tamsidebartree.add(53, 47, '<a href="/wiki/index.php/NodeCoord_Command" title="NodeCoord Command">nodeCoord Command</a>');
tamsidebartree.add(54, 47, '<a href="/wiki/index.php/NodeDisp_Command" title="NodeDisp Command">nodeDisp Command</a>');
tamsidebartree.add(55, 47, '<a href="/wiki/index.php/NodeVel_Command" title="NodeVel Command">nodeVel Command</a>');
tamsidebartree.add(56, 47, '<a href="/wiki/index.php/NodeAccel_Command" title="NodeAccel Command">nodeAccel Command</a>');
tamsidebartree.add(57, 47, '<a href="/wiki/index.php/NodeEigenvector_Command" title="NodeEigenvector Command">nodeEigenvector Command</a>');
tamsidebartree.add(58, 47, '<a href="/wiki/index.php/NodeBounds" title="NodeBounds">nodeBounds</a>');
tamsidebartree.add(59, 47, '<a href="/wiki/index.php/Print_Command" title="Print Command">print Command</a>');
tamsidebartree.add(60, 47, '<a href="/wiki/index.php/Remove_Command" title="Remove Command">remove Command</a>');
tamsidebartree.add(61, 47, '<a href="/wiki/index.php/Reset_Command" title="Reset Command">reset Command</a>');
tamsidebartree.add(62, 47, '<a href="/wiki/index.php/TestIter" title="TestIter">testIter</a>');
tamsidebartree.add(63, 47, '<a href="/wiki/index.php/TestNorms" title="TestNorms">testNorms</a>');
tamsidebartree.add(64, 47, '<a href="/wiki/index.php/Wipe_Command" title="Wipe Command">wipe Command</a>');
tamsidebartree.add(65, 47, '<a href="/wiki/index.php/Exit_Command" title="Exit Command">exit Command</a>');
tamsidebartree.add(66, 0, '<a href="/wiki/index.php/OpenSees_User" title="OpenSees User"> User Pages</a>');
tamsidebartree.add(67, 0, '<a href="/wiki/index.php/OpenSees_Developer" title="OpenSees Developer"> Developer Pages</a>');

									document.getElementById('sidebartree').innerHTML = tamsidebartree.toString();
									
								/*]]>*/</script>
							</div>
</p><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" dir="ltr">
<head>
<title>SSPquad Element - OpenSeesWiki</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="generator" content="MediaWiki 1.17alpha" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="search" type="application/opensearchdescription+xml" href="/wiki/opensearch_desc.php" title="OpenSeesWiki (en)" />
<link rel="alternate" type="application/atom+xml" title="OpenSeesWiki Atom feed" href="/wiki/index.php?title=Special:RecentChanges&amp;feed=atom" />
<link rel="stylesheet" href="/wiki/skins/common/shared.css?267" media="screen" />
<link rel="stylesheet" href="/wiki/skins/common/commonPrint.css?267" media="print" />
<link rel="stylesheet" href="/wiki/skins/monobook/main.css?267" media="screen" />
<!--[if lt IE 5.5000]><link rel="stylesheet" href="/wiki/skins/monobook/IE50Fixes.css?267" media="screen" /><![endif]-->
<!--[if IE 5.5000]><link rel="stylesheet" href="/wiki/skins/monobook/IE55Fixes.css?267" media="screen" /><![endif]-->
<!--[if IE 6]><link rel="stylesheet" href="/wiki/skins/monobook/IE60Fixes.css?267" media="screen" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" href="/wiki/skins/monobook/IE70Fixes.css?267" media="screen" /><![endif]-->
<link rel="stylesheet" href="/wiki/index.php?title=MediaWiki:Common.css&amp;usemsgcache=yes&amp;ctype=text%2Fcss&amp;smaxage=18000&amp;action=raw&amp;maxage=18000" />
<link rel="stylesheet" href="/wiki/index.php?title=MediaWiki:Print.css&amp;usemsgcache=yes&amp;ctype=text%2Fcss&amp;smaxage=18000&amp;action=raw&amp;maxage=18000" media="print" />
<link rel="stylesheet" href="/wiki/index.php?title=MediaWiki:Monobook.css&amp;usemsgcache=yes&amp;ctype=text%2Fcss&amp;smaxage=18000&amp;action=raw&amp;maxage=18000" />
<link rel="stylesheet" href="/wiki/index.php?title=-&amp;action=raw&amp;maxage=18000&amp;gen=css" />
<script>
var skin="monobook",
stylepath="/wiki/skins",
wgUrlProtocols="http\\:\\/\\/|https\\:\\/\\/|ftp\\:\\/\\/|irc\\:\\/\\/|gopher\\:\\/\\/|telnet\\:\\/\\/|nntp\\:\\/\\/|worldwind\\:\\/\\/|mailto\\:|news\\:|svn\\:\\/\\/",
wgArticlePath="/wiki/index.php/$1",
wgScriptPath="/wiki",
wgScriptExtension=".php",
wgScript="/wiki/index.php",
wgVariantArticlePath=false,
wgActionPaths={},
wgServer="http://opensees.berkeley.edu",
wgCanonicalNamespace="",
wgCanonicalSpecialPageName=false,
wgNamespaceNumber=0,
wgPageName="SSPquad_Element",
wgTitle="SSPquad Element",
wgAction="view",
wgArticleId=2748,
wgIsArticle=true,
wgUserName=null,
wgUserGroups=null,
wgUserLanguage="en",
wgContentLanguage="en",
wgBreakFrames=false,
wgCurRevisionId=10162,
wgVersion="1.17alpha",
wgEnableAPI=true,
wgEnableWriteAPI=true,
wgSeparatorTransformTable=["", ""],
wgDigitTransformTable=["", ""],
wgMainPageTitle="Main Page",
wgFormattedNamespaces={"-2": "Media", "-1": "Special", "0": "", "1": "Talk", "2": "User", "3": "User talk", "4": "OpenSeesWiki", "5": "OpenSeesWiki talk", "6": "File", "7": "File talk", "8": "MediaWiki", "9": "MediaWiki talk", "10": "Template", "11": "Template talk", "12": "Help", "13": "Help talk", "14": "Category", "15": "Category talk"},
wgNamespaceIds={"media": -2, "special": -1, "": 0, "talk": 1, "user": 2, "user_talk": 3, "openseeswiki": 4, "openseeswiki_talk": 5, "file": 6, "file_talk": 7, "mediawiki": 8, "mediawiki_talk": 9, "template": 10, "template_talk": 11, "help": 12, "help_talk": 13, "category": 14, "category_talk": 15, "image": 6, "image_talk": 7},
wgSiteName="OpenSeesWiki",
wgCategories=[],
wgRestrictionEdit=[],
wgRestrictionMove=[];
</script><script src="/wiki/skins/common/wikibits.js?267"></script>
<script type="text/javascript" src="/wiki/extensions/TreeAndMenu/dtree.js"><!-- TreeAndMenu --></script>

<script src="/wiki/skins/common/ajax.js?267"></script>
<script src="/wiki/index.php?title=-&amp;action=raw&amp;gen=js&amp;useskin=monobook&amp;267"></script>

<style type="text/css">/*<![CDATA[*/
.source-tcl {line-height: normal;}
.source-tcl li, .source-tcl pre {
	line-height: normal; border: 0px none white;
}
/**
 * GeSHi Dynamically Generated Stylesheet
 * --------------------------------------
 * Dynamically generated stylesheet for tcl
 * CSS class: source-tcl, CSS id: 
 * GeSHi (C) 2004 - 2007 Nigel McNie, 2007 - 2008 Benny Baumann
 * (http://qbnz.com/highlighter/ and http://geshi.org/)
 * --------------------------------------
 */
.tcl.source-tcl .de1, .tcl.source-tcl .de2 {font: normal normal 1em/1.2em monospace; margin:0; padding:0; background:none; vertical-align:top;}
.tcl.source-tcl  {font-family:monospace;}
.tcl.source-tcl .imp {font-weight: bold; color: red;}
.tcl.source-tcl li, .tcl.source-tcl .li1 {font-weight: normal; vertical-align:top;}
.tcl.source-tcl .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;}
.tcl.source-tcl .li2 {font-weight: bold; vertical-align:top;}
.tcl.source-tcl .kw1 {color: #ff7700;font-weight:bold;}
.tcl.source-tcl .kw2 {color: #008000;}
.tcl.source-tcl .kw3 {color: #dc143c;}
.tcl.source-tcl .co1 {color: #808080; font-style: italic;}
.tcl.source-tcl .co2 {color: #483d8b;}
.tcl.source-tcl .coMULTI {color: #808080; font-style: italic;}
.tcl.source-tcl .es0 {color: #000099; font-weight: bold;}
.tcl.source-tcl .br0 {color: black;}
.tcl.source-tcl .sy0 {color: #66cc66;}
.tcl.source-tcl .st0 {color: #483d8b;}
.tcl.source-tcl .nu0 {color: #ff4500;}
.tcl.source-tcl .me1 {color: black;}
.tcl.source-tcl .re0 {color: #ff3333;}
.tcl.source-tcl .ln-xtra, .tcl.source-tcl li.ln-xtra, .tcl.source-tcl div.ln-xtra {background-color: #ffc;}
.tcl.source-tcl span.xtra { display:block; }

/*]]>*/
</style>
<style type="text/css">/*<![CDATA[*/
@import "/wiki/index.php?title=MediaWiki:Geshi.css&usemsgcache=yes&action=raw&ctype=text/css&smaxage=18000";
/*]]>*/
</style></head>
<body class="mediawiki ltr ns-0 ns-subject page-SSPquad_Element skin-monobook">
<div id="globalWrapper">
<div id="column-content"><div id="content" >
	<a id="top"></a>
	
	<h1 id="firstHeading" class="firstHeading">SSPquad Element</h1>
	<div id="bodyContent">
		<h3 id="siteSub">From OpenSeesWiki</h3>
		<div id="contentSub"></div>
		<div id="jump-to-nav">Jump to: <a href="#column-one">navigation</a>, <a href="#searchInput">search</a></div>
		<!-- start content -->
<p>
							<ul class='dmenu' id='5096c68f49483'>
<li class="even"><a href="/wiki/index.php/Command_Manual" >Command_Manual</a>
<ul><li class="even"><a href="/wiki/index.php/Introduction_To_Tcl" > Tcl Commands</a></li>
<li class="odd"><a href="/wiki/index.php/Modeling_Commands" >Modeling_Commands</a>
<ul><li class="even"><a href="/wiki/index.php/Model_command" > model </a></li>
<li class="odd"><a href="/wiki/index.php/UniaxialMaterial_Command" > uniaxialMaterial</a></li>
<li class="even"><a href="/wiki/index.php/NDMaterial_Command" > ndMaterial</a></li>
<li class="odd"><a href="/wiki/index.php/FrictionModel_Command" > frictionModel</a></li>
<li class="even"><a href="/wiki/index.php/Section_Command" > section</a></li>
<li class="odd"><a href="/wiki/index.php/Geometric_Transformation_Command" > geometricTransf</a></li>
<li class="even"><a href="/wiki/index.php/Element_Command" >element</a></li>
<li class="odd"><a href="/wiki/index.php/Node_command" > node</a></li>
<li class="even"> sp commands
<ul><li class="even"> <a href="/wiki/index.php/Fix_command" > fix</a></li>
<li class="odd"> <a href="/wiki/index.php/FixX_command" > fixX</a></li>
<li class="even"> <a href="/wiki/index.php/FixY_command" > fixY</a></li>
<li class="odd"> <a href="/wiki/index.php/FixZ_command" > fixZ</a></li>
</ul></li><li class="odd"> mp commands
<ul><li class="even"> <a href="/wiki/index.php/EqualDOF_command" > equalDOF</a></li>
<li class="odd"> <a href="/wiki/index.php/RigidDiaphragm_command" > rigidDiaphragm</a></li>
<li class="even"> <a href="/wiki/index.php/RigidLink_command" > rigidLink</a></li>
</ul></li><li class="even"><a href="/wiki/index.php/Time_Series_Command" > timeSeries</a></li>
<li class="odd"><a href="/wiki/index.php/Pattern_Command" >pattern</a></li>
<li class="even"><a href="/wiki/index.php/Mass_Command" > mass</a></li>
<li class="odd"> block commands
<ul><li class="odd"> <a href="/wiki/index.php/Block2D_Command" > block2D</a></li>
<li class="even"> <a href="/wiki/index.php/Block3D_Command" > block3D</a></li>
</ul></li><li class="even"><a href="/wiki/index.php/Region_Command" > region</a></li>
<li class="odd"><a href="/wiki/index.php/Rayleigh_Damping_Command" >rayleigh</a></li>
</ul></li><li class="even"><a href="/wiki/index.php/Analysis_Commands" >Analysis Commands</a>
<ul><li class="even"><a href="/wiki/index.php/Constraints_Command" >constraints Command</a></li>
<li class="odd"><a href="/wiki/index.php/Numberer_Command" >numberer Command</a></li>
<li class="even"><a href="/wiki/index.php/System_Command" >system Command</a></li>
<li class="odd"><a href="/wiki/index.php/Test_Command" >test Command</a></li>
<li class="even"><a href="/wiki/index.php/Algorithm_Command" >algorithm Command</a></li>
<li class="odd"><a href="/wiki/index.php/Integrator_Command" >integrator Command</a></li>
<li class="even"><a href="/wiki/index.php/Analysis_Command" >analysis Command</a></li>
<li class="odd"><a href="/wiki/index.php/Eigen_Command" >eigen Command</a></li>
<li class="even"><a href="/wiki/index.php/Analyze_Command" >analyze Command</a></li>
</ul></li><li class="odd"><a href="/wiki/index.php/Output_Commands" >Output Commands</a>
<ul><li class="odd"><a href="/wiki/index.php/Recorder_Command" > recorder</a></li>
<li class="even"><a href="/wiki/index.php/Record_Command" > record</a></li>
<li class="odd"><a href="/wiki/index.php/Print_Command" > print</a></li>
<li class="even"><a href="/wiki/index.php/LogFile_Command" > logFile</a></li>
<li class="odd"><a href="/wiki/index.php/RealTime_Output_Commands" >RealTime_Output_Commands</a></li>
</ul></li><li class="even"><a href="/wiki/index.php/Misc_Commands" >Misc Commands</a>
<ul><li class="even"><a href="/wiki/index.php/EleResponse_Command" >eleResponse Command</a></li>
<li class="odd"><a href="/wiki/index.php/GetTime_Command" >getTime Command</a></li>
<li class="even"><a href="/wiki/index.php?title=GetEleTags_Command&amp;action=edit&amp;redlink=1" class="new" >getEleTags Command</a></li>
<li class="odd"><a href="/wiki/index.php?title=GetNodeTags&amp;action=edit&amp;redlink=1" class="new" >getNodeTags</a></li>
<li class="even"><a href="/wiki/index.php/LoadConst_Command" >loadConst Command</a></li>
<li class="odd"><a href="/wiki/index.php/NodeCoord_Command" >nodeCoord Command</a></li>
<li class="even"><a href="/wiki/index.php/NodeDisp_Command" >nodeDisp Command</a></li>
<li class="odd"><a href="/wiki/index.php/NodeVel_Command" >nodeVel Command</a></li>
<li class="even"><a href="/wiki/index.php/NodeAccel_Command" >nodeAccel Command</a></li>
<li class="odd"><a href="/wiki/index.php/NodeEigenvector_Command" >nodeEigenvector Command</a></li>
<li class="even"><a href="/wiki/index.php/NodeBounds" >nodeBounds</a></li>
<li class="odd"><a href="/wiki/index.php/Print_Command" >print Command</a></li>
<li class="even"><a href="/wiki/index.php/Remove_Command" >remove Command</a></li>
<li class="odd"><a href="/wiki/index.php/Reset_Command" >reset Command</a></li>
<li class="even"><a href="/wiki/index.php/TestIter" >testIter</a></li>
<li class="odd"><a href="/wiki/index.php/TestNorms" >testNorms</a></li>
<li class="even"><a href="/wiki/index.php/Wipe_Command" >wipe Command</a></li>
<li class="odd"><a href="/wiki/index.php/Exit_Command" >exit Command</a></li>
</ul></li><li class="odd"><a href="/wiki/index.php/DataBase_Commands" >DataBase Commands</a>
<ul><li class="even"><a href="/wiki/index.php?title=Template:DataBaseCommandsMenu&amp;action=edit&amp;redlink=1" class="new" >Template:DataBaseCommandsMenu</a></li>
</ul></li></ul></li></ul>
							<script type="text/javascript">/*<![CDATA[*/
								if (window.attachEvent) {
									var sfEls = document.getElementById('5096c68f49483').getElementsByTagName('li');
									for (var i=0; i<sfEls.length; i++) {
										sfEls[i].onmouseover=function() { this.className+=' sfhover'; }
										sfEls[i].onmouseout=function()  { this.className=this.className.replace(new RegExp(' sfhover *'),''); }
									}
								}
							/*]]>*/</script>
							
<br />
</p>
<hr />
<p><br />
</p><p>This command is used to construct a SSPquad element object.
</p>
<table>
<tr>
<td style="background:yellow; color:black; width:800px"> <b>element SSPquad $eleTag $iNode $jNode $kNode $lNode $matTag $type $thick &lt;$b1 $b2&gt;</b>
</td></tr></table>
<p><br />
</p>
<table>
<tr>
<td style="width:150px"> <b>$eleTag </b> </td><td> unique integer tag identifying element object
</td></tr>
<tr>
<td>  <b>$iNode $jNode $kNode $lNode</b> </td><td> the four nodes defining the element, input in counterclockwise order (-ndm 2 -ndf 2)
</td></tr>
<tr>
<td>  <b>$matTag</b> </td><td> unique integer tag associated with previously-defined nDMaterial object
</td></tr>
<tr>
<td>  <b>$type</b> </td><td> string to relay material behavior to the element, can be either "PlaneStrain" or "PlaneStress"
</td></tr>
<tr>
<td>  <b>$thick</b> </td><td> thickness of the element in out-of-plane direction
</td></tr>
<tr>
<td>  <b>$b1 $b2</b> </td><td> constant body forces in global x- and y-directions, respectively (optional, default = 0.0)
</td></tr></table>
<p><br />
</p>
<hr />
<p><br />
The SSPquad element is a four-node quadrilateral element using physically stabilized single-point integration (SSP --&gt; Stabilized Single Point).  The stabilization incorporates an assumed strain field in which the volumetric dilation and the shear strain associated with the the hourglass modes are zero, resulting in an element which is free from volumetric and shear locking.  The elimination of shear locking results in greater coarse mesh accuracy in bending dominated problems, and the elimination of volumetric locking improves accuracy in nearly-incompressible problems.  Analysis times are generally faster than corresponding full integration elements.  The formulation for this element is identical to the solid phase portion of the SSPquadUP element as described by McGann et al. (2012).
</p><p><b>NOTES:</b>
</p>
<ol><li> Valid queries to the SSPquad element when creating an ElementalRecorder object correspond to those for the nDMaterial object assigned to the element (e.g., 'stress', 'strain').  Material response is recorded at the single integration point located in the center of the element.  
</li><li> The SSPquad element was designed with intentions of duplicating the functionality of the <a href="/wiki/index.php/Quad_Element" title="Quad Element">Quad Element</a>.  If an example is found where the SSPquad element cannot do something that works for the <a href="/wiki/index.php/Quad_Element" title="Quad Element">Quad Element</a>, e.g., material updating, please contact the developers listed below so the bug can be fixed.
</li></ol>
<p><b>EXAMPLES:</b>
</p><p>SSPquad element definition with element tag 1, nodes 1, 2, 3, and 4, material tag 1, plane strain conditions, unit thickness, horizontal body force of zero, and vertical body force of -10.0
</p>
<pre>element SSPquad 1  1 2 3 4  1 "PlaneStrain" 1.0 0.0 -10.0
</pre>
<p>Elemental recorders for stress and strain when using the SSPquad element (note the difference from the <a href="/wiki/index.php/Quad_Element" title="Quad Element">Quad Element</a>)
</p>
<pre>recorder Element -eleRange 1 $numElem -time -file stress.out  stress
recorder Element -eleRange 1 $numElem -time -file strain.out  strain
</pre>
<p><b>REFERENCES</b>
</p><p>McGann, C. R., Arduino, P., and Mackenzie-Helnwein, P. (2012).  “Stabilized single-point 4-node quadrilateral element for dynamic analysis of fluid saturated porous media.”  <i>Acta Geotechnica</i>, 7(4), 297-311.
</p><p><br />
</p>
<hr />
<p>Code Developed by: <span style="color:blue"> Chris McGann, Pedro Arduino, &amp; Peter Mackenzie-Helnwein, at the University of Washington </span>
</p>
<hr />
<p><br />
<b>EXAMPLE ANALYSIS:</b>
</p><p>The input file shown below creates a cantilever beam subject to a parabolic shear stress distribution at the free end.  The beam is modeled with only one element over the height to test the coarse-mesh accuracy of the designated quadrilateral element.  Anti-symmetry conditions hold, only the top half of the beam is modeled.  
</p><p>Try running this with the SSPquad element and the <a href="/wiki/index.php/Quad_Element" title="Quad Element">Quad Element</a>.  Compare the results to each other and to the beam solution to see shear locking in action.  Volumetric locking in the <a href="/wiki/index.php/Quad_Element" title="Quad Element">Quad Element</a> can be observed by increasing Poisson's ratio to 0.49.
</p>
<div dir="ltr" class="mw-geshi" style="text-align: left;"><div class="tcl source-tcl"><pre class="de1"><span class="co1">#########################################################</span>
<span class="co1">#					                #</span>
<span class="co1"># Coarse-mesh cantilever beam analysis.  The beam is    #</span>
<span class="co1"># modeled with only 4 elements and uses anti-symmetry.  #</span>
<span class="co1">#							#</span>
<span class="co1"># ---&gt; Basic units used are kN and meters		#</span>
<span class="co1">#							#</span>
<span class="co1">#########################################################</span>
&nbsp;
wipe
&nbsp;
model BasicBuilder -ndm <span class="nu0">2</span> -ndf <span class="nu0">2</span>
&nbsp;
<span class="co1"># beam dimensions</span>
<span class="kw1">set</span> L <span class="nu0">24.0</span>
<span class="kw1">set</span> D <span class="nu0">3.0</span>
&nbsp;
<span class="co1"># define number and size of elements </span>
<span class="kw1">set</span> nElemX <span class="nu0">4</span>
<span class="kw1">set</span> nElemY <span class="nu0">1</span>
<span class="kw1">set</span> nElemT <span class="br0">&#91;</span><span class="kw1">expr</span> <span class="re0">$nElemX</span><span class="sy0">*</span><span class="re0">$nElemY</span><span class="br0">&#93;</span>
<span class="kw1">set</span> sElemX <span class="br0">&#91;</span><span class="kw1">expr</span> <span class="re0">$L</span>/<span class="re0">$nElemX</span><span class="br0">&#93;</span>
<span class="kw1">set</span> sElemY <span class="br0">&#91;</span><span class="kw1">expr</span> <span class="re0">$D</span>/<span class="re0">$nElemY</span><span class="br0">&#93;</span>
&nbsp;
<span class="kw1">set</span> nNodeX <span class="br0">&#91;</span><span class="kw1">expr</span> <span class="re0">$nElemX</span> + <span class="nu0">1</span><span class="br0">&#93;</span>
<span class="kw1">set</span> nNodeY <span class="br0">&#91;</span><span class="kw1">expr</span> <span class="re0">$nElemY</span> + <span class="nu0">1</span><span class="br0">&#93;</span>
<span class="kw1">set</span> nNodeT <span class="br0">&#91;</span><span class="kw1">expr</span> <span class="re0">$nNodeX</span><span class="sy0">*</span><span class="re0">$nNodeY</span><span class="br0">&#93;</span>
&nbsp;
<span class="co1"># create the nodes</span>
<span class="kw1">set</span> nid   <span class="nu0">1</span>
<span class="kw1">set</span> count <span class="nu0">0.0</span>
<span class="kw1">for</span> <span class="co2">{set j 1}</span> <span class="co2">{$j &lt;= $nNodeY}</span> <span class="co2">{incr j 1}</span> <span class="br0">&#123;</span>
	<span class="kw1">for</span> <span class="co2">{set i 1}</span> <span class="co2">{$i &lt;= $nNodeX}</span> <span class="co2">{incr i 1}</span> <span class="br0">&#123;</span>
		node <span class="re0">$nid</span> <span class="br0">&#91;</span><span class="kw1">expr</span> <span class="nu0">0.0</span> + <span class="re0">$count</span><span class="sy0">*</span><span class="re0">$sElemX</span><span class="br0">&#93;</span> <span class="br0">&#91;</span><span class="kw1">expr</span> <span class="br0">&#40;</span><span class="re0">$j</span>-<span class="nu0">1</span><span class="br0">&#41;</span><span class="sy0">*</span><span class="re0">$sElemY</span><span class="br0">&#93;</span>
		<span class="kw1">set</span> nid   <span class="br0">&#91;</span><span class="kw1">expr</span> <span class="re0">$nid</span> + <span class="nu0">1</span><span class="br0">&#93;</span>
		<span class="kw1">set</span> count <span class="br0">&#91;</span><span class="kw1">expr</span> <span class="re0">$count</span> + <span class="nu0">1</span><span class="br0">&#93;</span>
	<span class="br0">&#125;</span>
	<span class="kw1">set</span> count <span class="nu0">0.0</span>
<span class="br0">&#125;</span>
&nbsp;
<span class="co1"># boundary conditions</span>
fix <span class="nu0">1</span>   <span class="nu0">1</span> <span class="nu0">1</span>
fix <span class="br0">&#91;</span><span class="kw1">expr</span> <span class="re0">$nElemY</span><span class="sy0">*</span><span class="re0">$nNodeX</span>+<span class="nu0">1</span><span class="br0">&#93;</span>   <span class="nu0">1</span> <span class="nu0">0</span>
<span class="kw1">for</span> <span class="co2">{set k 2}</span> <span class="co2">{$k &lt;= $nNodeX}</span> <span class="co2">{incr k 1}</span> <span class="br0">&#123;</span>
	fix <span class="re0">$k</span> <span class="nu0">1</span> <span class="nu0">0</span>
<span class="br0">&#125;</span>
&nbsp;
<span class="co1"># define material</span>
<span class="kw1">set</span> matID <span class="nu0">1</span>
<span class="kw1">set</span> E     <span class="nu0">20000</span>
<span class="kw1">set</span> nu    <span class="nu0">0.25</span>
nDMaterial ElasticIsotropic <span class="re0">$matID</span> <span class="re0">$E</span> <span class="re0">$nu</span>
&nbsp;
<span class="co1"># create elements</span>
<span class="kw1">set</span> thick <span class="nu0">1.0</span>
<span class="kw1">set</span> b1 <span class="nu0">0.0</span>
<span class="kw1">set</span> b2 <span class="nu0">0.0</span>
<span class="kw1">set</span> count <span class="nu0">1</span>
<span class="kw1">for</span> <span class="co2">{set j 1}</span> <span class="co2">{$j &lt;= $nNodeY}</span> <span class="co2">{incr j 1}</span> <span class="br0">&#123;</span>
	<span class="kw1">for</span> <span class="co2">{set i 1}</span> <span class="co2">{$i &lt;= $nNodeX}</span> <span class="co2">{incr i 1}</span> <span class="br0">&#123;</span>
		<span class="kw1">if</span> <span class="co2">{($i &lt; $nNodeX) &amp;&amp; ($j &lt; $nNodeY)}</span> <span class="br0">&#123;</span>
			<span class="kw1">set</span> nI <span class="br0">&#91;</span><span class="kw1">expr</span> <span class="re0">$i</span>+<span class="br0">&#40;</span><span class="re0">$j</span>-<span class="nu0">1</span><span class="br0">&#41;</span><span class="sy0">*</span><span class="re0">$nNodeX</span><span class="br0">&#93;</span>
			<span class="kw1">set</span> nJ <span class="br0">&#91;</span><span class="kw1">expr</span> <span class="re0">$i</span>+<span class="br0">&#40;</span><span class="re0">$j</span>-<span class="nu0">1</span><span class="br0">&#41;</span><span class="sy0">*</span><span class="re0">$nNodeX</span>+<span class="nu0">1</span><span class="br0">&#93;</span>
			<span class="kw1">set</span> nK <span class="br0">&#91;</span><span class="kw1">expr</span> <span class="re0">$i</span>+<span class="re0">$j</span><span class="sy0">*</span><span class="re0">$nNodeX</span>+<span class="nu0">1</span><span class="br0">&#93;</span>
			<span class="kw1">set</span> nL <span class="br0">&#91;</span><span class="kw1">expr</span> <span class="re0">$i</span>+<span class="re0">$j</span><span class="sy0">*</span><span class="re0">$nNodeX</span><span class="br0">&#93;</span>
			element SSPquad <span class="re0">$count</span>  <span class="re0">$nI</span> <span class="re0">$nJ</span> <span class="re0">$nK</span> <span class="re0">$nL</span> <span class="re0">$matID</span> <span class="st0">&quot;PlaneStrain&quot;</span> <span class="re0">$thick</span> <span class="re0">$b1</span> <span class="re0">$b2</span>
&nbsp;
			<span class="kw1">set</span> count <span class="br0">&#91;</span><span class="kw1">expr</span> <span class="re0">$count</span>+<span class="nu0">1</span><span class="br0">&#93;</span>
		<span class="br0">&#125;</span>
	<span class="br0">&#125;</span>
<span class="br0">&#125;</span>
&nbsp;
<span class="co1"># create recorders</span>
<span class="kw1">set</span> step <span class="nu0">0.1</span>
&nbsp;
recorder Node -<span class="kw2">time</span> -<span class="kw2">file</span> results/d1p1m1.out -dT <span class="re0">$step</span> -nodeRange <span class="nu0">1</span> <span class="re0">$nNodeT</span> -dof <span class="nu0">1</span> <span class="nu0">2</span> disp
recorder Element -eleRange <span class="nu0">1</span> <span class="re0">$nElemT</span> -<span class="kw2">time</span> -<span class="kw2">file</span> results/s1p1m1.out  -dT <span class="re0">$step</span>  stress
recorder Element -eleRange <span class="nu0">1</span> <span class="re0">$nElemT</span> -<span class="kw2">time</span> -<span class="kw2">file</span> results/e1p1m1.out  -dT <span class="re0">$step</span>  strain
&nbsp;
<span class="co1"># create loading</span>
<span class="kw1">set</span> P -<span class="nu0">300.0</span><span class="sy0">;</span>
&nbsp;
pattern Plain <span class="nu0">3</span> <span class="co2">{Series -time {0 10 15}</span> -values <span class="co2">{0 1 1}</span> -factor <span class="nu0">1</span><span class="br0">&#125;</span> <span class="br0">&#123;</span> 
	<span class="kw2">load</span> <span class="re0">$nNodeT</span>   <span class="nu0">0.0</span> <span class="br0">&#91;</span><span class="kw1">expr</span> <span class="nu0">0.1875</span><span class="sy0">*</span><span class="re0">$P</span><span class="br0">&#93;</span>
	<span class="kw2">load</span> <span class="re0">$nNodeX</span>   <span class="nu0">0.0</span> <span class="br0">&#91;</span><span class="kw1">expr</span> <span class="nu0">0.3125</span><span class="sy0">*</span><span class="re0">$P</span><span class="br0">&#93;</span>
&nbsp;
	<span class="kw2">load</span> <span class="br0">&#91;</span><span class="kw1">expr</span> <span class="re0">$nNodeX</span>+<span class="nu0">1</span><span class="br0">&#93;</span>   <span class="nu0">0.0</span> <span class="br0">&#91;</span><span class="kw1">expr</span> -<span class="nu0">0.1875</span><span class="sy0">*</span><span class="re0">$P</span><span class="br0">&#93;</span>
<span class="br0">&#125;</span>
&nbsp;
<span class="co1"># create analysis</span>
&nbsp;
integrator LoadControl <span class="nu0">0.1</span>
numberer RCM
system SparseGeneral
constraints Transformation
test NormDispIncr 1e-5 <span class="nu0">40</span> <span class="nu0">1</span>
algorithm Newton
analysis Static
&nbsp;
analyze <span class="nu0">105</span>
&nbsp;
wipe</pre></div></div>

<!-- 
NewPP limit report
Preprocessor node count: 17/1000000
Post-expand include size: 12245/2097152 bytes
Template argument size: 0/2097152 bytes
Expensive parser function count: 0/100
-->

<!-- Saved in parser cache with key mediawiki-mediawiki:pcache:idhash:2748-0!1!0!!en!2!edit=0 and timestamp 20121104194831 -->
<div class="printfooter">
Retrieved from "<a href="http://opensees.berkeley.edu/wiki/index.php/SSPquad_Element">http://opensees.berkeley.edu/wiki/index.php/SSPquad_Element</a>"</div>
		<div id='catlinks' class='catlinks catlinks-allhidden'></div>		<!-- end content -->
				<div class="visualClear"></div>
	</div>
</div></div>
<div id="column-one">
	<div id="p-cactions" class="portlet">
		<h5>Views</h5>
		<div class="pBody">
			<ul>
				 <li id="ca-nstab-main" class="selected"><a href="/wiki/index.php/SSPquad_Element" title="View the content page [c]" accesskey="c">Page</a></li>
				 <li id="ca-talk" class="new"><a href="/wiki/index.php?title=Talk:SSPquad_Element&amp;action=edit&amp;redlink=1" title="Discussion about the content page [t]" accesskey="t">Discussion</a></li>
				 <li id="ca-viewsource"><a href="/wiki/index.php?title=SSPquad_Element&amp;action=edit" title="This page is protected.&#10;You can view its source [e]" accesskey="e">View source</a></li>
				 <li id="ca-history"><a href="/wiki/index.php?title=SSPquad_Element&amp;action=history" title="Past revisions of this page [h]" accesskey="h">History</a></li>
			</ul>
		</div>
	</div>
	<div class="portlet" id="p-personal">
		<h5>Personal tools</h5>
		<div class="pBody">
			<ul>
				<li id="pt-login"><a href="/wiki/index.php?title=Special:UserLogin&amp;returnto=SSPquad_Element" title="You are encouraged to log in; however, it is not mandatory [o]" accesskey="o">Log in / create account</a></li>
			</ul>
		</div>
	</div>
	<div class="portlet" id="p-logo">
		<a style="background-image: url(/wiki/skins/common/images/logo.png);" href="/wiki/index.php/Main_Page" title="Visit the main page"></a>
	</div>
	<script type="text/javascript"> if (window.isMSIE55) fixalpha(); </script>
	<div class='generated-sidebar portlet' id='p-navigation'>
		<h5>Navigation</h5>
		<div class='pBody'>
			<ul>
				<li id="n-OpenSees-Home"><a href="http://opensees.berkeley.edu">OpenSees Home</a></li>
				<li id="n-Message-Board"><a href="http://opensees.berkeley.edu/index.php">Message Board</a></li>
				<li id="n-OpenSees-Wiki"><a href="http://opensees.berkeley.edu/wiki/index.php">OpenSees Wiki</a></li>
				<li id="n-User-Documetation"><a href="http://opensees.berkeley.edu/wiki/index.php/OpenSees_User">User Documetation</a></li>
				<li id="n-Download-Page"><a href="http://opensees.berkeley.edu/OpenSees/user/download.php">Download Page</a></li>
				<li id="n-Source-Code"><a href="http://opensees.berkeley.edu/WebSVN/listing.php?repname=OpenSees&amp;path=%2Ftrunk%2FSRC">Source Code</a></li>
			</ul>
		</div>
	</div>
	<div id="p-search" class="portlet">
		<h5><label for="searchInput">Search</label></h5>
		<div id="searchBody" class="pBody">
			<form action="/wiki/index.php" id="searchform">
				<input type='hidden' name="title" value="Special:Search"/>
				<input id="searchInput" title="Search OpenSeesWiki" accesskey="f" type="search" name="search" />
				<input type='submit' name="go" class="searchButton" id="searchGoButton"	value="Go" title="Go to a page with this exact name if exists" />&nbsp;
				<input type='submit' name="fulltext" class="searchButton" id="mw-searchButton" value="Search" title="Search the pages for this text" />
			</form>
		</div>
	</div>
	<div class="portlet" id="p-tb">
		<h5>Toolbox</h5>
		<div class="pBody">
			<ul>
				<li id="t-whatlinkshere"><a href="/wiki/index.php/Special:WhatLinksHere/SSPquad_Element" title="List of all wiki pages that link here [j]" accesskey="j">What links here</a></li>
				<li id="t-recentchangeslinked"><a href="/wiki/index.php/Special:RecentChangesLinked/SSPquad_Element" title="Recent changes in pages linked from this page [k]" accesskey="k">Related changes</a></li>
<li id="t-specialpages"><a href="/wiki/index.php/Special:SpecialPages" title="List of all special pages [q]" accesskey="q">Special pages</a></li>
				<li id="t-print"><a href="/wiki/index.php?title=SSPquad_Element&amp;printable=yes" rel="alternate" title="Printable version of this page [p]" accesskey="p">Printable version</a></li>				<li id="t-permalink"><a href="/wiki/index.php?title=SSPquad_Element&amp;oldid=10162" title="Permanent link to this revision of the page">Permanent link</a></li>			</ul>
		</div>
	</div>
</div><!-- end of the left (by default at least) column -->
<div class="visualClear"></div>
<div id="footer">
	<div id="f-poweredbyico"><a href="http://www.mediawiki.org/"><img src="/wiki/skins/common/images/poweredby_mediawiki_88x31.png" height="31" width="88" alt="Powered by MediaWiki" /></a></div>
	<ul id="f-list">
		<li id="lastmod"> This page was last modified on 23 October 2012, at 17:03.</li>
		<li id="viewcount">This page has been accessed 581 times.</li>
		<li id="privacy"><a href="/wiki/index.php/OpenSeesWiki:Privacy_policy" title="OpenSeesWiki:Privacy policy">Privacy policy</a></li>
		<li id="about"><a href="/wiki/index.php/OpenSeesWiki:About" title="OpenSeesWiki:About">About OpenSeesWiki</a></li>
		<li id="disclaimer"><a href="/wiki/index.php/OpenSeesWiki:General_disclaimer" title="OpenSeesWiki:General disclaimer">Disclaimers</a></li>
	</ul>
</div>
</div>

<script>if (window.runOnloadHook) runOnloadHook();</script>
<!-- Served in 0.153 secs. --><script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
		  var pageTracker = _gat._getTracker("UA-2431545-1");
		  pageTracker._trackPageview();
		} catch(err) {}</script>

</body></html>
