</ul></div><p><div class='dtree' id='sidebartree'>
								<script type="text/javascript">/*<![CDATA[*/
									// TreeAndMenu1.1.1, 2009-07-29
									tree = new dTree('tamsidebartree');
									for (i in tree.icon) tree.icon[i] = '/wiki/extensions/TreeAndMenu/'+tree.icon[i];
									tree.config.useLines = false;
									tree.add(0,-1,'<a href=\"/wiki/index.php/Main_Page\" title=\"Main Page\"> OpenSees Wiki</a>');
									tamsidebartree = tree;
									tamsidebartree.add(1, 0, '<a href="http://opensees.berkeley.edu" class="external text" rel="nofollow">Main_Page</a>');
tamsidebartree.add(2, 0, '<a href="/wiki/index.php/Main_Page" title="Main Page"> OpenSees Wiki</a>');
tamsidebartree.add(3, 0, '<a href="http://opensees.berkeley.edu/community/index.php" class="external text" rel="nofollow">Message Board</a>');
tamsidebartree.add(4, 0, '<a href="/wiki/index.php/Command_Manual" title="Command Manual">Command_Manual</a>');
tamsidebartree.add(5, 4, '<a href="/wiki/index.php/Modeling_Commands" title="Modeling Commands">Modeling_Commands</a>');
tamsidebartree.add(6, 5, '<a href="/wiki/index.php/Model_command" title="Model command"> model </a>');
tamsidebartree.add(7, 5, '<a href="/wiki/index.php/UniaxialMaterial_Command" title="UniaxialMaterial Command"> uniaxialMaterial</a>');
tamsidebartree.add(8, 5, '<a href="/wiki/index.php/NDMaterial_Command" title="NDMaterial Command"> ndMaterial</a>');
tamsidebartree.add(9, 5, '<a href="/wiki/index.php/FrictionModel_Command" title="FrictionModel Command"> frictionModel</a>');
tamsidebartree.add(10, 5, '<a href="/wiki/index.php/Section_Command" title="Section Command"> section</a>');
tamsidebartree.add(11, 5, '<a href="/wiki/index.php/Geometric_Transformation_Command" title="Geometric Transformation Command"> geometricTransf</a>');
tamsidebartree.add(12, 5, '<a href="/wiki/index.php/Element_Command" title="Element Command">element</a>');
tamsidebartree.add(13, 5, '<a href="/wiki/index.php/Node_command" title="Node command"> node</a>');
tamsidebartree.add(14, 5, ' sp commands');
tamsidebartree.add(15, 14, ' <a href="/wiki/index.php/Fix_command" title="Fix command"> fix</a>');
tamsidebartree.add(16, 14, ' <a href="/wiki/index.php/FixX_command" title="FixX command"> fixX</a>');
tamsidebartree.add(17, 14, ' <a href="/wiki/index.php/FixY_command" title="FixY command"> fixY</a>');
tamsidebartree.add(18, 14, ' <a href="/wiki/index.php/FixZ_command" title="FixZ command"> fixZ</a>');
tamsidebartree.add(19, 5, ' mp commands');
tamsidebartree.add(20, 19, ' <a href="/wiki/index.php/EqualDOF_command" title="EqualDOF command"> equalDOF</a>');
tamsidebartree.add(21, 19, ' <a href="/wiki/index.php/RigidDiaphragm_command" title="RigidDiaphragm command"> rigidDiaphragm</a>');
tamsidebartree.add(22, 19, ' <a href="/wiki/index.php/RigidLink_command" title="RigidLink command"> rigidLink</a>');
tamsidebartree.add(23, 5, '<a href="/wiki/index.php/Time_Series_Command" title="Time Series Command"> timeSeries</a>');
tamsidebartree.add(24, 5, '<a href="/wiki/index.php/Pattern_Command" title="Pattern Command">pattern</a>');
tamsidebartree.add(25, 5, '<a href="/wiki/index.php/Mass_Command" title="Mass Command"> mass</a>');
tamsidebartree.add(26, 5, ' block commands');
tamsidebartree.add(27, 26, ' <a href="/wiki/index.php/Block2D_Command" title="Block2D Command"> block2D</a>');
tamsidebartree.add(28, 26, ' <a href="/wiki/index.php/Block3D_Command" title="Block3D Command"> block3D</a>');
tamsidebartree.add(29, 5, '<a href="/wiki/index.php/Region_Command" title="Region Command"> region</a>');
tamsidebartree.add(30, 5, '<a href="/wiki/index.php/Rayleigh_Damping_Command" title="Rayleigh Damping Command">rayleigh</a>');
tamsidebartree.add(31, 4, '<a href="/wiki/index.php/Analysis_Commands" title="Analysis Commands">Analysis Commands</a>');
tamsidebartree.add(32, 31, '<a href="/wiki/index.php/Constraints_Command" title="Constraints Command">constraints Command</a>');
tamsidebartree.add(33, 31, '<a href="/wiki/index.php/Numberer_Command" title="Numberer Command">numberer Command</a>');
tamsidebartree.add(34, 31, '<a href="/wiki/index.php/System_Command" title="System Command">system Command</a>');
tamsidebartree.add(35, 31, '<a href="/wiki/index.php/Test_Command" title="Test Command">test Command</a>');
tamsidebartree.add(36, 31, '<a href="/wiki/index.php/Algorithm_Command" title="Algorithm Command">algorithm Command</a>');
tamsidebartree.add(37, 31, '<a href="/wiki/index.php/Integrator_Command" title="Integrator Command">integrator Command</a>');
tamsidebartree.add(38, 31, '<a href="/wiki/index.php/Analysis_Command" title="Analysis Command">analysis Command</a>');
tamsidebartree.add(39, 31, '<a href="/wiki/index.php/Eigen_Command" title="Eigen Command">eigen Command</a>');
tamsidebartree.add(40, 31, '<a href="/wiki/index.php/Analyze_Command" title="Analyze Command">analyze Command</a>');
tamsidebartree.add(41, 4, '<a href="/wiki/index.php/Output_Commands" title="Output Commands">Output Commands</a>');
tamsidebartree.add(42, 41, '<a href="/wiki/index.php/Recorder_Command" title="Recorder Command"> recorder</a>');
tamsidebartree.add(43, 41, '<a href="/wiki/index.php/Record_Command" title="Record Command"> record</a>');
tamsidebartree.add(44, 41, '<a href="/wiki/index.php/Print_Command" title="Print Command"> print</a>');
tamsidebartree.add(45, 41, '<a href="/wiki/index.php/LogFile_Command" title="LogFile Command"> logFile</a>');
tamsidebartree.add(46, 41, '<a href="/wiki/index.php/RealTime_Output_Commands" title="RealTime Output Commands">RealTime_Output_Commands</a>');
tamsidebartree.add(47, 4, '<a href="/wiki/index.php/Misc_Commands" title="Misc Commands">Misc Commands</a>');
tamsidebartree.add(48, 47, '<a href="/wiki/index.php/EleResponse_Command" title="EleResponse Command">eleResponse Command</a>');
tamsidebartree.add(49, 47, '<a href="/wiki/index.php/GetTime_Command" title="GetTime Command">getTime Command</a>');
tamsidebartree.add(50, 47, '<a href="/wiki/index.php?title=GetEleTags_Command&amp;action=edit&amp;redlink=1" class="new" title="GetEleTags Command (page does not exist)">getEleTags Command</a>');
tamsidebartree.add(51, 47, '<a href="/wiki/index.php?title=GetNodeTags&amp;action=edit&amp;redlink=1" class="new" title="GetNodeTags (page does not exist)">getNodeTags</a>');
tamsidebartree.add(52, 47, '<a href="/wiki/index.php/LoadConst_Command" title="LoadConst Command">loadConst Command</a>');
tamsidebartree.add(53, 47, '<a href="/wiki/index.php/NodeCoord_Command" title="NodeCoord Command">nodeCoord Command</a>');
tamsidebartree.add(54, 47, '<a href="/wiki/index.php/NodeDisp_Command" title="NodeDisp Command">nodeDisp Command</a>');
tamsidebartree.add(55, 47, '<a href="/wiki/index.php/NodeVel_Command" title="NodeVel Command">nodeVel Command</a>');
tamsidebartree.add(56, 47, '<a href="/wiki/index.php/NodeAccel_Command" title="NodeAccel Command">nodeAccel Command</a>');
tamsidebartree.add(57, 47, '<a href="/wiki/index.php/NodeEigenvector_Command" title="NodeEigenvector Command">nodeEigenvector Command</a>');
tamsidebartree.add(58, 47, '<a href="/wiki/index.php/NodeBounds" title="NodeBounds">nodeBounds</a>');
tamsidebartree.add(59, 47, '<a href="/wiki/index.php/Print_Command" title="Print Command">print Command</a>');
tamsidebartree.add(60, 47, '<a href="/wiki/index.php/Remove_Command" title="Remove Command">remove Command</a>');
tamsidebartree.add(61, 47, '<a href="/wiki/index.php/Reset_Command" title="Reset Command">reset Command</a>');
tamsidebartree.add(62, 47, '<a href="/wiki/index.php/TestIter" title="TestIter">testIter</a>');
tamsidebartree.add(63, 47, '<a href="/wiki/index.php/TestNorms" title="TestNorms">testNorms</a>');
tamsidebartree.add(64, 47, '<a href="/wiki/index.php/Wipe_Command" title="Wipe Command">wipe Command</a>');
tamsidebartree.add(65, 47, '<a href="/wiki/index.php/Exit_Command" title="Exit Command">exit Command</a>');
tamsidebartree.add(66, 0, '<a href="/wiki/index.php/OpenSees_User" title="OpenSees User"> User Pages</a>');
tamsidebartree.add(67, 0, '<a href="/wiki/index.php/OpenSees_Developer" title="OpenSees Developer"> Developer Pages</a>');

									document.getElementById('sidebartree').innerHTML = tamsidebartree.toString();
									
								/*]]>*/</script>
							</div>
</p><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" dir="ltr">
<head>
<title>Triple Friction Pendulum - OpenSeesWiki</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="generator" content="MediaWiki 1.17alpha" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="search" type="application/opensearchdescription+xml" href="/wiki/opensearch_desc.php" title="OpenSeesWiki (en)" />
<link rel="alternate" type="application/atom+xml" title="OpenSeesWiki Atom feed" href="/wiki/index.php?title=Special:RecentChanges&amp;feed=atom" />
<link rel="stylesheet" href="/wiki/skins/common/shared.css?267" media="screen" />
<link rel="stylesheet" href="/wiki/skins/common/commonPrint.css?267" media="print" />
<link rel="stylesheet" href="/wiki/skins/monobook/main.css?267" media="screen" />
<!--[if lt IE 5.5000]><link rel="stylesheet" href="/wiki/skins/monobook/IE50Fixes.css?267" media="screen" /><![endif]-->
<!--[if IE 5.5000]><link rel="stylesheet" href="/wiki/skins/monobook/IE55Fixes.css?267" media="screen" /><![endif]-->
<!--[if IE 6]><link rel="stylesheet" href="/wiki/skins/monobook/IE60Fixes.css?267" media="screen" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" href="/wiki/skins/monobook/IE70Fixes.css?267" media="screen" /><![endif]-->
<link rel="stylesheet" href="/wiki/index.php?title=MediaWiki:Common.css&amp;usemsgcache=yes&amp;ctype=text%2Fcss&amp;smaxage=18000&amp;action=raw&amp;maxage=18000" />
<link rel="stylesheet" href="/wiki/index.php?title=MediaWiki:Print.css&amp;usemsgcache=yes&amp;ctype=text%2Fcss&amp;smaxage=18000&amp;action=raw&amp;maxage=18000" media="print" />
<link rel="stylesheet" href="/wiki/index.php?title=MediaWiki:Monobook.css&amp;usemsgcache=yes&amp;ctype=text%2Fcss&amp;smaxage=18000&amp;action=raw&amp;maxage=18000" />
<link rel="stylesheet" href="/wiki/index.php?title=-&amp;action=raw&amp;maxage=18000&amp;gen=css" />
<script>
var skin="monobook",
stylepath="/wiki/skins",
wgUrlProtocols="http\\:\\/\\/|https\\:\\/\\/|ftp\\:\\/\\/|irc\\:\\/\\/|gopher\\:\\/\\/|telnet\\:\\/\\/|nntp\\:\\/\\/|worldwind\\:\\/\\/|mailto\\:|news\\:|svn\\:\\/\\/",
wgArticlePath="/wiki/index.php/$1",
wgScriptPath="/wiki",
wgScriptExtension=".php",
wgScript="/wiki/index.php",
wgVariantArticlePath=false,
wgActionPaths={},
wgServer="http://opensees.berkeley.edu",
wgCanonicalNamespace="",
wgCanonicalSpecialPageName=false,
wgNamespaceNumber=0,
wgPageName="Triple_Friction_Pendulum",
wgTitle="Triple Friction Pendulum",
wgAction="view",
wgArticleId=2811,
wgIsArticle=true,
wgUserName=null,
wgUserGroups=null,
wgUserLanguage="en",
wgContentLanguage="en",
wgBreakFrames=false,
wgCurRevisionId=9907,
wgVersion="1.17alpha",
wgEnableAPI=true,
wgEnableWriteAPI=true,
wgSeparatorTransformTable=["", ""],
wgDigitTransformTable=["", ""],
wgMainPageTitle="Main Page",
wgFormattedNamespaces={"-2": "Media", "-1": "Special", "0": "", "1": "Talk", "2": "User", "3": "User talk", "4": "OpenSeesWiki", "5": "OpenSeesWiki talk", "6": "File", "7": "File talk", "8": "MediaWiki", "9": "MediaWiki talk", "10": "Template", "11": "Template talk", "12": "Help", "13": "Help talk", "14": "Category", "15": "Category talk"},
wgNamespaceIds={"media": -2, "special": -1, "": 0, "talk": 1, "user": 2, "user_talk": 3, "openseeswiki": 4, "openseeswiki_talk": 5, "file": 6, "file_talk": 7, "mediawiki": 8, "mediawiki_talk": 9, "template": 10, "template_talk": 11, "help": 12, "help_talk": 13, "category": 14, "category_talk": 15, "image": 6, "image_talk": 7},
wgSiteName="OpenSeesWiki",
wgCategories=[],
wgRestrictionEdit=[],
wgRestrictionMove=[];
</script><script src="/wiki/skins/common/wikibits.js?267"></script>
<script type="text/javascript" src="/wiki/extensions/TreeAndMenu/dtree.js"><!-- TreeAndMenu --></script>

<script src="/wiki/skins/common/ajax.js?267"></script>
<script src="/wiki/index.php?title=-&amp;action=raw&amp;gen=js&amp;useskin=monobook&amp;267"></script>

</head>
<body class="mediawiki ltr ns-0 ns-subject page-Triple_Friction_Pendulum skin-monobook">
<div id="globalWrapper">
<div id="column-content"><div id="content" >
	<a id="top"></a>
	
	<h1 id="firstHeading" class="firstHeading">Triple Friction Pendulum</h1>
	<div id="bodyContent">
		<h3 id="siteSub">From OpenSeesWiki</h3>
		<div id="contentSub"></div>
		<div id="jump-to-nav">Jump to: <a href="#column-one">navigation</a>, <a href="#searchInput">search</a></div>
		<!-- start content -->
<p>
							<ul class='dmenu' id='509744fc5f5d6'>
<li class="even"><a href="/wiki/index.php/Command_Manual" >Command_Manual</a>
<ul><li class="even"><a href="/wiki/index.php/Introduction_To_Tcl" > Tcl Commands</a></li>
<li class="odd"><a href="/wiki/index.php/Modeling_Commands" >Modeling_Commands</a>
<ul><li class="even"><a href="/wiki/index.php/Model_command" > model </a></li>
<li class="odd"><a href="/wiki/index.php/UniaxialMaterial_Command" > uniaxialMaterial</a></li>
<li class="even"><a href="/wiki/index.php/NDMaterial_Command" > ndMaterial</a></li>
<li class="odd"><a href="/wiki/index.php/FrictionModel_Command" > frictionModel</a></li>
<li class="even"><a href="/wiki/index.php/Section_Command" > section</a></li>
<li class="odd"><a href="/wiki/index.php/Geometric_Transformation_Command" > geometricTransf</a></li>
<li class="even"><a href="/wiki/index.php/Element_Command" >element</a></li>
<li class="odd"><a href="/wiki/index.php/Node_command" > node</a></li>
<li class="even"> sp commands
<ul><li class="even"> <a href="/wiki/index.php/Fix_command" > fix</a></li>
<li class="odd"> <a href="/wiki/index.php/FixX_command" > fixX</a></li>
<li class="even"> <a href="/wiki/index.php/FixY_command" > fixY</a></li>
<li class="odd"> <a href="/wiki/index.php/FixZ_command" > fixZ</a></li>
</ul></li><li class="odd"> mp commands
<ul><li class="even"> <a href="/wiki/index.php/EqualDOF_command" > equalDOF</a></li>
<li class="odd"> <a href="/wiki/index.php/RigidDiaphragm_command" > rigidDiaphragm</a></li>
<li class="even"> <a href="/wiki/index.php/RigidLink_command" > rigidLink</a></li>
</ul></li><li class="even"><a href="/wiki/index.php/Time_Series_Command" > timeSeries</a></li>
<li class="odd"><a href="/wiki/index.php/Pattern_Command" >pattern</a></li>
<li class="even"><a href="/wiki/index.php/Mass_Command" > mass</a></li>
<li class="odd"> block commands
<ul><li class="odd"> <a href="/wiki/index.php/Block2D_Command" > block2D</a></li>
<li class="even"> <a href="/wiki/index.php/Block3D_Command" > block3D</a></li>
</ul></li><li class="even"><a href="/wiki/index.php/Region_Command" > region</a></li>
<li class="odd"><a href="/wiki/index.php/Rayleigh_Damping_Command" >rayleigh</a></li>
</ul></li><li class="even"><a href="/wiki/index.php/Analysis_Commands" >Analysis Commands</a>
<ul><li class="even"><a href="/wiki/index.php/Constraints_Command" >constraints Command</a></li>
<li class="odd"><a href="/wiki/index.php/Numberer_Command" >numberer Command</a></li>
<li class="even"><a href="/wiki/index.php/System_Command" >system Command</a></li>
<li class="odd"><a href="/wiki/index.php/Test_Command" >test Command</a></li>
<li class="even"><a href="/wiki/index.php/Algorithm_Command" >algorithm Command</a></li>
<li class="odd"><a href="/wiki/index.php/Integrator_Command" >integrator Command</a></li>
<li class="even"><a href="/wiki/index.php/Analysis_Command" >analysis Command</a></li>
<li class="odd"><a href="/wiki/index.php/Eigen_Command" >eigen Command</a></li>
<li class="even"><a href="/wiki/index.php/Analyze_Command" >analyze Command</a></li>
</ul></li><li class="odd"><a href="/wiki/index.php/Output_Commands" >Output Commands</a>
<ul><li class="odd"><a href="/wiki/index.php/Recorder_Command" > recorder</a></li>
<li class="even"><a href="/wiki/index.php/Record_Command" > record</a></li>
<li class="odd"><a href="/wiki/index.php/Print_Command" > print</a></li>
<li class="even"><a href="/wiki/index.php/LogFile_Command" > logFile</a></li>
<li class="odd"><a href="/wiki/index.php/RealTime_Output_Commands" >RealTime_Output_Commands</a></li>
</ul></li><li class="even"><a href="/wiki/index.php/Misc_Commands" >Misc Commands</a>
<ul><li class="even"><a href="/wiki/index.php/EleResponse_Command" >eleResponse Command</a></li>
<li class="odd"><a href="/wiki/index.php/GetTime_Command" >getTime Command</a></li>
<li class="even"><a href="/wiki/index.php?title=GetEleTags_Command&amp;action=edit&amp;redlink=1" class="new" >getEleTags Command</a></li>
<li class="odd"><a href="/wiki/index.php?title=GetNodeTags&amp;action=edit&amp;redlink=1" class="new" >getNodeTags</a></li>
<li class="even"><a href="/wiki/index.php/LoadConst_Command" >loadConst Command</a></li>
<li class="odd"><a href="/wiki/index.php/NodeCoord_Command" >nodeCoord Command</a></li>
<li class="even"><a href="/wiki/index.php/NodeDisp_Command" >nodeDisp Command</a></li>
<li class="odd"><a href="/wiki/index.php/NodeVel_Command" >nodeVel Command</a></li>
<li class="even"><a href="/wiki/index.php/NodeAccel_Command" >nodeAccel Command</a></li>
<li class="odd"><a href="/wiki/index.php/NodeEigenvector_Command" >nodeEigenvector Command</a></li>
<li class="even"><a href="/wiki/index.php/NodeBounds" >nodeBounds</a></li>
<li class="odd"><a href="/wiki/index.php/Print_Command" >print Command</a></li>
<li class="even"><a href="/wiki/index.php/Remove_Command" >remove Command</a></li>
<li class="odd"><a href="/wiki/index.php/Reset_Command" >reset Command</a></li>
<li class="even"><a href="/wiki/index.php/TestIter" >testIter</a></li>
<li class="odd"><a href="/wiki/index.php/TestNorms" >testNorms</a></li>
<li class="even"><a href="/wiki/index.php/Wipe_Command" >wipe Command</a></li>
<li class="odd"><a href="/wiki/index.php/Exit_Command" >exit Command</a></li>
</ul></li><li class="odd"><a href="/wiki/index.php/DataBase_Commands" >DataBase Commands</a>
<ul><li class="even"><a href="/wiki/index.php?title=Template:DataBaseCommandsMenu&amp;action=edit&amp;redlink=1" class="new" >Template:DataBaseCommandsMenu</a></li>
</ul></li></ul></li></ul>
							<script type="text/javascript">/*<![CDATA[*/
								if (window.attachEvent) {
									var sfEls = document.getElementById('509744fc5f5d6').getElementsByTagName('li');
									for (var i=0; i<sfEls.length; i++) {
										sfEls[i].onmouseover=function() { this.className+=' sfhover'; }
										sfEls[i].onmouseout=function()  { this.className=this.className.replace(new RegExp(' sfhover *'),''); }
									}
								}
							/*]]>*/</script>
							
<br />
</p>
<hr />
<p><br />
</p><p>This command is used to construct a Triple Friction Pendulum Bearing (TPB) (Figure 1) element object. The element is a 3-dimensional element with variable friction coefficient model [1] [2]. The element accounts for the vertical-horizontal coupling and the bidirectional coupling in horizontal behavior. The friction coefficient model is a general model that accounts for the variation of friction coefficient on velocity and vertical force. Other simplified friction coefficient models such as vertical-force-independent friction coefficient, velocity-independent friction coefficient and constant friction coefficient can also be defined. The element can also be used for modeling single friction pendulum bearings or double friction pendulum bearings by simplifying the general backbone curve of the TPB.
</p>
<div class="center"><div class="floatnone"><a href="/wiki/index.php/File:TPB_Nhan_Fig1.jpg" class="image"><img alt="TPB Nhan Fig1.jpg" src="/wiki/images/thumb/5/5a/TPB_Nhan_Fig1.jpg/500px-TPB_Nhan_Fig1.jpg" width="500" height="437" /></a></div></div>
<p><br />
The horizontal normalized behavior of the element is an extension of the unidirectional behavior proposed by Fenz and Constantinou [3] and Morgan and Mahin [4]. The envelope normalized backbone curve for unidirectional behavior is in Figure 2 where effective radii are calculated from L_i=R_i- h_i, based on the bearing geometry in Figure 1. Displacements u_i^* and normalized forces f_i^* are evaluated according to [2], [3] or [4]. <span style="color:blue"> The Excel file for generating a backbone curve of a TPB can be downloaded here:</span><a href="/wiki/images/e/ef/TPB_Nhan_BackboneCurve.xls" class="internal" title="TPB Nhan BackboneCurve.xls">Media:TPB_Nhan_BackboneCurve.xls</a>
</p>
<div class="center"><div class="floatnone"><a href="/wiki/index.php/File:TPB_Nhan_Fig2.jpg" class="image"><img alt="TPB Nhan Fig2.jpg" src="/wiki/images/thumb/6/6d/TPB_Nhan_Fig2.jpg/400px-TPB_Nhan_Fig2.jpg" width="400" height="301" /></a></div></div>
<p><br />
</p><p>The friction coefficient model μ_i for each contact surface (as identified in Figure 1) is defined as follows:
</p><p>1. Define the friction coefficient at slow (μ_slow) and fast (μ_fast) velocity [5] (Figure 3):
</p>
<dl><dd><dl><dd>μ_slow=A_slow.W^(n_slow-1)
</dd></dl>
</dd></dl>
<dl><dd><dl><dd>μ_fast=A_fast.W^(n_fast-1)
</dd></dl>
</dd></dl>
<p>where A_slow, A_fast, n_slow ≤ 1, n_fast ≤ 1 are constants that determine the friction coefficient models. As the friction coefficients  μ_slow and μ_fast are unitless, the user must be careful to define the constants to coincide with the units of the model input data.
</p><p>2. The friction coefficient as a function of velocity is [6]:
</p>
<dl><dd><dl><dd>μ=μ_fast-(μ_fast-μ_slow )exp(-a.udot)
</dd></dl>
</dd></dl>
<p>where udot is velocity and a is a rate parameter.
</p><p>3. In this element, a is assumed to be dependent on vertical force W through:
</p>
<dl><dd><dl><dd>a=α_0+α_1.W+α_2.W^2
</dd></dl>
</dd></dl>
<p>where α_0, α_1 and α_2 are constants, with units of Time/Length, Time/Length/Force and Time/Length/Force^2 respectively.
</p>
<div class="center"><div class="floatnone"><a href="/wiki/index.php/File:TPB_Nhan_Fig3.jpg" class="image"><img alt="TPB Nhan Fig3.jpg" src="/wiki/images/0/00/TPB_Nhan_Fig3.jpg" width="300" height="234" /></a></div></div>
<p><br />
Overturning moment and torsion due to the eccentricity of internal forces are equally distributed to the 2 nodes of the element.
</p><p>In the vertical direction, the element is multi-linear elastic with different stiffnesses k_vc and k_vt in compression and tension, respectively. Even though a TPB has no resistance in tension, a small nonzero stiffness should be provided in tension for stability of the numerical procedure. The reasonable vertical stiffness in tension depends on the stiffness of the superstructure, but a value between 10 N/m to 100 N/m should work well in most cases. Very small ratio of k_vt/k_vc may cause the convergence difficulty when the superstructure is uplifted. 
</p><p><br />
</p>
<table>
<tr>
<td style="background:yellow; color:black; width:800px"> <b>element TripleFrictionPendulum $eleTag $iNode $jNode $L1 $L2 $L3 $d1 $d2 $d3 $mu1slow $mu1fast $n1slow $n1fast $alpha10 $alpha11 $alpha12 $mu2slow $mu2fast $n2slow $n2fast $alpha20 $alpha21 $alpha22 $mu3slow $mu3fast $n3slow $n3fast $alpha30 $alpha31 $alpha32 $W $uy $kvc $kvt $minFv $maxMuFac $tol</b>
</td></tr></table>
<p><br />
</p>
<hr />
<table>
<tr>
<td style="width:250px"> <b>$eleTag</b> </td><td> = unique element object tag
</td></tr>
<tr>
<td> <b>$iNode $jNode</b> </td><td> = end nodes
</td></tr>
<tr>
<td> <b>$L1, $L2, $L3</b> </td><td> = effective radii. Li = R_i - h_i (see Figure 1)
</td></tr>
<tr>
<td> <b>$d1, $d2, $d3</b> </td><td> = displacement limits of pendulums (Figure 1). Displacement limit of the bearing is 2$d1+$d2+$d3+$L1.$d3/$L3-$L1.$d2/$L2
</td></tr>
<tr>
<td> <b>$mu1slow, $mu2slow, $mu3slow</b> </td><td> = friction coefficients μ_1, μ_2, μ_3 at slow velocity at vertical load $W.
</td></tr>
<tr>
<td> <b>$mu1fast, $mu2fast, $mu3fast</b> </td><td> = friction coefficients μ_1, μ_2, μ_3 at fast velocity at vertical load $W.
</td></tr>
<tr>
<td> <b>$n1slow, $n1fast</b> </td><td> = n_slow, n_fast for friction coefficient μ_1. Similar meaning for $n2slow, $n2fast, $n3slow, $n3fast.
</td></tr>
<tr>
<td> <b>$alpha10, $alpha11, $alpha12</b> </td><td> = α_0, α_1, α_2 determining rate parameters a for friction coefficient μ_1. Similar meaning for $alpha20, $alpha21, $alpha22, $alpha30, $alpha31, $alpha32.
</td></tr>
<tr>
<td> <b>$W</b> </td><td> = vertical force where $mu1slow, $mu2slow, $mu3slow, $mu1fast, $mu2fast, $mu3fast are specified. This axial force is also used for the first trial of the first analyzing step.
</td></tr>
<tr>
<td> <b>$uy</b> </td><td> = lateral displacement where sliding of the bearing starts. Recommended value = 0.25 to 1 mm. A smaller value may cause convergence problem.
</td></tr>
<tr>
<td> <b>$kvc, $kvt</b> </td><td> = compression k_vc and tension stiffness k_vt of the bearing.
</td></tr>
<tr>
<td> <b>$minFv (&gt;=0)</b> </td><td> = minimum vertical compression force in the bearing used for computing the horizontal tangent stiffness matrix from the normalized tangent stiffness matrix of the element. $minFv is substituted for the actual compressive force when it is less than $minFv, and prevents the element from using a negative stiffness matrix in the horizontal direction when uplift occurs. The vertical nodal force returned to nodes is always computed from $kvc (or $kvt) and vertical deformation, and thus is not affected by $minFv.
</td></tr>
<tr>
<td> <b>$maxMuFac</b> </td><td> = factor for determining the maximum friction coefficients. This value prevents the friction coefficient from exceeding an unrealistic maximum value when the vertical force becomes very small. The maximum friction coefficient is determined from μ_fast, for example μ_1 ≤ $maxMuFac.$mu1fast.
</td></tr>
<tr>
<td> <b>$tol</b> </td><td> = relative tolerance for checking the convergence of the element. Recommended value = 1.e-10 to 1.e-3.
</td></tr></table>
<p><br />
</p><p><b>SPECIAL CASES:</b>
</p><p>1. Constant friction coefficients: 
</p>
<dl><dd><dl><dd><b>μ_1=const:</b> $n1slow = $n1fast = 1.0; $mu1slow = $mu1fast = μ_1; all other constants defining μ_1 are arbitrary.
</dd></dl>
</dd></dl>
<p>2. Friction coefficients vary with velocity but are independent of vertical force:
</p>
<dl><dd><dl><dd><b>μ_1 is independent of vertical force:</b> $n1slow = $n1fast = 1.0; $alpha10 = a (rate parameter); $alpha11 = $alpha12 = 0.
</dd></dl>
</dd></dl>
<p>3. Friction coefficients vary with vertical force but are independent of velocity:
</p>
<dl><dd><dl><dd><b>μ_1 is independent on velocity:</b> $n1slow = $n1fast; $mu1slow = $mu1fast; all other constants defining μ_1 are arbitrary.
</dd></dl>
</dd></dl>
<p>4. Vertical-horizontal uncoupled bearing:
</p>
<dl><dd><dl><dd>Restrain vertical displacement of the 2 nodes and set $minFv = static vertical reaction of the bearing.
</dd></dl>
</dd></dl>
<p><br />
</p><p><b>NOTES:</b>
</p><p>The current element requires 6 degree of freedoms at each node and defines the local coordinate system to be the same as the global coordinate system, where the vertical axis must be 3.
</p><p>Since the element accounts for the vertical-horizontal coupling behavior of TPBs, the time step size in analysis of vertically stiff structures should be small enough so that the high frequency components in responses can be captured.
</p><p>Rayleigh damping is included.
</p><p>The height of the bearing (for computing overturning moment from horizontal force) is computed from the vertical distance between the two end nodes.
</p>
<hr />
<p><b>EXAMPLE:</b>
</p><p>element TripleFrictionPendulum 1 1 2 0.36 1.25 1.25 0.1 0.2 0.2 0.012 0.018 0.8 0.7 25.0 0.0 0.0 0.052 0.075 0.8 0.7 25.0 0.0 0.0 0.12 0.16 0.8 0.7  25.0  0.0  0.0  1000.0  0.0005  1.E6  1.0  0.1  3.0  1.E-5;
</p><p><b>REFERENCES:</b>
</p><p>1) Dao ND, Ryan KL, Sato E, Sasaki T. Verification of a Three-dimensional Triple Pendulum Bearing
Element with General Friction Model Using Full Scale Test Data. Submitted to
Earthquake Engineering and Structural Dynamics, 2012.
</p><p>2) Dao ND. Seismic Response of a Full-scale 5-story Steel Frame Building Isolated by Triple Pendulum Bearings under 3D Excitations. Dissertation, University of Nevada – Reno, 2012.
</p><p>3) Fenz DM, Constantinou MC. Spherical sliding isolation bearings with adaptive behavior: Theory. Earthquake Engineering and Structural Dynamics 2008; 37(2):163-183.
</p><p>4) Morgan TA, Mahin SA. The use of innovative base isolation systems to achieve complex seismic performance objectives. PEER-2011/06 2011.
</p><p>5) Bowden FP, Tabor D. The friction and lubrication of solids – part II. Oxford University Press, London, Great Britain, 1964.
</p><p>6) Constantinou MC, Mokha A, Reinhorn A. Teflon bearings in base isolation. II: Modeling. Journal of Structural Engineering (ASCE) 1990; 116(2): 455-474
</p><p><br />
</p>
<hr />
<p>Code Developed by: <span style="color:blue"> Nhan D. Dao, University of Nevada - Reno. </span>
</p><p><br />
</p>
<hr />
<table>
<tr>
<td style="background:yellow; color:black"> <b>APPLICATION EXAMPLES</b>
</td></tr></table>
<p><br />
</p><p>Download these 3 ground motion files and change the extension ".tcl" to ".ATH" for EXAMPLES 2 to 7: <a href="/wiki/images/2/2c/TCU065-E.tcl" class="internal" title="TCU065-E.tcl">Media:TCU065-E.tcl</a>, <a href="/wiki/images/4/43/TCU065-N.tcl" class="internal" title="TCU065-N.tcl">Media:TCU065-N.tcl</a>, <a href="/wiki/images/9/98/TCU065-V.tcl" class="internal" title="TCU065-V.tcl">Media:TCU065-V.tcl</a>
</p><p><br />
</p>
<table>
<tr>
<td style="background:yellow; color:black"> <b>EXAMPLE 1:</b>
</td></tr></table>
<p>Unidirectional static pushover of a TPB element with constant friction coefficients.
</p><p>Tcl code: <a href="/wiki/images/a/ad/CheckingTripleFrictionPendulum_StaticCyclicPushover1.tcl" class="internal" title="CheckingTripleFrictionPendulum StaticCyclicPushover1.tcl">Media:CheckingTripleFrictionPendulum_StaticCyclicPushover1.tcl</a>
</p><p>Results:
</p><p><a href="/wiki/index.php/File:TPB_Nhan_Ex1a.png" class="image"><img alt="TPB Nhan Ex1a.png" src="/wiki/images/thumb/c/c6/TPB_Nhan_Ex1a.png/400px-TPB_Nhan_Ex1a.png" width="400" height="241" /></a>
</p><p><br />
</p>
<table>
<tr>
<td style="background:yellow; color:black"> <b>EXAMPLE 2:</b>
</td></tr></table>
<p>Unidirectional dynamic seismic analysis of a single mass supported by a TPB element with constant friction coefficients.
</p><p>Tcl code: <a href="/wiki/images/a/a9/CheckingTripleFrictionPendulum_1DDynamics_ConstFriction1.tcl" class="internal" title="CheckingTripleFrictionPendulum 1DDynamics ConstFriction1.tcl">Media:CheckingTripleFrictionPendulum_1DDynamics_ConstFriction1.tcl</a>
</p><p>Results:
</p><p><a href="/wiki/index.php/File:TPB_Nhan_Ex2_1Disp.png" class="image"><img alt="TPB Nhan Ex2 1Disp.png" src="/wiki/images/thumb/5/55/TPB_Nhan_Ex2_1Disp.png/500px-TPB_Nhan_Ex2_1Disp.png" width="500" height="250" /></a>
</p><p><a href="/wiki/index.php/File:TPB_Nhan_Ex2_2DispTrace.png" class="image"><img alt="TPB Nhan Ex2 2DispTrace.png" src="/wiki/images/thumb/3/39/TPB_Nhan_Ex2_2DispTrace.png/250px-TPB_Nhan_Ex2_2DispTrace.png" width="250" height="187" /></a>
</p><p><a href="/wiki/index.php/File:TPB_Nhan_Ex2_3Reaction.png" class="image"><img alt="TPB Nhan Ex2 3Reaction.png" src="/wiki/images/thumb/4/43/TPB_Nhan_Ex2_3Reaction.png/500px-TPB_Nhan_Ex2_3Reaction.png" width="500" height="249" /></a>
</p><p><a href="/wiki/index.php/File:TPB_Nhan_Ex2_4Loop.png" class="image"><img alt="TPB Nhan Ex2 4Loop.png" src="/wiki/images/thumb/6/64/TPB_Nhan_Ex2_4Loop.png/500px-TPB_Nhan_Ex2_4Loop.png" width="500" height="375" /></a>
</p><p><br />
</p><p><br />
</p>
<table>
<tr>
<td style="background:yellow; color:black"> <b>EXAMPLE 3:</b>
</td></tr></table>
<p>Unidirectional dynamic seismic analysis of a single mass supported by a TPB element with variable friction coefficients.
</p><p>Tcl code: <a href="/wiki/images/a/a7/CheckingTripleFrictionPendulum_1DDynamics_VariableFriction1.tcl" class="internal" title="CheckingTripleFrictionPendulum 1DDynamics VariableFriction1.tcl">Media:CheckingTripleFrictionPendulum_1DDynamics_VariableFriction1.tcl</a>
</p><p>Results:
</p><p><a href="/wiki/index.php/File:TPB_Nhan_Ex3_1Disp.png" class="image"><img alt="TPB Nhan Ex3 1Disp.png" src="/wiki/images/thumb/6/6c/TPB_Nhan_Ex3_1Disp.png/500px-TPB_Nhan_Ex3_1Disp.png" width="500" height="249" /></a>
</p><p><a href="/wiki/index.php/File:TPB_Nhan_Ex3_2DispTrace.png" class="image"><img alt="TPB Nhan Ex3 2DispTrace.png" src="/wiki/images/thumb/a/ab/TPB_Nhan_Ex3_2DispTrace.png/250px-TPB_Nhan_Ex3_2DispTrace.png" width="250" height="186" /></a>
</p><p><a href="/wiki/index.php/File:TPB_Nhan_Ex3_3Reaction.png" class="image"><img alt="TPB Nhan Ex3 3Reaction.png" src="/wiki/images/thumb/4/4f/TPB_Nhan_Ex3_3Reaction.png/500px-TPB_Nhan_Ex3_3Reaction.png" width="500" height="249" /></a>
</p><p><a href="/wiki/index.php/File:TPB_Nhan_Ex3_4Loop.png" class="image"><img alt="TPB Nhan Ex3 4Loop.png" src="/wiki/images/thumb/9/98/TPB_Nhan_Ex3_4Loop.png/500px-TPB_Nhan_Ex3_4Loop.png" width="500" height="373" /></a>
</p><p><br />
</p>
<table>
<tr>
<td style="background:yellow; color:black"> <b>EXAMPLE 4:</b>
</td></tr></table>
<p>Two-dimensional dynamic seismic analysis of a single mass supported by a TPB element with constant friction coefficients.
</p><p>Tcl code: <a href="/wiki/images/9/93/CheckingTripleFrictionPendulum_2DDynamic_ConstFriction1.tcl" class="internal" title="CheckingTripleFrictionPendulum 2DDynamic ConstFriction1.tcl">Media:CheckingTripleFrictionPendulum_2DDynamic_ConstFriction1.tcl</a>
</p><p>Results:
</p><p><a href="/wiki/index.php/File:TPB_Nhan_Ex4_1Disp.png" class="image"><img alt="TPB Nhan Ex4 1Disp.png" src="/wiki/images/thumb/a/a0/TPB_Nhan_Ex4_1Disp.png/500px-TPB_Nhan_Ex4_1Disp.png" width="500" height="250" /></a>
</p><p><a href="/wiki/index.php/File:TPB_Nhan_Ex4_2DispTrace.png" class="image"><img alt="TPB Nhan Ex4 2DispTrace.png" src="/wiki/images/thumb/8/8d/TPB_Nhan_Ex4_2DispTrace.png/250px-TPB_Nhan_Ex4_2DispTrace.png" width="250" height="187" /></a>
</p><p><a href="/wiki/index.php/File:TPB_Nhan_Ex4_3aReaction.png" class="image"><img alt="TPB Nhan Ex4 3aReaction.png" src="/wiki/images/thumb/d/d1/TPB_Nhan_Ex4_3aReaction.png/500px-TPB_Nhan_Ex4_3aReaction.png" width="500" height="250" /></a>
</p><p><a href="/wiki/index.php/File:TPB_Nhan_Ex4_4Loop.png" class="image"><img alt="TPB Nhan Ex4 4Loop.png" src="/wiki/images/thumb/d/d2/TPB_Nhan_Ex4_4Loop.png/500px-TPB_Nhan_Ex4_4Loop.png" width="500" height="374" /></a>
</p><p><br />
</p><p><br />
</p>
<table>
<tr>
<td style="background:yellow; color:black"> <b>EXAMPLE 5:</b>
</td></tr></table>
<p>Two-dimensional dynamic seismic analysis of a single mass supported by a TPB element with variable friction coefficients.
</p><p>Tcl code: <a href="/wiki/images/a/aa/CheckingTripleFrictionPendulum_2DDynamic_VariableFriction1.tcl" class="internal" title="CheckingTripleFrictionPendulum 2DDynamic VariableFriction1.tcl">Media:CheckingTripleFrictionPendulum_2DDynamic_VariableFriction1.tcl</a>
</p><p>Results:
</p><p><a href="/wiki/index.php/File:TPB_Nhan_Ex5_1Disp.png" class="image"><img alt="TPB Nhan Ex5 1Disp.png" src="/wiki/images/thumb/0/07/TPB_Nhan_Ex5_1Disp.png/500px-TPB_Nhan_Ex5_1Disp.png" width="500" height="250" /></a>
</p><p><a href="/wiki/index.php/File:TPB_Nhan_Ex5_2Trace.png" class="image"><img alt="TPB Nhan Ex5 2Trace.png" src="/wiki/images/thumb/f/f6/TPB_Nhan_Ex5_2Trace.png/250px-TPB_Nhan_Ex5_2Trace.png" width="250" height="187" /></a>
</p><p><a href="/wiki/index.php/File:TPB_Nhan_Ex5_3Reaction.png" class="image"><img alt="TPB Nhan Ex5 3Reaction.png" src="/wiki/images/thumb/1/14/TPB_Nhan_Ex5_3Reaction.png/500px-TPB_Nhan_Ex5_3Reaction.png" width="500" height="250" /></a>
</p><p><a href="/wiki/index.php/File:TPB_Nhan_Ex5_4aLoop.png" class="image"><img alt="TPB Nhan Ex5 4aLoop.png" src="/wiki/images/thumb/4/47/TPB_Nhan_Ex5_4aLoop.png/500px-TPB_Nhan_Ex5_4aLoop.png" width="500" height="374" /></a>
</p><p><br />
</p><p><br />
</p>
<table>
<tr>
<td style="background:yellow; color:black"> <b>EXAMPLE 6:</b>
</td></tr></table>
<p>Three-dimensional dynamic seismic analysis of a single mass supported by a TPB element with constant friction coefficients.
</p><p>Tcl code: <a href="/wiki/images/8/8b/CheckingTripleFrictionPendulum_3DDynamic_ConstFriction1.tcl" class="internal" title="CheckingTripleFrictionPendulum 3DDynamic ConstFriction1.tcl">Media:CheckingTripleFrictionPendulum_3DDynamic_ConstFriction1.tcl</a>
</p><p>Results:
</p><p><a href="/wiki/index.php/File:TPB_Nhan_Ex6_1Disp.png" class="image"><img alt="TPB Nhan Ex6 1Disp.png" src="/wiki/images/c/cc/TPB_Nhan_Ex6_1Disp.png" width="500" height="249" /></a>
</p><p><a href="/wiki/index.php/File:TPB_Nhan_Ex6_2DispTrace.png" class="image"><img alt="TPB Nhan Ex6 2DispTrace.png" src="/wiki/images/thumb/9/91/TPB_Nhan_Ex6_2DispTrace.png/250px-TPB_Nhan_Ex6_2DispTrace.png" width="250" height="188" /></a>
</p><p><a href="/wiki/index.php/File:TPB_Nhan_Ex6_3Reaction.png" class="image"><img alt="TPB Nhan Ex6 3Reaction.png" src="/wiki/images/thumb/4/40/TPB_Nhan_Ex6_3Reaction.png/500px-TPB_Nhan_Ex6_3Reaction.png" width="500" height="249" /></a>
</p><p><a href="/wiki/index.php/File:TPB_Nhan_Ex6_4Loop.png" class="image"><img alt="TPB Nhan Ex6 4Loop.png" src="/wiki/images/8/85/TPB_Nhan_Ex6_4Loop.png" width="500" height="375" /></a>
</p><p><br />
</p><p><br />
</p>
<table>
<tr>
<td style="background:yellow; color:black"> <b>EXAMPLE 7:</b>
</td></tr></table>
<p>Three-dimensional dynamic seismic analysis of a single mass supported by a TPB element with variable friction coefficients.
</p><p>Tcl code: <a href="/wiki/images/2/28/CheckingTripleFrictionPendulum_3DDynamic_VariableFriction1.tcl" class="internal" title="CheckingTripleFrictionPendulum 3DDynamic VariableFriction1.tcl">Media:CheckingTripleFrictionPendulum_3DDynamic_VariableFriction1.tcl</a>
</p><p>Results:
</p><p><a href="/wiki/index.php/File:TPB_Nhan_Ex7_1Disp.png" class="image"><img alt="TPB Nhan Ex7 1Disp.png" src="/wiki/images/thumb/a/a2/TPB_Nhan_Ex7_1Disp.png/500px-TPB_Nhan_Ex7_1Disp.png" width="500" height="250" /></a>
</p><p><a href="/wiki/index.php/File:TPB_Nhan_Ex7_2DispTrace.png" class="image"><img alt="TPB Nhan Ex7 2DispTrace.png" src="/wiki/images/thumb/2/24/TPB_Nhan_Ex7_2DispTrace.png/250px-TPB_Nhan_Ex7_2DispTrace.png" width="250" height="187" /></a>
</p><p><a href="/wiki/index.php/File:TPB_Nhan_Ex7_3Reaction.png" class="image"><img alt="TPB Nhan Ex7 3Reaction.png" src="/wiki/images/thumb/0/02/TPB_Nhan_Ex7_3Reaction.png/500px-TPB_Nhan_Ex7_3Reaction.png" width="500" height="250" /></a>
</p><p><a href="/wiki/index.php/File:TPB_Nhan_Ex7_4Loop.png" class="image"><img alt="TPB Nhan Ex7 4Loop.png" src="/wiki/images/thumb/a/a6/TPB_Nhan_Ex7_4Loop.png/500px-TPB_Nhan_Ex7_4Loop.png" width="500" height="375" /></a>
</p>
<!-- 
NewPP limit report
Preprocessor node count: 15/1000000
Post-expand include size: 12245/2097152 bytes
Template argument size: 0/2097152 bytes
Expensive parser function count: 0/100
-->

<!-- Saved in parser cache with key mediawiki-mediawiki:pcache:idhash:2811-0!1!0!!en!2!edit=0 and timestamp 20121105044756 -->
<div class="printfooter">
Retrieved from "<a href="http://opensees.berkeley.edu/wiki/index.php/Triple_Friction_Pendulum">http://opensees.berkeley.edu/wiki/index.php/Triple_Friction_Pendulum</a>"</div>
		<div id='catlinks' class='catlinks catlinks-allhidden'></div>		<!-- end content -->
				<div class="visualClear"></div>
	</div>
</div></div>
<div id="column-one">
	<div id="p-cactions" class="portlet">
		<h5>Views</h5>
		<div class="pBody">
			<ul>
				 <li id="ca-nstab-main" class="selected"><a href="/wiki/index.php/Triple_Friction_Pendulum" title="View the content page [c]" accesskey="c">Page</a></li>
				 <li id="ca-talk" class="new"><a href="/wiki/index.php?title=Talk:Triple_Friction_Pendulum&amp;action=edit&amp;redlink=1" title="Discussion about the content page [t]" accesskey="t">Discussion</a></li>
				 <li id="ca-viewsource"><a href="/wiki/index.php?title=Triple_Friction_Pendulum&amp;action=edit" title="This page is protected.&#10;You can view its source [e]" accesskey="e">View source</a></li>
				 <li id="ca-history"><a href="/wiki/index.php?title=Triple_Friction_Pendulum&amp;action=history" title="Past revisions of this page [h]" accesskey="h">History</a></li>
			</ul>
		</div>
	</div>
	<div class="portlet" id="p-personal">
		<h5>Personal tools</h5>
		<div class="pBody">
			<ul>
				<li id="pt-login"><a href="/wiki/index.php?title=Special:UserLogin&amp;returnto=Triple_Friction_Pendulum" title="You are encouraged to log in; however, it is not mandatory [o]" accesskey="o">Log in / create account</a></li>
			</ul>
		</div>
	</div>
	<div class="portlet" id="p-logo">
		<a style="background-image: url(/wiki/skins/common/images/logo.png);" href="/wiki/index.php/Main_Page" title="Visit the main page"></a>
	</div>
	<script type="text/javascript"> if (window.isMSIE55) fixalpha(); </script>
	<div class='generated-sidebar portlet' id='p-navigation'>
		<h5>Navigation</h5>
		<div class='pBody'>
			<ul>
				<li id="n-OpenSees-Home"><a href="http://opensees.berkeley.edu">OpenSees Home</a></li>
				<li id="n-Message-Board"><a href="http://opensees.berkeley.edu/index.php">Message Board</a></li>
				<li id="n-OpenSees-Wiki"><a href="http://opensees.berkeley.edu/wiki/index.php">OpenSees Wiki</a></li>
				<li id="n-User-Documetation"><a href="http://opensees.berkeley.edu/wiki/index.php/OpenSees_User">User Documetation</a></li>
				<li id="n-Download-Page"><a href="http://opensees.berkeley.edu/OpenSees/user/download.php">Download Page</a></li>
				<li id="n-Source-Code"><a href="http://opensees.berkeley.edu/WebSVN/listing.php?repname=OpenSees&amp;path=%2Ftrunk%2FSRC">Source Code</a></li>
			</ul>
		</div>
	</div>
	<div id="p-search" class="portlet">
		<h5><label for="searchInput">Search</label></h5>
		<div id="searchBody" class="pBody">
			<form action="/wiki/index.php" id="searchform">
				<input type='hidden' name="title" value="Special:Search"/>
				<input id="searchInput" title="Search OpenSeesWiki" accesskey="f" type="search" name="search" />
				<input type='submit' name="go" class="searchButton" id="searchGoButton"	value="Go" title="Go to a page with this exact name if exists" />&nbsp;
				<input type='submit' name="fulltext" class="searchButton" id="mw-searchButton" value="Search" title="Search the pages for this text" />
			</form>
		</div>
	</div>
	<div class="portlet" id="p-tb">
		<h5>Toolbox</h5>
		<div class="pBody">
			<ul>
				<li id="t-whatlinkshere"><a href="/wiki/index.php/Special:WhatLinksHere/Triple_Friction_Pendulum" title="List of all wiki pages that link here [j]" accesskey="j">What links here</a></li>
				<li id="t-recentchangeslinked"><a href="/wiki/index.php/Special:RecentChangesLinked/Triple_Friction_Pendulum" title="Recent changes in pages linked from this page [k]" accesskey="k">Related changes</a></li>
<li id="t-specialpages"><a href="/wiki/index.php/Special:SpecialPages" title="List of all special pages [q]" accesskey="q">Special pages</a></li>
				<li id="t-print"><a href="/wiki/index.php?title=Triple_Friction_Pendulum&amp;printable=yes" rel="alternate" title="Printable version of this page [p]" accesskey="p">Printable version</a></li>				<li id="t-permalink"><a href="/wiki/index.php?title=Triple_Friction_Pendulum&amp;oldid=9907" title="Permanent link to this revision of the page">Permanent link</a></li>			</ul>
		</div>
	</div>
</div><!-- end of the left (by default at least) column -->
<div class="visualClear"></div>
<div id="footer">
	<div id="f-poweredbyico"><a href="http://www.mediawiki.org/"><img src="/wiki/skins/common/images/poweredby_mediawiki_88x31.png" height="31" width="88" alt="Powered by MediaWiki" /></a></div>
	<ul id="f-list">
		<li id="lastmod"> This page was last modified on 15 August 2012, at 22:32.</li>
		<li id="viewcount">This page has been accessed 787 times.</li>
		<li id="privacy"><a href="/wiki/index.php/OpenSeesWiki:Privacy_policy" title="OpenSeesWiki:Privacy policy">Privacy policy</a></li>
		<li id="about"><a href="/wiki/index.php/OpenSeesWiki:About" title="OpenSeesWiki:About">About OpenSeesWiki</a></li>
		<li id="disclaimer"><a href="/wiki/index.php/OpenSeesWiki:General_disclaimer" title="OpenSeesWiki:General disclaimer">Disclaimers</a></li>
	</ul>
</div>
</div>

<script>if (window.runOnloadHook) runOnloadHook();</script>
<!-- Served in 0.363 secs. --><script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
		  var pageTracker = _gat._getTracker("UA-2431545-1");
		  pageTracker._trackPageview();
		} catch(err) {}</script>

</body></html>
