</ul></div><p><div class='dtree' id='sidebartree'>
								<script type="text/javascript">/*<![CDATA[*/
									// TreeAndMenu1.1.1, 2009-07-29
									tree = new dTree('tamsidebartree');
									for (i in tree.icon) tree.icon[i] = '/wiki/extensions/TreeAndMenu/'+tree.icon[i];
									tree.config.useLines = false;
									tree.add(0,-1,'<a href=\"/wiki/index.php/Main_Page\" title=\"Main Page\"> OpenSees Wiki</a>');
									tamsidebartree = tree;
									tamsidebartree.add(1, 0, '<a href="http://opensees.berkeley.edu" class="external text" rel="nofollow">Main_Page</a>');
tamsidebartree.add(2, 0, '<a href="/wiki/index.php/Main_Page" title="Main Page"> OpenSees Wiki</a>');
tamsidebartree.add(3, 0, '<a href="http://opensees.berkeley.edu/community/index.php" class="external text" rel="nofollow">Message Board</a>');
tamsidebartree.add(4, 0, '<a href="/wiki/index.php/Command_Manual" title="Command Manual">Command_Manual</a>');
tamsidebartree.add(5, 4, '<a href="/wiki/index.php/Modeling_Commands" title="Modeling Commands">Modeling_Commands</a>');
tamsidebartree.add(6, 5, '<a href="/wiki/index.php/Model_command" title="Model command"> model </a>');
tamsidebartree.add(7, 5, '<a href="/wiki/index.php/UniaxialMaterial_Command" title="UniaxialMaterial Command"> uniaxialMaterial</a>');
tamsidebartree.add(8, 5, '<a href="/wiki/index.php/NDMaterial_Command" title="NDMaterial Command"> ndMaterial</a>');
tamsidebartree.add(9, 5, '<a href="/wiki/index.php/FrictionModel_Command" title="FrictionModel Command"> frictionModel</a>');
tamsidebartree.add(10, 5, '<a href="/wiki/index.php/Section_Command" title="Section Command"> section</a>');
tamsidebartree.add(11, 5, '<a href="/wiki/index.php/Geometric_Transformation_Command" title="Geometric Transformation Command"> geometricTransf</a>');
tamsidebartree.add(12, 5, '<a href="/wiki/index.php/Element_Command" title="Element Command">element</a>');
tamsidebartree.add(13, 5, '<a href="/wiki/index.php/Node_command" title="Node command"> node</a>');
tamsidebartree.add(14, 5, ' sp commands');
tamsidebartree.add(15, 14, ' <a href="/wiki/index.php/Fix_command" title="Fix command"> fix</a>');
tamsidebartree.add(16, 14, ' <a href="/wiki/index.php/FixX_command" title="FixX command"> fixX</a>');
tamsidebartree.add(17, 14, ' <a href="/wiki/index.php/FixY_command" title="FixY command"> fixY</a>');
tamsidebartree.add(18, 14, ' <a href="/wiki/index.php/FixZ_command" title="FixZ command"> fixZ</a>');
tamsidebartree.add(19, 5, ' mp commands');
tamsidebartree.add(20, 19, ' <a href="/wiki/index.php/EqualDOF_command" title="EqualDOF command"> equalDOF</a>');
tamsidebartree.add(21, 19, ' <a href="/wiki/index.php/RigidDiaphragm_command" title="RigidDiaphragm command"> rigidDiaphragm</a>');
tamsidebartree.add(22, 19, ' <a href="/wiki/index.php/RigidLink_command" title="RigidLink command"> rigidLink</a>');
tamsidebartree.add(23, 5, '<a href="/wiki/index.php/Time_Series_Command" title="Time Series Command"> timeSeries</a>');
tamsidebartree.add(24, 5, '<a href="/wiki/index.php/Pattern_Command" title="Pattern Command">pattern</a>');
tamsidebartree.add(25, 5, '<a href="/wiki/index.php/Mass_Command" title="Mass Command"> mass</a>');
tamsidebartree.add(26, 5, ' block commands');
tamsidebartree.add(27, 26, ' <a href="/wiki/index.php/Block2D_Command" title="Block2D Command"> block2D</a>');
tamsidebartree.add(28, 26, ' <a href="/wiki/index.php/Block3D_Command" title="Block3D Command"> block3D</a>');
tamsidebartree.add(29, 5, '<a href="/wiki/index.php/Region_Command" title="Region Command"> region</a>');
tamsidebartree.add(30, 5, '<a href="/wiki/index.php/Rayleigh_Damping_Command" title="Rayleigh Damping Command">rayleigh</a>');
tamsidebartree.add(31, 4, '<a href="/wiki/index.php/Analysis_Commands" title="Analysis Commands">Analysis Commands</a>');
tamsidebartree.add(32, 31, '<a href="/wiki/index.php/Constraints_Command" title="Constraints Command">constraints Command</a>');
tamsidebartree.add(33, 31, '<a href="/wiki/index.php/Numberer_Command" title="Numberer Command">numberer Command</a>');
tamsidebartree.add(34, 31, '<a href="/wiki/index.php/System_Command" title="System Command">system Command</a>');
tamsidebartree.add(35, 31, '<a href="/wiki/index.php/Test_Command" title="Test Command">test Command</a>');
tamsidebartree.add(36, 31, '<a href="/wiki/index.php/Algorithm_Command" title="Algorithm Command">algorithm Command</a>');
tamsidebartree.add(37, 31, '<a href="/wiki/index.php/Integrator_Command" title="Integrator Command">integrator Command</a>');
tamsidebartree.add(38, 31, '<a href="/wiki/index.php/Analysis_Command" title="Analysis Command">analysis Command</a>');
tamsidebartree.add(39, 31, '<a href="/wiki/index.php/Eigen_Command" title="Eigen Command">eigen Command</a>');
tamsidebartree.add(40, 31, '<a href="/wiki/index.php/Analyze_Command" title="Analyze Command">analyze Command</a>');
tamsidebartree.add(41, 4, '<a href="/wiki/index.php/Output_Commands" title="Output Commands">Output Commands</a>');
tamsidebartree.add(42, 41, '<a href="/wiki/index.php/Recorder_Command" title="Recorder Command"> recorder</a>');
tamsidebartree.add(43, 41, '<a href="/wiki/index.php/Record_Command" title="Record Command"> record</a>');
tamsidebartree.add(44, 41, '<a href="/wiki/index.php/Print_Command" title="Print Command"> print</a>');
tamsidebartree.add(45, 41, '<a href="/wiki/index.php/LogFile_Command" title="LogFile Command"> logFile</a>');
tamsidebartree.add(46, 41, '<a href="/wiki/index.php/RealTime_Output_Commands" title="RealTime Output Commands">RealTime_Output_Commands</a>');
tamsidebartree.add(47, 4, '<a href="/wiki/index.php/Misc_Commands" title="Misc Commands">Misc Commands</a>');
tamsidebartree.add(48, 47, '<a href="/wiki/index.php/EleResponse_Command" title="EleResponse Command">eleResponse Command</a>');
tamsidebartree.add(49, 47, '<a href="/wiki/index.php/GetTime_Command" title="GetTime Command">getTime Command</a>');
tamsidebartree.add(50, 47, '<a href="/wiki/index.php?title=GetEleTags_Command&amp;action=edit&amp;redlink=1" class="new" title="GetEleTags Command (page does not exist)">getEleTags Command</a>');
tamsidebartree.add(51, 47, '<a href="/wiki/index.php?title=GetNodeTags&amp;action=edit&amp;redlink=1" class="new" title="GetNodeTags (page does not exist)">getNodeTags</a>');
tamsidebartree.add(52, 47, '<a href="/wiki/index.php/LoadConst_Command" title="LoadConst Command">loadConst Command</a>');
tamsidebartree.add(53, 47, '<a href="/wiki/index.php/NodeCoord_Command" title="NodeCoord Command">nodeCoord Command</a>');
tamsidebartree.add(54, 47, '<a href="/wiki/index.php/NodeDisp_Command" title="NodeDisp Command">nodeDisp Command</a>');
tamsidebartree.add(55, 47, '<a href="/wiki/index.php/NodeVel_Command" title="NodeVel Command">nodeVel Command</a>');
tamsidebartree.add(56, 47, '<a href="/wiki/index.php/NodeAccel_Command" title="NodeAccel Command">nodeAccel Command</a>');
tamsidebartree.add(57, 47, '<a href="/wiki/index.php/NodeEigenvector_Command" title="NodeEigenvector Command">nodeEigenvector Command</a>');
tamsidebartree.add(58, 47, '<a href="/wiki/index.php/NodeBounds" title="NodeBounds">nodeBounds</a>');
tamsidebartree.add(59, 47, '<a href="/wiki/index.php/Print_Command" title="Print Command">print Command</a>');
tamsidebartree.add(60, 47, '<a href="/wiki/index.php/Remove_Command" title="Remove Command">remove Command</a>');
tamsidebartree.add(61, 47, '<a href="/wiki/index.php/Reset_Command" title="Reset Command">reset Command</a>');
tamsidebartree.add(62, 47, '<a href="/wiki/index.php/TestIter" title="TestIter">testIter</a>');
tamsidebartree.add(63, 47, '<a href="/wiki/index.php/TestNorms" title="TestNorms">testNorms</a>');
tamsidebartree.add(64, 47, '<a href="/wiki/index.php/Wipe_Command" title="Wipe Command">wipe Command</a>');
tamsidebartree.add(65, 47, '<a href="/wiki/index.php/Exit_Command" title="Exit Command">exit Command</a>');
tamsidebartree.add(66, 0, '<a href="/wiki/index.php/OpenSees_User" title="OpenSees User"> User Pages</a>');
tamsidebartree.add(67, 0, '<a href="/wiki/index.php/OpenSees_Developer" title="OpenSees Developer"> Developer Pages</a>');

									document.getElementById('sidebartree').innerHTML = tamsidebartree.toString();
									
								/*]]>*/</script>
							</div>
</p><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" dir="ltr">
<head>
<title>ZeroLengthInterface2D - OpenSeesWiki</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="generator" content="MediaWiki 1.17alpha" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="search" type="application/opensearchdescription+xml" href="/wiki/opensearch_desc.php" title="OpenSeesWiki (en)" />
<link rel="alternate" type="application/atom+xml" title="OpenSeesWiki Atom feed" href="/wiki/index.php?title=Special:RecentChanges&amp;feed=atom" />
<link rel="stylesheet" href="/wiki/skins/common/shared.css?267" media="screen" />
<link rel="stylesheet" href="/wiki/skins/common/commonPrint.css?267" media="print" />
<link rel="stylesheet" href="/wiki/skins/monobook/main.css?267" media="screen" />
<!--[if lt IE 5.5000]><link rel="stylesheet" href="/wiki/skins/monobook/IE50Fixes.css?267" media="screen" /><![endif]-->
<!--[if IE 5.5000]><link rel="stylesheet" href="/wiki/skins/monobook/IE55Fixes.css?267" media="screen" /><![endif]-->
<!--[if IE 6]><link rel="stylesheet" href="/wiki/skins/monobook/IE60Fixes.css?267" media="screen" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" href="/wiki/skins/monobook/IE70Fixes.css?267" media="screen" /><![endif]-->
<link rel="stylesheet" href="/wiki/index.php?title=MediaWiki:Common.css&amp;usemsgcache=yes&amp;ctype=text%2Fcss&amp;smaxage=18000&amp;action=raw&amp;maxage=18000" />
<link rel="stylesheet" href="/wiki/index.php?title=MediaWiki:Print.css&amp;usemsgcache=yes&amp;ctype=text%2Fcss&amp;smaxage=18000&amp;action=raw&amp;maxage=18000" media="print" />
<link rel="stylesheet" href="/wiki/index.php?title=MediaWiki:Monobook.css&amp;usemsgcache=yes&amp;ctype=text%2Fcss&amp;smaxage=18000&amp;action=raw&amp;maxage=18000" />
<link rel="stylesheet" href="/wiki/index.php?title=-&amp;action=raw&amp;maxage=18000&amp;gen=css" />
<script>
var skin="monobook",
stylepath="/wiki/skins",
wgUrlProtocols="http\\:\\/\\/|https\\:\\/\\/|ftp\\:\\/\\/|irc\\:\\/\\/|gopher\\:\\/\\/|telnet\\:\\/\\/|nntp\\:\\/\\/|worldwind\\:\\/\\/|mailto\\:|news\\:|svn\\:\\/\\/",
wgArticlePath="/wiki/index.php/$1",
wgScriptPath="/wiki",
wgScriptExtension=".php",
wgScript="/wiki/index.php",
wgVariantArticlePath=false,
wgActionPaths={},
wgServer="http://opensees.berkeley.edu",
wgCanonicalNamespace="",
wgCanonicalSpecialPageName=false,
wgNamespaceNumber=0,
wgPageName="ZeroLengthInterface2D",
wgTitle="ZeroLengthInterface2D",
wgAction="view",
wgArticleId=2120,
wgIsArticle=true,
wgUserName=null,
wgUserGroups=null,
wgUserLanguage="en",
wgContentLanguage="en",
wgBreakFrames=false,
wgCurRevisionId=5949,
wgVersion="1.17alpha",
wgEnableAPI=true,
wgEnableWriteAPI=true,
wgSeparatorTransformTable=["", ""],
wgDigitTransformTable=["", ""],
wgMainPageTitle="Main Page",
wgFormattedNamespaces={"-2": "Media", "-1": "Special", "0": "", "1": "Talk", "2": "User", "3": "User talk", "4": "OpenSeesWiki", "5": "OpenSeesWiki talk", "6": "File", "7": "File talk", "8": "MediaWiki", "9": "MediaWiki talk", "10": "Template", "11": "Template talk", "12": "Help", "13": "Help talk", "14": "Category", "15": "Category talk"},
wgNamespaceIds={"media": -2, "special": -1, "": 0, "talk": 1, "user": 2, "user_talk": 3, "openseeswiki": 4, "openseeswiki_talk": 5, "file": 6, "file_talk": 7, "mediawiki": 8, "mediawiki_talk": 9, "template": 10, "template_talk": 11, "help": 12, "help_talk": 13, "category": 14, "category_talk": 15, "image": 6, "image_talk": 7},
wgSiteName="OpenSeesWiki",
wgCategories=[],
wgRestrictionEdit=[],
wgRestrictionMove=[];
</script><script src="/wiki/skins/common/wikibits.js?267"></script>
<script type="text/javascript" src="/wiki/extensions/TreeAndMenu/dtree.js"><!-- TreeAndMenu --></script>

<script src="/wiki/skins/common/ajax.js?267"></script>
<script src="/wiki/index.php?title=-&amp;action=raw&amp;gen=js&amp;useskin=monobook&amp;267"></script>

</head>
<body class="mediawiki ltr ns-0 ns-subject page-ZeroLengthInterface2D skin-monobook">
<div id="globalWrapper">
<div id="column-content"><div id="content" >
	<a id="top"></a>
	
	<h1 id="firstHeading" class="firstHeading">ZeroLengthInterface2D</h1>
	<div id="bodyContent">
		<h3 id="siteSub">From OpenSeesWiki</h3>
		<div id="contentSub"></div>
		<div id="jump-to-nav">Jump to: <a href="#column-one">navigation</a>, <a href="#searchInput">search</a></div>
		<!-- start content -->
<p>
							<ul class='dmenu' id='509744f609b04'>
<li class="even"><a href="/wiki/index.php/Command_Manual" >Command_Manual</a>
<ul><li class="even"><a href="/wiki/index.php/Introduction_To_Tcl" > Tcl Commands</a></li>
<li class="odd"><a href="/wiki/index.php/Modeling_Commands" >Modeling_Commands</a>
<ul><li class="even"><a href="/wiki/index.php/Model_command" > model </a></li>
<li class="odd"><a href="/wiki/index.php/UniaxialMaterial_Command" > uniaxialMaterial</a></li>
<li class="even"><a href="/wiki/index.php/NDMaterial_Command" > ndMaterial</a></li>
<li class="odd"><a href="/wiki/index.php/FrictionModel_Command" > frictionModel</a></li>
<li class="even"><a href="/wiki/index.php/Section_Command" > section</a></li>
<li class="odd"><a href="/wiki/index.php/Geometric_Transformation_Command" > geometricTransf</a></li>
<li class="even"><a href="/wiki/index.php/Element_Command" >element</a></li>
<li class="odd"><a href="/wiki/index.php/Node_command" > node</a></li>
<li class="even"> sp commands
<ul><li class="even"> <a href="/wiki/index.php/Fix_command" > fix</a></li>
<li class="odd"> <a href="/wiki/index.php/FixX_command" > fixX</a></li>
<li class="even"> <a href="/wiki/index.php/FixY_command" > fixY</a></li>
<li class="odd"> <a href="/wiki/index.php/FixZ_command" > fixZ</a></li>
</ul></li><li class="odd"> mp commands
<ul><li class="even"> <a href="/wiki/index.php/EqualDOF_command" > equalDOF</a></li>
<li class="odd"> <a href="/wiki/index.php/RigidDiaphragm_command" > rigidDiaphragm</a></li>
<li class="even"> <a href="/wiki/index.php/RigidLink_command" > rigidLink</a></li>
</ul></li><li class="even"><a href="/wiki/index.php/Time_Series_Command" > timeSeries</a></li>
<li class="odd"><a href="/wiki/index.php/Pattern_Command" >pattern</a></li>
<li class="even"><a href="/wiki/index.php/Mass_Command" > mass</a></li>
<li class="odd"> block commands
<ul><li class="odd"> <a href="/wiki/index.php/Block2D_Command" > block2D</a></li>
<li class="even"> <a href="/wiki/index.php/Block3D_Command" > block3D</a></li>
</ul></li><li class="even"><a href="/wiki/index.php/Region_Command" > region</a></li>
<li class="odd"><a href="/wiki/index.php/Rayleigh_Damping_Command" >rayleigh</a></li>
</ul></li><li class="even"><a href="/wiki/index.php/Analysis_Commands" >Analysis Commands</a>
<ul><li class="even"><a href="/wiki/index.php/Constraints_Command" >constraints Command</a></li>
<li class="odd"><a href="/wiki/index.php/Numberer_Command" >numberer Command</a></li>
<li class="even"><a href="/wiki/index.php/System_Command" >system Command</a></li>
<li class="odd"><a href="/wiki/index.php/Test_Command" >test Command</a></li>
<li class="even"><a href="/wiki/index.php/Algorithm_Command" >algorithm Command</a></li>
<li class="odd"><a href="/wiki/index.php/Integrator_Command" >integrator Command</a></li>
<li class="even"><a href="/wiki/index.php/Analysis_Command" >analysis Command</a></li>
<li class="odd"><a href="/wiki/index.php/Eigen_Command" >eigen Command</a></li>
<li class="even"><a href="/wiki/index.php/Analyze_Command" >analyze Command</a></li>
</ul></li><li class="odd"><a href="/wiki/index.php/Output_Commands" >Output Commands</a>
<ul><li class="odd"><a href="/wiki/index.php/Recorder_Command" > recorder</a></li>
<li class="even"><a href="/wiki/index.php/Record_Command" > record</a></li>
<li class="odd"><a href="/wiki/index.php/Print_Command" > print</a></li>
<li class="even"><a href="/wiki/index.php/LogFile_Command" > logFile</a></li>
<li class="odd"><a href="/wiki/index.php/RealTime_Output_Commands" >RealTime_Output_Commands</a></li>
</ul></li><li class="even"><a href="/wiki/index.php/Misc_Commands" >Misc Commands</a>
<ul><li class="even"><a href="/wiki/index.php/EleResponse_Command" >eleResponse Command</a></li>
<li class="odd"><a href="/wiki/index.php/GetTime_Command" >getTime Command</a></li>
<li class="even"><a href="/wiki/index.php?title=GetEleTags_Command&amp;action=edit&amp;redlink=1" class="new" >getEleTags Command</a></li>
<li class="odd"><a href="/wiki/index.php?title=GetNodeTags&amp;action=edit&amp;redlink=1" class="new" >getNodeTags</a></li>
<li class="even"><a href="/wiki/index.php/LoadConst_Command" >loadConst Command</a></li>
<li class="odd"><a href="/wiki/index.php/NodeCoord_Command" >nodeCoord Command</a></li>
<li class="even"><a href="/wiki/index.php/NodeDisp_Command" >nodeDisp Command</a></li>
<li class="odd"><a href="/wiki/index.php/NodeVel_Command" >nodeVel Command</a></li>
<li class="even"><a href="/wiki/index.php/NodeAccel_Command" >nodeAccel Command</a></li>
<li class="odd"><a href="/wiki/index.php/NodeEigenvector_Command" >nodeEigenvector Command</a></li>
<li class="even"><a href="/wiki/index.php/NodeBounds" >nodeBounds</a></li>
<li class="odd"><a href="/wiki/index.php/Print_Command" >print Command</a></li>
<li class="even"><a href="/wiki/index.php/Remove_Command" >remove Command</a></li>
<li class="odd"><a href="/wiki/index.php/Reset_Command" >reset Command</a></li>
<li class="even"><a href="/wiki/index.php/TestIter" >testIter</a></li>
<li class="odd"><a href="/wiki/index.php/TestNorms" >testNorms</a></li>
<li class="even"><a href="/wiki/index.php/Wipe_Command" >wipe Command</a></li>
<li class="odd"><a href="/wiki/index.php/Exit_Command" >exit Command</a></li>
</ul></li><li class="odd"><a href="/wiki/index.php/DataBase_Commands" >DataBase Commands</a>
<ul><li class="even"><a href="/wiki/index.php?title=Template:DataBaseCommandsMenu&amp;action=edit&amp;redlink=1" class="new" >Template:DataBaseCommandsMenu</a></li>
</ul></li></ul></li></ul>
							<script type="text/javascript">/*<![CDATA[*/
								if (window.attachEvent) {
									var sfEls = document.getElementById('509744f609b04').getElementsByTagName('li');
									for (var i=0; i<sfEls.length; i++) {
										sfEls[i].onmouseover=function() { this.className+=' sfhover'; }
										sfEls[i].onmouseout=function()  { this.className=this.className.replace(new RegExp(' sfhover *'),''); }
									}
								}
							/*]]>*/</script>
							
<br />
</p>
<hr />
<p><br />
</p><p>zeroLengthInterface2D is Node-to-Segment (NTS) frictional contact element used in two dimensional analysis for contact between elements. Please notice that any number of DOF (DOF&gt;1) can be handled using this element (i.e. beam-solid, solid-solid as well as beam-beam contact) as oppose to zeroLengthContactNTS2D element). 
</p>
<table>
<tr>
<td style="background:yellow; color:black; width:840px"> <b>element zeroLengthInterface2D $eleTag -sNdNum $sNdNum -mNdNum $mNdNum –dof $sdof $mdof -Nodes $Nodes $Kn $Kt $phi</b>
</td></tr></table>
<p><br />
</p>
<hr />
<p><br />
</p>
<table>
<tr>
<td style="width:150px"> <b>$eleTag</b> </td><td> unique element object tag
</td></tr>
<tr>
<td> <b>$sNdNum</b> </td><td> Number of Slave Nodes
</td></tr>
<tr>
<td> <b>$mNdNum</b> </td><td> Number of Master nodes
</td></tr>
<tr>
<td> <b>$$sdof $mdof</b> </td><td> Slave and Master degree of freedom
</td></tr>
<tr>
<td> <b>$Nodes ...</b> </td><td> Slave and master node tags respectively
</td></tr>
<tr>
<td> <b>$Kn</b> </td><td> Penalty in normal direction
</td></tr>
<tr>
<td> <b>$Kt</b> </td><td> Penalty in tangential direction
</td></tr>
<tr>
<td> <b>$phi</b> </td><td> Friction angle in degrees
</td></tr></table>
<p><b>NOTES:</b>
</p>
<ol><li> The contact element is node-to-segment (NTS) contact. The relation follows Mohr-Coulomb frictional law: <img class="tex" alt="T = N \times tan(\phi)" src="/wiki/images/math/f/8/8/f88ec98dde38a032c9958d61521609eb.png" />, where <span class="texhtml"><i>T</i></span> is the tangential force, <span class="texhtml"><i>N</i></span> is normal force across the interface and <img class="tex" alt="\phi\,\!" src="/wiki/images/math/b/f/d/bfd070bbf4b8539e9b3af50740384bf6.png" /> is friction angle.
</li><li> For 2D contact, slave nodes and master nodes must be 2 DOF and notice that the slave and master nodes must be entered in counterclockwise order.
</li><li> The resulting tangent from the contact element is non-symmetric. Switch to the non-symmetric matrix solver if convergence problem is experienced. 
</li><li> As opposed to node-to-node contact, predefined normal vector for node-to-segment (NTS) element is not required because contact normal will be calculated automatically at each step. And also this element can handle contact between different DOFs such as beam-beam, beam-solid and solid-solid.
</li><li> contact element is implemented to handle large deformations.
</li></ol>
<p><b>EXAMPLE:</b>
</p><p><a href="/wiki/index.php/File:ZeroLengthInterface2D_fig1.jpg" class="image"><img alt="ZeroLengthInterface2D fig1.jpg" src="/wiki/images/a/ac/ZeroLengthInterface2D_fig1.jpg" width="573" height="270" /></a> 
</p><p>element zeroLengthInterface2D 1 -sNdNum 6 -mNdNum 6 –dof 2 3 -Nodes 5 10 12 3 9 11 1 4 2 8 7 3 1e8 1e8 16
</p><p><b>Example 1:</b>
</p><p>This example simply shows the quadrilateral elements in normal contact on top of beam element. The top element is in normal downward uniform force. The Tcl script of this example can be found <a href="/wiki/index.php/ZeroLengthInterface2D_Example1" title="ZeroLengthInterface2D Example1">here</a>. 
</p><p><a href="/wiki/index.php/File:ZeroLengthInterface2D_fig2.jpg" class="image"><img alt="ZeroLengthInterface2D fig2.jpg" src="/wiki/images/1/10/ZeroLengthInterface2D_fig2.jpg" width="496" height="174" /></a>  
</p><p><b>Example 2:</b>
</p><p>This example shows two cantilever beams in contact. The beams were modeled using four-node quadrilateral elements and the end of top beam was subjected to a linearly increasing displacement. 
The Tcl scripts for this example can be found <a href="/wiki/index.php/ZeroLengthInterface2D_Example2" title="ZeroLengthInterface2D Example2">here</a>. 
</p><p><a href="/wiki/index.php/File:ZeroLengthContactNTS2D_fig3.jpg" class="image"><img alt="ZeroLengthContactNTS2D fig3.jpg" src="/wiki/images/8/8d/ZeroLengthContactNTS2D_fig3.jpg" width="691" height="200" /></a> 
</p><p>The following Figure shows the deflections of the two beams.
</p><p><a href="/wiki/index.php/File:ZeroLengthContactNTS2D_fig4.jpg" class="image"><img alt="ZeroLengthContactNTS2D fig4.jpg" src="/wiki/images/7/70/ZeroLengthContactNTS2D_fig4.jpg" width="460" height="232" /></a> 
</p><p><b>REFERENCES:</b>
</p>
<ol><li> P. Wriggers, V.T. Vu and E. Stein, Finite-element formulation of large deformation impact–contact problems with friction, Comput. Struct. 37 (1990), pp. 319–331.
</li><li> Peter Wriggers. Computational Contact Mechanics. John Wiley &amp; Sons Ltd. Chichester, 2002.
</li></ol>
<hr />
<p>Code Developed by: <span style="color:blue"> <a href="http://www2.decf.berkeley.edu/~roozbehg/index.html" class="external text" rel="nofollow">Roozbeh G. Mikola</a>, UC Berkeley</span> and <span style="color:blue"> <a href="http://www.ce.berkeley.edu/~sitar/" class="external text" rel="nofollow">N. Sitar</a>, UC Berkeley</span>
</p>
<!-- 
NewPP limit report
Preprocessor node count: 27/1000000
Post-expand include size: 12245/2097152 bytes
Template argument size: 0/2097152 bytes
Expensive parser function count: 0/100
-->

<!-- Saved in parser cache with key mediawiki-mediawiki:pcache:idhash:2120-0!1!0!!en!2!edit=0 and timestamp 20121105044750 -->
<div class="printfooter">
Retrieved from "<a href="http://opensees.berkeley.edu/wiki/index.php/ZeroLengthInterface2D">http://opensees.berkeley.edu/wiki/index.php/ZeroLengthInterface2D</a>"</div>
		<div id='catlinks' class='catlinks catlinks-allhidden'></div>		<!-- end content -->
				<div class="visualClear"></div>
	</div>
</div></div>
<div id="column-one">
	<div id="p-cactions" class="portlet">
		<h5>Views</h5>
		<div class="pBody">
			<ul>
				 <li id="ca-nstab-main" class="selected"><a href="/wiki/index.php/ZeroLengthInterface2D" title="View the content page [c]" accesskey="c">Page</a></li>
				 <li id="ca-talk" class="new"><a href="/wiki/index.php?title=Talk:ZeroLengthInterface2D&amp;action=edit&amp;redlink=1" title="Discussion about the content page [t]" accesskey="t">Discussion</a></li>
				 <li id="ca-viewsource"><a href="/wiki/index.php?title=ZeroLengthInterface2D&amp;action=edit" title="This page is protected.&#10;You can view its source [e]" accesskey="e">View source</a></li>
				 <li id="ca-history"><a href="/wiki/index.php?title=ZeroLengthInterface2D&amp;action=history" title="Past revisions of this page [h]" accesskey="h">History</a></li>
			</ul>
		</div>
	</div>
	<div class="portlet" id="p-personal">
		<h5>Personal tools</h5>
		<div class="pBody">
			<ul>
				<li id="pt-login"><a href="/wiki/index.php?title=Special:UserLogin&amp;returnto=ZeroLengthInterface2D" title="You are encouraged to log in; however, it is not mandatory [o]" accesskey="o">Log in / create account</a></li>
			</ul>
		</div>
	</div>
	<div class="portlet" id="p-logo">
		<a style="background-image: url(/wiki/skins/common/images/logo.png);" href="/wiki/index.php/Main_Page" title="Visit the main page"></a>
	</div>
	<script type="text/javascript"> if (window.isMSIE55) fixalpha(); </script>
	<div class='generated-sidebar portlet' id='p-navigation'>
		<h5>Navigation</h5>
		<div class='pBody'>
			<ul>
				<li id="n-OpenSees-Home"><a href="http://opensees.berkeley.edu">OpenSees Home</a></li>
				<li id="n-Message-Board"><a href="http://opensees.berkeley.edu/index.php">Message Board</a></li>
				<li id="n-OpenSees-Wiki"><a href="http://opensees.berkeley.edu/wiki/index.php">OpenSees Wiki</a></li>
				<li id="n-User-Documetation"><a href="http://opensees.berkeley.edu/wiki/index.php/OpenSees_User">User Documetation</a></li>
				<li id="n-Download-Page"><a href="http://opensees.berkeley.edu/OpenSees/user/download.php">Download Page</a></li>
				<li id="n-Source-Code"><a href="http://opensees.berkeley.edu/WebSVN/listing.php?repname=OpenSees&amp;path=%2Ftrunk%2FSRC">Source Code</a></li>
			</ul>
		</div>
	</div>
	<div id="p-search" class="portlet">
		<h5><label for="searchInput">Search</label></h5>
		<div id="searchBody" class="pBody">
			<form action="/wiki/index.php" id="searchform">
				<input type='hidden' name="title" value="Special:Search"/>
				<input id="searchInput" title="Search OpenSeesWiki" accesskey="f" type="search" name="search" />
				<input type='submit' name="go" class="searchButton" id="searchGoButton"	value="Go" title="Go to a page with this exact name if exists" />&nbsp;
				<input type='submit' name="fulltext" class="searchButton" id="mw-searchButton" value="Search" title="Search the pages for this text" />
			</form>
		</div>
	</div>
	<div class="portlet" id="p-tb">
		<h5>Toolbox</h5>
		<div class="pBody">
			<ul>
				<li id="t-whatlinkshere"><a href="/wiki/index.php/Special:WhatLinksHere/ZeroLengthInterface2D" title="List of all wiki pages that link here [j]" accesskey="j">What links here</a></li>
				<li id="t-recentchangeslinked"><a href="/wiki/index.php/Special:RecentChangesLinked/ZeroLengthInterface2D" title="Recent changes in pages linked from this page [k]" accesskey="k">Related changes</a></li>
<li id="t-specialpages"><a href="/wiki/index.php/Special:SpecialPages" title="List of all special pages [q]" accesskey="q">Special pages</a></li>
				<li id="t-print"><a href="/wiki/index.php?title=ZeroLengthInterface2D&amp;printable=yes" rel="alternate" title="Printable version of this page [p]" accesskey="p">Printable version</a></li>				<li id="t-permalink"><a href="/wiki/index.php?title=ZeroLengthInterface2D&amp;oldid=5949" title="Permanent link to this revision of the page">Permanent link</a></li>			</ul>
		</div>
	</div>
</div><!-- end of the left (by default at least) column -->
<div class="visualClear"></div>
<div id="footer">
	<div id="f-poweredbyico"><a href="http://www.mediawiki.org/"><img src="/wiki/skins/common/images/poweredby_mediawiki_88x31.png" height="31" width="88" alt="Powered by MediaWiki" /></a></div>
	<ul id="f-list">
		<li id="lastmod"> This page was last modified on 28 October 2010, at 20:54.</li>
		<li id="viewcount">This page has been accessed 1,356 times.</li>
		<li id="privacy"><a href="/wiki/index.php/OpenSeesWiki:Privacy_policy" title="OpenSeesWiki:Privacy policy">Privacy policy</a></li>
		<li id="about"><a href="/wiki/index.php/OpenSeesWiki:About" title="OpenSeesWiki:About">About OpenSeesWiki</a></li>
		<li id="disclaimer"><a href="/wiki/index.php/OpenSeesWiki:General_disclaimer" title="OpenSeesWiki:General disclaimer">Disclaimers</a></li>
	</ul>
</div>
</div>

<script>if (window.runOnloadHook) runOnloadHook();</script>
<!-- Served in 0.275 secs. --><script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
		  var pageTracker = _gat._getTracker("UA-2431545-1");
		  pageTracker._trackPageview();
		} catch(err) {}</script>

</body></html>
